Repository kleros/kleros-v2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kleros/maintainers-court-v2-frontend, @jaybuidl, @kleros/devs

fix: extracted IRatesConverter interface, deployment scripts L-03
  contracts/deploy/00-home-chain-arbitration-mainnet.ts
  contracts/deploy/00-home-chain-arbitration-ruler.ts
  contracts/deploy/00-home-chain-arbitration-university.ts
  contracts/deploy/00-home-chain-arbitration.ts
  contracts/deploy/utils/getContractOrDeploy.ts
  contracts/deploy/utils/klerosCoreHelper.ts
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/RatesConverter.sol
  contracts/src/arbitration/devtools/KlerosCoreRuler.sol
  contracts/src/arbitration/interfaces/IRatesConverter.sol
  contracts/src/arbitration/university/KlerosCoreUniversity.sol
  contracts/test/foundry/KlerosCore_Governance.t.sol
  contracts/test/foundry/KlerosCore_Initialization.t.sol
  contracts/test/foundry/KlerosCore_TestBase.sol
Owners: @jaybuidl

feat: arbitration pausing L-02
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassicBase.sol
  contracts/test/foundry/KlerosCore_Governance.t.sol
Owners: @jaybuidl

fix: whenNotPaused on transferBySortitionModule() L-02
  contracts/src/arbitration/KlerosCore.sol
Owners: @jaybuidl

chore: tweak optimizer settings to force KlerosCore below 24KB
  contracts/hardhat.config.ts
Owners: @jaybuidl

fix: rename BlockhashRNG.sol to BlockHashRNG.sol for case consistency
  contracts/src/rng/BlockHashRNG.sol
Owners: @jaybuidl

docs: add CLAUDE.md with development environment notes
  CLAUDE.md
Owners: @kleros/maintainers-court-v2-frontend

docs: clarify monorepo structure in CLAUDE.md
  CLAUDE.md
Owners: @kleros/maintainers-court-v2-frontend

chore: add foundry.lock for reproducible builds
  contracts/foundry.lock
Owners: @jaybuidl

docs: add coding style and work style to CLAUDE.md
  CLAUDE.md
Owners: @kleros/maintainers-court-v2-frontend

docs: rewrite CLAUDE.md in telegraphic style
  CLAUDE.md
Owners: @kleros/maintainers-court-v2-frontend

fix: linting
  contracts/deploy/utils/klerosCoreHelper.ts
Owners: @jaybuidl

feat: unstaking of the jurors having been marked as ineligible I-02
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassicBase.sol
  contracts/src/arbitration/dispute-kits/DisputeKitGated.sol
  contracts/src/arbitration/dispute-kits/DisputeKitGatedArgentinaConsumerProtection.sol
  contracts/src/arbitration/dispute-kits/DisputeKitGatedShutter.sol
  contracts/src/arbitration/dispute-kits/DisputeKitSybilResistant.sol
  contracts/src/arbitration/interfaces/IDisputeKit.sol
  contracts/src/libraries/EnumerableSet.sol
Owners: @jaybuidl

feat: court-specific token gate whitelist
  contracts/src/arbitration/dispute-kits/DisputeKitGated.sol
  contracts/src/arbitration/dispute-kits/DisputeKitGatedShutter.sol
  contracts/src/test/DisputeKitGatedMock.sol
  contracts/src/test/DisputeKitGatedShutterMock.sol
  contracts/test/arbitration/helpers/dispute-kit-gated-common.ts
  contracts/test/arbitration/helpers/dispute-kit-shutter-common.ts
Owners: @jaybuidl

fix: linting
  contracts/deploy/utils/klerosCoreHelper.ts
Owners: @jaybuidl

feat: court-specific token gate whitelist
  contracts/src/arbitration/dispute-kits/DisputeKitGated.sol
  contracts/src/arbitration/dispute-kits/DisputeKitGatedShutter.sol
  contracts/src/test/DisputeKitGatedMock.sol
  contracts/src/test/DisputeKitGatedShutterMock.sol
  contracts/test/arbitration/helpers/dispute-kit-gated-common.ts
  contracts/test/arbitration/helpers/dispute-kit-shutter-common.ts
Owners: @jaybuidl

refactor(web): better-mocking-for-generated-contract-abis
  web/src/actions/commit/builders/classic.builder.test.ts
  web/src/actions/commit/builders/gated.builder.test.ts
  web/src/actions/commit/builders/shutter.builder.test.ts
  web/src/actions/reveal/builders/classic.builder.test.ts
  web/src/actions/reveal/builders/gated.builder.test.ts
  web/src/actions/reveal/builders/shutter.builder.test.ts
  web/src/actions/vote/builders/classic.builder.test.ts
  web/src/test/mocks/contracts.ts
Owners: @kleros/maintainers-court-v2-frontend

refactor(web): clean-brute-force-choice-conditional
  web/src/actions/reveal/helpers/bruteForceChoice.ts
Owners: @kleros/maintainers-court-v2-frontend

refactor(web): rename-get-vote-key-file
  web/src/actions/commit/builders/classic.builder.ts
  web/src/actions/commit/builders/gated.builder.ts
  web/src/actions/commit/builders/gatedShutter.builder.ts
  web/src/actions/commit/builders/shutter.builder.ts
  web/src/actions/helpers/storage/getVoteKey.test.ts
  web/src/actions/helpers/storage/getVoteKey.ts
  web/src/actions/reveal/resolveRevealInputs.integration.test.ts
  web/src/actions/reveal/resolveRevealInputs.test.ts
  web/src/actions/reveal/resolveRevealInputs.ts
  web/src/hooks/useCastCommit.tsx
  web/src/hooks/useRevealVote.ts
Owners: @kleros/maintainers-court-v2-frontend

refactor(web): use-pnk-data-hook
  web/src/hooks/usePNKData.tsx
Owners: @kleros/maintainers-court-v2-frontend

refactor(web): action-jsdocs
  web/src/actions/commit/builders/index.ts
  web/src/actions/commit/execute.ts
  web/src/actions/reveal/builders/index.ts
  web/src/actions/reveal/execute.ts
  web/src/actions/vote/builders/index.ts
  web/src/actions/vote/execute.ts
Owners: @kleros/maintainers-court-v2-frontend

refactor(web): defined-type
  web/src/test/fakes/shutter.ts
Owners: @kleros/maintainers-court-v2-frontend

fix(web): typo
  web/src/config/wagmi.ts
Owners: @kleros/maintainers-court-v2-frontend

refactor(web): chain-selection-logic
  web/src/consts/chains.ts
Owners: @kleros/maintainers-court-v2-frontend

refactor(web): hash-vote-documentation-update
  web/src/utils/crypto/hashVote.ts
Owners: @kleros/maintainers-court-v2-frontend

refactor(web): e2e-case-test-description
  web/src/tests/e2e/case.spec.ts
Owners: @kleros/maintainers-court-v2-frontend

refactor(web): install-vitest-coverage-provider
  web/package.json
  yarn.lock
Owners: @kleros/maintainers-court-v2-frontend, @kleros/devs

fix(web): await-contract-calls
  web/src/pages/Cases/CaseDetails/Voting/Classic/Commit.tsx
  web/src/pages/Cases/CaseDetails/Voting/Classic/Reveal.tsx
  web/src/pages/Cases/CaseDetails/Voting/Classic/Vote.tsx
Owners: @kleros/maintainers-court-v2-frontend

refactor(web): appropriate-typing
  web/src/pages/Cases/CaseDetails/Voting/Classic/Commit.tsx
  web/src/pages/Cases/CaseDetails/Voting/Classic/Reveal.tsx
  web/src/pages/Cases/CaseDetails/Voting/Classic/Vote.tsx
  web/src/pages/Cases/CaseDetails/Voting/Classic/index.tsx
  web/src/pages/Cases/CaseDetails/Voting/Shutter/Commit.tsx
  web/src/pages/Cases/CaseDetails/Voting/Shutter/Reveal.tsx
  web/src/pages/Cases/CaseDetails/Voting/Shutter/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

fix(web): include-gnosis-chain-in-local-transports
  web/src/config/rpc.ts
Owners: @kleros/maintainers-court-v2-frontend

refactor(web): remove-atlas-mock-options
  web/src/tests/e2e/fixtures/atlas.ts
Owners: @kleros/maintainers-court-v2-frontend

refactor(web): rabbit-feedback
  web/src/pages/Cases/CaseDetails/Voting/Shutter/Commit.tsx
  web/src/pages/Cases/CaseDetails/Voting/Shutter/Reveal.tsx
Owners: @kleros/maintainers-court-v2-frontend

refactor(web): remove-unnecessary-await
  web/src/actions/commit/execute.ts
  web/src/actions/reveal/execute.ts
  web/src/actions/vote/execute.ts
Owners: @kleros/maintainers-court-v2-frontend

refactor(web): use-vote-key-utility
  web/src/actions/commit/builders/classic.builder.test.ts
  web/src/actions/commit/builders/gated.builder.test.ts
  web/src/actions/commit/builders/shutter.builder.test.ts
Owners: @kleros/maintainers-court-v2-frontend

refactor(web): function-rename
  web/src/config/rpc.ts
Owners: @kleros/maintainers-court-v2-frontend

fix(gateway): replace transfer() with call() in withdrawFees
  contracts/src/gateway/ForeignGateway.sol
Owners: @jaybuidl

feat: staking eligibility per court, intended for the most specialized courts only I-02
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/SortitionModule.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassicBase.sol
  contracts/src/arbitration/dispute-kits/DisputeKitGated.sol
  contracts/src/arbitration/dispute-kits/DisputeKitGatedArgentinaConsumerProtection.sol
  contracts/src/arbitration/dispute-kits/DisputeKitGatedShutter.sol
  contracts/src/arbitration/dispute-kits/DisputeKitSybilResistant.sol
  contracts/src/arbitration/interfaces/ICourtEligibility.sol
  contracts/src/arbitration/interfaces/ISortitionModule.sol
  contracts/src/arbitration/university/KlerosCoreUniversity.sol
  contracts/src/arbitration/university/SortitionModuleUniversity.sol
  contracts/src/libraries/Constants.sol
  contracts/src/test/DisputeKitGatedMock.sol
  contracts/src/test/DisputeKitGatedShutterMock.sol
  contracts/test/arbitration/dispute-kit-gated-shutter.ts
  contracts/test/arbitration/dispute-kit-gated.ts
  contracts/test/arbitration/draw.ts
  contracts/test/arbitration/helpers/dispute-kit-gated-common.ts
  contracts/test/arbitration/helpers/dispute-kit-shutter-common.ts
  contracts/test/arbitration/staking-neo.ts
  contracts/test/arbitration/staking.ts
  contracts/test/evidence/index.ts
  contracts/test/foundry/DisputeKitGatedArgentinaConsumerProtection_Drawing.t.sol
  contracts/test/foundry/DisputeKitGatedArgentinaConsumerProtection_Staking.t.sol
  contracts/test/foundry/KlerosCore_Appeals.t.sol
  contracts/test/foundry/KlerosCore_Disputes.t.sol
  contracts/test/foundry/KlerosCore_Drawing.t.sol
  contracts/test/foundry/KlerosCore_Execution.t.sol
  contracts/test/foundry/KlerosCore_Governance.t.sol
  contracts/test/foundry/KlerosCore_Initialization.t.sol
  contracts/test/foundry/KlerosCore_Staking.t.sol
  contracts/test/foundry/KlerosCore_TestBase.sol
  contracts/test/foundry/KlerosCore_Voting.t.sol
Owners: @jaybuidl

chore: new court config and policy for Corte de Defensores del Cliente
  contracts/config/courts.v2.devnet.json
  contracts/config/courts.v2.mainnet-neo.json
  contracts/config/courts.v2.testnet.json
  contracts/config/policies.v2.devnet.json
  contracts/config/policies.v2.mainnet-neo.json
  contracts/config/policies.v2.testnet.json
Owners: @jaybuidl

chore: script migration to etherscan API v2, court config
  contracts/config/policies.v2.mainnet.json
  contracts/scripts/generateDeploymentArtifact.sh
Owners: @jaybuidl

chore: testnet junin gated dispute test
  contracts/README.md
  contracts/deploy/05-dispute-kit-gated-junin.ts
  contracts/deployments/arbitrumSepolia/SBTACPLawyer.json
Owners: @jaybuidl

fix: standardize null court eligibility sentinel and align test fixtures
  contracts/deploy/utils/index.ts
  contracts/hardhat.config.ts
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/SortitionModule.sol
  contracts/src/arbitration/university/KlerosCoreUniversity.sol
  contracts/src/libraries/Constants.sol
  contracts/test/arbitration/draw.ts
  contracts/test/arbitration/helpers/dispute-kit-shutter-common.ts
  contracts/test/arbitration/staking.ts
  contracts/test/foundry/DisputeKitGatedArgentinaConsumerProtection_Drawing.t.sol
  contracts/test/foundry/DisputeKitGatedArgentinaConsumerProtection_Staking.t.sol
  contracts/test/foundry/KlerosCore_Appeals.t.sol
  contracts/test/foundry/KlerosCore_Disputes.t.sol
  contracts/test/foundry/KlerosCore_Drawing.t.sol
  contracts/test/foundry/KlerosCore_Execution.t.sol
  contracts/test/foundry/KlerosCore_Governance.t.sol
  contracts/test/foundry/KlerosCore_Initialization.t.sol
  contracts/test/foundry/KlerosCore_Staking.t.sol
  contracts/test/foundry/KlerosCore_TestBase.sol
  contracts/test/foundry/KlerosCore_Voting.t.sol
Owners: @jaybuidl

.github/CODEOWNERS:

# Default
*                          @kleros/maintainers-court-v2-frontend
contracts                  @jaybuidl

# Owned by everyone
yarn.lock                  @kleros/devs
.gitignore                 @kleros/devs
