Repository kleros/kleros-v2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kleros/maintainers-court-v2-frontend, @jaybuidl, @kleros/devs

fix: tooltip/tab-label sizing and timeline/card spacing post-migration
  web/src/components/NumberDisplay.tsx
  web/src/components/WithHelpTooltip.tsx
  web/src/pages/Cases/CaseDetails/Tabs.tsx
  web/src/pages/Cases/CaseDetails/Timeline.tsx
  web/src/pages/Home/TopJurors/JurorCard/MobileCard.tsx
  web/src/pages/Profile/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

refactor(web): migrate radios to ui-components-library CustomRadio
  web/src/components/DisputeFeatures/Features/ArgentinaConsumerProtection.tsx
  web/src/components/DisputeFeatures/Features/ClassicVote.tsx
  web/src/components/DisputeFeatures/Features/GatedErc1155.tsx
  web/src/components/DisputeFeatures/Features/GatedErc20.tsx
  web/src/components/DisputeFeatures/Features/UniversityVote.tsx
  web/src/components/DisputeFeatures/Features/index.tsx
  web/src/components/Radio.tsx
  web/src/pages/Cases/CaseDetails/Appeal/AppealHistory.tsx
  web/src/pages/Cases/CaseDetails/Appeal/Classic/Fund.tsx
  web/src/pages/Cases/CaseDetails/Appeal/Classic/Options/StageOne.tsx
  web/src/pages/Cases/CaseDetails/Appeal/Classic/Options/StageTwo.tsx
  web/src/pages/Cases/CaseDetails/Appeal/EthAmountField.tsx
  web/src/pages/Cases/CaseDetails/Appeal/OptionCard.tsx
  web/src/pages/Cases/CaseDetails/Appeal/Shutter/Fund.tsx
  web/src/pages/Resolver/Landing/CreationCard.tsx
  web/src/pages/Resolver/Landing/index.tsx
  web/src/pages/Resolver/Parameters/Court/FeatureSelection/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

fix: styling regressions from ui-components-library migration
  web/src/components/DisputeFeatures/Features/GatedErc1155.tsx
  web/src/components/DisputeFeatures/Features/GatedErc20.tsx
  web/src/components/DisputePreview/Alias.tsx
  web/src/components/LabeledInput.tsx
  web/src/components/Radio.tsx
  web/src/pages/Cases/CaseDetails/Evidence/SubmitEvidenceModal.tsx
  web/src/pages/Courts/CourtDetails/StakePanel/StakeWithdrawPopup/index.tsx
  web/src/pages/Resolver/Landing/CreationCard.tsx
  web/src/pages/Resolver/Parameters/Category.tsx
  web/src/pages/Resolver/Parameters/Court/index.tsx
  web/src/pages/Resolver/Parameters/Jurors.tsx
  web/src/pages/Resolver/Parameters/VotingOptions/index.tsx
  web/src/pages/Resolver/Policy/index.tsx
  web/src/styles/base-elements.css
  web/src/styles/global-style.ts
Owners: @kleros/maintainers-court-v2-frontend

fix: restore vote accordion padding lost in ui-components-library migration
  web/src/pages/Cases/CaseDetails/Voting/VotesDetails/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

fix(web): resolve type errors surfaced by dev type-check sync
  web/src/hooks/queries/useCourtTree.ts
  web/src/layout/Header/navbar/Menu/Settings/Notifications/FormContactDetails/EmailVerificationInfo.tsx
  web/src/pages/Cases/CaseDetails/Timeline.tsx
  web/src/utils/uiComponentsTypes.ts
Owners: @kleros/maintainers-court-v2-frontend

chore(kleros-app): product-support-in-add-user-and-update-email-mutations
  kleros-app/src/lib/atlas/providers/AtlasProvider.tsx
  kleros-app/src/lib/atlas/utils/addUser.ts
  kleros-app/src/lib/atlas/utils/index.ts
  kleros-app/src/lib/atlas/utils/updateEmail.ts
Owners: @kleros/maintainers-court-v2-frontend

fix(kleros-app): atlasprovider-type
  kleros-app/src/lib/atlas/providers/AtlasProvider.tsx
Owners: @kleros/maintainers-court-v2-frontend

fix(web): address PR review feedback on ui-components-library migration
  web/src/components/CasesDisplay/Filters.tsx
  web/src/components/CasesDisplay/Search.tsx
  web/src/components/DisputeFeatures/Features/GatedErc1155.tsx
  web/src/components/LabeledDropdown.tsx
  web/src/components/LanguageSelector.tsx
  web/src/layout/Header/DesktopHeader.tsx
  web/src/layout/Header/navbar/Menu/Settings/General/index.tsx
  web/src/layout/Header/navbar/Menu/Settings/Notifications/FormContactDetails/index.tsx
  web/src/layout/Header/navbar/Menu/Settings/index.tsx
  web/src/locales/en/translation.json
  web/src/locales/es/translation.json
  web/src/locales/fr/translation.json
  web/src/pages/Cases/CaseDetails/Appeal/AppealHistory.tsx
  web/src/pages/Cases/CaseDetails/Appeal/Classic/Fund.tsx
  web/src/pages/Cases/CaseDetails/Appeal/Classic/Options/StageTwo.tsx
  web/src/pages/Cases/CaseDetails/Appeal/EthAmountField.tsx
  web/src/pages/Cases/CaseDetails/Appeal/OptionCard.tsx
  web/src/pages/Cases/CaseDetails/Appeal/Shutter/Fund.tsx
  web/src/pages/Cases/CaseDetails/Evidence/EvidenceSearch.tsx
  web/src/pages/Cases/CaseDetails/MaintenanceButtons/SetJurorsButton.tsx
  web/src/pages/Cases/CaseDetails/Tabs.tsx
  web/src/pages/Courts/CourtDetails/JurorsStakedByCourt/Search.tsx
  web/src/pages/Courts/CourtDetails/StakePanel/InputDisplay.tsx
  web/src/pages/Courts/CourtDetails/StakingHistoryByCourt/Search.tsx
  web/src/pages/Courts/CourtDetails/TopSearch.tsx
  web/src/pages/Home/CourtOverview/Chart.tsx
  web/src/pages/Home/CourtOverview/ExtraStats.tsx
  web/src/pages/Jurors/Search.tsx
  web/src/pages/Jurors/StatsAndFilters.tsx
  web/src/pages/Profile/Votes/StatsAndFilters/Filters.tsx
  web/src/pages/Resolver/Parameters/Court/index.tsx
  web/src/pages/Resolver/Parameters/Jurors.tsx
  web/src/pages/Resolver/Parameters/NotablePersons/PersonFields.tsx
  web/src/pages/Resolver/Parameters/VotingOptions/OptionsFields.tsx
  web/src/pages/Settings/EmailConfirmation/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

fix: scout links
  web/src/layout/Header/navbar/DappList.tsx
  web/src/pages/Profile/JurorCard/TopContent/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

chore(kleros-app): update-update-email-mutation
  kleros-app/src/lib/atlas/utils/updateEmail.ts
Owners: @kleros/maintainers-court-v2-frontend

chore(kleros-app): release @kleros/kleros-app@2.3.0
  kleros-app/package.json
Owners: @kleros/maintainers-court-v2-frontend

fix(web): hardcoded-dk-address-in-withdraw-appeal-and-fees
  web/src/hooks/queries/useDisputeMaintenanceQuery.ts
  web/src/pages/Cases/CaseDetails/MaintenanceButtons/WithdrawAppealFees.tsx
Owners: @kleros/maintainers-court-v2-frontend

fix(web): classic-appeal-multipliers-harcoded
  web/src/dispute-kits/registry.ts
  web/src/dispute-kits/types.ts
  web/src/hooks/queries/useClassicAppealQuery.ts
  web/src/hooks/queries/useDisputeKitMultipliers.ts
  web/src/hooks/useClassicAppealContext.tsx
Owners: @kleros/maintainers-court-v2-frontend

fix(web): dispute-kit-types-import
  web/src/actions/commit/params.ts
  web/src/actions/fundAppeal/params.ts
  web/src/actions/reveal/params.ts
  web/src/actions/vote/params.ts
Owners: @kleros/maintainers-court-v2-frontend

chore(web): remove-get-dispute-Kit-function
  web/src/dispute-kits/index.ts
  web/src/dispute-kits/registry.ts
Owners: @kleros/maintainers-court-v2-frontend

refactor(web): enabled-conditional-for-use-voting-context
  web/src/hooks/useVotingContext.tsx
Owners: @kleros/maintainers-court-v2-frontend

chore(web): remove-unused-argument-in-use-gated-token
  web/src/dispute-kits/types.ts
  web/src/hooks/useGatedTokenInfo.ts
  web/src/pages/Cases/CaseDetails/Overview/DisputeKitOverviewExtraInfo/gated.tsx
Owners: @kleros/maintainers-court-v2-frontend

chore(web): remove-prop-from-use-dispute-kit-info
  web/src/hooks/useDisputeKitInfo.ts
Owners: @kleros/maintainers-court-v2-frontend

refactor(web): extract-token-img-component
  web/src/hooks/useGatedTokenInfo.ts
  web/src/pages/Cases/CaseDetails/Overview/DisputeKitOverviewExtraInfo/gated.tsx
Owners: @kleros/maintainers-court-v2-frontend

chore(web): show-meaningful-ui-while-dk-loads
  web/src/locales/en/translation.json
  web/src/locales/es/translation.json
  web/src/locales/fr/translation.json
  web/src/pages/Cases/CaseDetails/Appeal/index.tsx
  web/src/pages/Cases/CaseDetails/Voting/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

docs(web): dispute-kit-addition
  web/src/dispute-kits/ADDING_NEW_DISPUTE_KIT.md
Owners: @kleros/maintainers-court-v2-frontend

fix: popups on correct places
  web/src/layout/Header/DesktopHeader.tsx
Owners: @kleros/maintainers-court-v2-frontend

fix(web): align header popups to centered content box
  web/src/layout/Header/DesktopHeader.tsx
Owners: @kleros/maintainers-court-v2-frontend

refactor(web): tighten-feature-group-type
  web/src/dispute-kits/disputeFeature.ts
  web/src/dispute-kits/types.ts
  web/src/pages/Resolver/Parameters/Court/FeatureSelection/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

chore(web): address-feedback-on-dk-registry-refactor
  web/src/dispute-kits/disputeFeature.ts
  web/src/hooks/useGatedTokenInfo.ts
  web/src/pages/Cases/CaseDetails/Voting/Classic/index.tsx
  web/src/pages/Resolver/Parameters/Jurors.tsx
Owners: @kleros/maintainers-court-v2-frontend

refactor(web): remove-classic-reference-in-use-kit-multiplier-hook
  web/src/hooks/queries/useDisputeKitMultipliers.ts
Owners: @kleros/maintainers-court-v2-frontend

refactor(web): remove-uncessasry-cast
  web/src/hooks/useVotingContext.tsx
Owners: @kleros/maintainers-court-v2-frontend

feat(subgraph): dispute-archive-mapping
  bots/dispute-archival-bot/abi/DisputeArchive.ts
  bots/dispute-archival-bot/index.ts
  bots/dispute-archival-bot/utils/contract.ts
  contracts/deployments/arbitrumSepoliaDevnet/DisputeArchive.json
  contracts/src/archive/DisputeArchive.sol
  subgraph/core/schema.graphql
  subgraph/core/src/DisputeArchive.ts
  subgraph/core/src/archive/disputeArchiveStubs.ts
  subgraph/core/src/entities/Dispute.ts
  subgraph/core/subgraph.template.yaml
  subgraph/core/subgraph.yaml
Owners: @kleros/maintainers-court-v2-frontend, @jaybuidl

feat(bots): dispute-archival-bot-first-iteration
  bots/dispute-archival-bot/.env.example
  bots/dispute-archival-bot/.gitignore
  bots/dispute-archival-bot/README.md
  bots/dispute-archival-bot/abi/DisputeArchive.ts
  bots/dispute-archival-bot/config.ts
  bots/dispute-archival-bot/index.ts
  bots/dispute-archival-bot/package.json
  bots/dispute-archival-bot/tsconfig.json
  bots/dispute-archival-bot/utils/contract.ts
  bots/dispute-archival-bot/utils/fetchDisputeArchiveSnapshot.ts
  bots/dispute-archival-bot/utils/fetchDisputeDetailsFromSubgraph.ts
  bots/dispute-archival-bot/utils/fetchDisputeEvidences.ts
  bots/dispute-archival-bot/utils/fetchDisputeIds.ts
  bots/dispute-archival-bot/utils/fetchDisputeTemplate.ts
  bots/dispute-archival-bot/utils/fetchPopulatedDisputeData.ts
  bots/dispute-archival-bot/utils/rpc.ts
  bots/dispute-archival-bot/utils/types.ts
  bots/dispute-archival-bot/utils/uploadToIpfs.ts
  contracts/deploy/00-home-chan-dispute-archive.ts
  contracts/deployments/arbitrumSepoliaDevnet/DisputeArchive.json
  contracts/src/archive/DisputeArchive.sol
  package.json
  yarn.lock
Owners: @kleros/maintainers-court-v2-frontend, @kleros/devs, @jaybuidl

feat(web): initial-archived-dispute-data-integration
  subgraph/core/src/archive/disputeArchiveStubs.ts
  web/src/components/Verdict/FinalDecision.tsx
  web/src/hooks/queries/useDisputeArchiveSnapshot.ts
  web/src/hooks/queries/useDisputeDetailsQuery.ts
  web/src/hooks/queries/useEvidences.ts
  web/src/hooks/queries/usePopulatedDisputeData.ts
  web/src/hooks/queries/useVotingHistory.ts
  web/src/pages/Cases/CaseDetails/MaintenanceButtons/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

chore(dispute-archival-bot): coderabbit-feedback-fix-deps-and-script
  bots/dispute-archival-bot/package.json
  bots/dispute-archival-bot/tsconfig.json
  yarn.lock
Owners: @kleros/maintainers-court-v2-frontend, @kleros/devs

refactor(bots): dispute-archival-bot-dispute-details-pagination
  bots/dispute-archival-bot/README.md
  bots/dispute-archival-bot/index.ts
  bots/dispute-archival-bot/utils/fetchDisputeArchiveSnapshot.ts
  bots/dispute-archival-bot/utils/fetchDisputeDetailsFromSubgraph.ts
  bots/dispute-archival-bot/utils/fetchDisputeEvidences.ts
  bots/dispute-archival-bot/utils/fetchDisputeIds.ts
  bots/dispute-archival-bot/utils/fetchPopulatedDisputeData.ts
  bots/dispute-archival-bot/utils/query.ts
Owners: @kleros/maintainers-court-v2-frontend

fix(subgraph): missing-court-save-in-archive-handler
  subgraph/core/src/archive/disputeArchiveStubs.ts
Owners: @kleros/maintainers-court-v2-frontend

chore: eslint-prettier-config-setup
  bots/dispute-archival-bot/.lintstagedrc.json
  bots/dispute-archival-bot/eslint.config.mjs
  bots/dispute-archival-bot/index.ts
  bots/dispute-archival-bot/package.json
  bots/dispute-archival-bot/tsconfig.json
  bots/dispute-archival-bot/utils/contract.ts
  bots/dispute-archival-bot/utils/fetchDisputeArchiveSnapshot.ts
  bots/dispute-archival-bot/utils/fetchDisputeDetailsFromSubgraph.ts
  bots/dispute-archival-bot/utils/fetchDisputeEvidences.ts
  bots/dispute-archival-bot/utils/fetchDisputeIds.ts
  bots/dispute-archival-bot/utils/fetchDisputeTemplate.ts
  bots/dispute-archival-bot/utils/fetchPopulatedDisputeData.ts
  bots/dispute-archival-bot/utils/query.ts
  bots/dispute-archival-bot/utils/rpc.ts
  bots/dispute-archival-bot/utils/uploadToIpfs.ts
  yarn.lock
Owners: @kleros/maintainers-court-v2-frontend, @kleros/devs

chore(bot): address-feedback
  bots/dispute-archival-bot/.env.example
  bots/dispute-archival-bot/README.md
  bots/dispute-archival-bot/utils/contract.ts
  bots/dispute-archival-bot/utils/fetchDisputeTemplate.ts
Owners: @kleros/maintainers-court-v2-frontend

fix: add missing max-len warning to default config
  eslint-config/.eslintrc.js
Owners: @kleros/maintainers-court-v2-frontend

fix: add prettier config to kleros-sdk workspace + auto fix errors
  kleros-sdk/package.json
  kleros-sdk/src/dataMappings/executeActions.ts
  kleros-sdk/src/dataMappings/retrieveRealityData.ts
  kleros-sdk/src/dataMappings/utils/actionTypeValidators.ts
  kleros-sdk/src/dataMappings/utils/actionTypes.ts
  kleros-sdk/src/dataMappings/utils/createResultObject.ts
  kleros-sdk/src/dataMappings/utils/disputeDetailsSchema.ts
  kleros-sdk/src/dataMappings/utils/disputeDetailsTypes.ts
  kleros-sdk/src/dataMappings/utils/index.ts
  kleros-sdk/src/dataMappings/utils/populateTemplate.ts
  kleros-sdk/src/dataMappings/utils/replacePlaceholdersWithValues.ts
  kleros-sdk/src/errors/index.ts
  kleros-sdk/src/requests/fetchDisputeDetails.ts
  kleros-sdk/src/requests/fetchDisputeTemplateFromId.ts
  kleros-sdk/src/utils/getDispute.ts
Owners: @kleros/maintainers-court-v2-frontend

refactor(bots): cache-env-config
  bots/dispute-archival-bot/config.ts
Owners: @kleros/maintainers-court-v2-frontend

fix(kleros-app): bundler-and-error-stack-trace-type
  kleros-app/global.d.ts
  kleros-app/tsconfig.json
Owners: @kleros/maintainers-court-v2-frontend

chore(kleros-app): differentiate-between-signup-and ipfs-products-and-remove-overrides
  kleros-app/README.md
  kleros-app/src/lib/atlas/providers/AtlasProvider.tsx
  kleros-app/src/lib/atlas/utils/addUser.ts
  kleros-app/src/lib/atlas/utils/fetchRestrictions.ts
  kleros-app/src/lib/atlas/utils/index.ts
  kleros-app/src/lib/atlas/utils/updateEmail.ts
  kleros-app/src/lib/atlas/utils/uploadToIpfs.ts
Owners: @kleros/maintainers-court-v2-frontend

.github/CODEOWNERS:

# Default
*                          @kleros/maintainers-court-v2-frontend
contracts                  @jaybuidl

# Owned by everyone
yarn.lock                  @kleros/devs
.gitignore                 @kleros/devs
