Repository kleros/kleros-v2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kleros/maintainers-court-v2-frontend, @jaybuidl, @kleros/devs

.github/CODEOWNERS:

# Default
*                          @kleros/maintainers-court-v2-frontend
contracts                  @jaybuidl

# Owned by everyone
yarn.lock                  @kleros/devs
.gitignore                 @kleros/devs

chore: add lint and type-check scripts to kleros/sdk + update pre-commit hook
  .husky/pre-commit
  kleros-sdk/.lintstagedrc.json
  kleros-sdk/eslint.config.mjs
  kleros-sdk/package.json
  yarn.lock
Owners: @kleros/maintainers-court-v2-frontend, @kleros/devs

fix: resolve kleros/sdk lint and type errors
  kleros-sdk/src/dataMappings/actions/fetchIpfsJsonAction.ts
  kleros-sdk/src/dataMappings/actions/subgraphAction.ts
  kleros-sdk/src/dataMappings/executeActions.ts
  kleros-sdk/src/dataMappings/retrieveRealityData.ts
  kleros-sdk/src/dataMappings/utils/actionTypeValidators.ts
  kleros-sdk/src/dataMappings/utils/actionTypes.ts
  kleros-sdk/src/dataMappings/utils/createResultObject.ts
  kleros-sdk/src/dataMappings/utils/disputeDetailsSchema.ts
  kleros-sdk/src/dataMappings/utils/disputeDetailsTypes.ts
  kleros-sdk/src/dataMappings/utils/index.ts
  kleros-sdk/src/dataMappings/utils/populateTemplate.ts
  kleros-sdk/src/dataMappings/utils/replacePlaceholdersWithValues.ts
  kleros-sdk/src/errors/index.ts
  kleros-sdk/src/requests/fetchDisputeDetails.ts
  kleros-sdk/src/requests/fetchDisputeTemplateFromId.ts
  kleros-sdk/src/types/index.ts
  kleros-sdk/src/types/reality-eth-lib.d.ts
  kleros-sdk/src/utils/getDispute.ts
  kleros-sdk/test/dataMappings.test.ts
Owners: @kleros/maintainers-court-v2-frontend

fix: update kleros-app tsconfig.check.json to include root ts/tsx files in type checking
  kleros-app/tsconfig.check.json
Owners: @kleros/maintainers-court-v2-frontend

chore: rename default eslint-config to flat config migration file for clarity
  eslint-config/flat.config.mjs
  eslint-config/package.json
  eslint.config.mjs
  kleros-sdk/eslint.config.mjs
Owners: @kleros/maintainers-court-v2-frontend

fix: update type of arbitrable parameter in retrieveRealityData function to Address
  kleros-sdk/src/dataMappings/retrieveRealityData.ts
Owners: @kleros/maintainers-court-v2-frontend

chore: add lint and type-check scripts to web-devtools + update pre-commit hook.
  .husky/pre-commit
  web-devtools/.lintstagedrc.json
  web-devtools/eslint.config.mjs
  web-devtools/package.json
Owners: @kleros/maintainers-court-v2-frontend

refactor: simplify data assignment in getDispute function
  kleros-sdk/src/utils/getDispute.ts
Owners: @kleros/maintainers-court-v2-frontend

chore: prettier fixes for web-devtools
  web-devtools/src/app/(main)/ruler/Header.tsx
  web-devtools/src/app/(main)/ruler/ManualRuling.tsx
  web-devtools/src/app/(main)/ruler/RulingModes.tsx
  web-devtools/src/app/(main)/ruler/page.tsx
  web-devtools/src/consts/socialmedia.tsx
  web-devtools/src/context/StyledComponentsProvider.tsx
  web-devtools/src/context/Web3Provider.tsx
  web-devtools/src/hooks/queries/useDisputeTemplateFromId.ts
Owners: @kleros/maintainers-court-v2-frontend

fix: resolve style errors in web-devtools after regenerating types based on mainnet
  web-devtools/src/app/(main)/dispute-template/CustomContextInputs.tsx
  web-devtools/src/app/(main)/dispute-template/FetchDisputeRequestInput.tsx
  web-devtools/src/app/(main)/dispute-template/FetchFromIdInput.tsx
  web-devtools/src/app/(main)/ruler/ManualRuling.tsx
  web-devtools/src/components/EnsureChain.tsx
  web-devtools/src/components/JSONEditor.tsx
  web-devtools/src/context/RulerContext.tsx
  web-devtools/src/styles/responsiveSize.ts
  web-devtools/src/types/reality-eth-lib.d.ts
Owners: @kleros/maintainers-court-v2-frontend

chore: minor fixes to web check style and types scripts + add to pre-commit hook
  .husky/pre-commit
  web/.lintstagedrc.json
  web/tsconfig.json
Owners: @kleros/maintainers-court-v2-frontend

fix: enable noImplicitAny for stricter type checking
  web/tsconfig.json
Owners: @kleros/maintainers-court-v2-frontend

chore: auto fixable lint errors
  web/src/components/BlueIconTextButtonContainer.tsx
  web/src/components/DottedMenuButton.tsx
  web/src/components/ExtraStatsDisplay.tsx
  web/src/components/InternalLink.tsx
  web/src/components/LightButton.tsx
  web/src/components/OverlayPortal.tsx
  web/src/components/ScrollTop.tsx
  web/src/components/StyledIcons/ClosedCircleIcon.tsx
  web/src/components/Verdict/index.tsx
  web/src/consts/socialmedia.ts
  web/src/hooks/queries/useHomePageBlockQuery.ts
  web/src/hooks/queries/useHomePageExtraStats.ts
  web/src/hooks/queries/useJurorsByCoherenceScore.ts
  web/src/hooks/queries/useTopStakedJurorsByCourt.ts
  web/src/hooks/queries/useUser.ts
  web/src/hooks/useFundAppeal.ts
  web/src/hooks/useNavigateAndScrollTop.ts
  web/src/hooks/useScrollTop.ts
  web/src/hooks/useSortitionModule.ts
  web/src/hooks/useToggleThemeContext.tsx
  web/src/layout/Footer/index.tsx
  web/src/layout/Header/navbar/Product.tsx
  web/src/pages/Cases/CaseDetails/index.tsx
  web/src/pages/Courts/CourtDetails/StakingHistoryByCourt/DisplayStakes/StakeEventCard/DesktopCard.tsx
  web/src/pages/Courts/CourtDetails/StakingHistoryByCourt/DisplayStakes/StakeEventCard/MobileCard.tsx
  web/src/pages/Courts/index.tsx
  web/src/pages/GetPnk/index.tsx
  web/src/pages/Home/CourtOverview/CasesByCourtsChart.tsx
  web/src/pages/Home/CourtOverview/StakedPNKByCourtsChart.tsx
  web/src/pages/Home/TopJurors/JurorCard/Coherence.tsx
  web/src/pages/Home/TopJurors/JurorCard/JurorLevel.tsx
  web/src/pages/Home/TopJurors/JurorCard/MobileCard.tsx
  web/src/pages/Home/TopJurors/JurorCard/Score.tsx
  web/src/pages/Home/index.tsx
  web/src/pages/Profile/JurorCard/BottomContent/index.tsx
  web/src/pages/Settings/index.tsx
  web/src/styles/customScrollbar.ts
  web/src/utils/getVoteChoice.ts
Owners: @kleros/maintainers-court-v2-frontend

chore: update eslint config to ignore local generated contract hooks
  web/eslint.config.mjs
Owners: @kleros/maintainers-court-v2-frontend

chore: update eslint config to ignore local graphql generated files
  web/eslint.config.mjs
Owners: @kleros/maintainers-court-v2-frontend

fix: complete lint fixes
  web/src/components/ClaimPnkButton.tsx
  web/src/components/DisputeFeatures/Features/GatedErc1155.tsx
  web/src/components/DisputeFeatures/Features/GatedErc20.tsx
  web/src/components/DisputePreview/DisputeContext.tsx
  web/src/components/EnsureAuth.tsx
  web/src/components/GradientTokenIcons.tsx
  web/src/components/Popup/Description/SwapSuccess.tsx
  web/src/components/Popup/MiniGuides/JurorLevels.tsx
  web/src/components/Popup/index.tsx
  web/src/components/ScrollTop.tsx
  web/src/consts/index.ts
  web/src/context/QueryClientProvider.tsx
  web/src/hooks/queries/usePopulatedDisputeData.ts
  web/src/hooks/useLocalStorage.ts
  web/src/hooks/useSessionStorage.ts
  web/src/layout/Footer/index.tsx
  web/src/layout/Header/navbar/Menu/Settings/Notifications/FormContactDetails/EmailVerificationInfo.tsx
  web/src/layout/Header/navbar/Menu/Settings/Notifications/FormContactDetails/index.tsx
  web/src/layout/Header/navbar/Menu/Settings/Notifications/index.tsx
  web/src/pages/Cases/CaseDetails/Appeal/Classic/Options/StageTwo.tsx
  web/src/pages/Cases/CaseDetails/Appeal/Classic/StageExplainer.tsx
  web/src/pages/Cases/CaseDetails/Voting/Shutter/Reveal.tsx
  web/src/pages/Home/CourtOverview/Chart.tsx
  web/src/pages/Home/TopJurors/Header/DesktopHeader.tsx
  web/src/pages/Home/TopJurors/JurorCard/DesktopCard.tsx
  web/src/pages/Profile/JurorCard/StakingRewards.tsx
  web/src/pages/Resolver/Parameters/Court/FeatureSelection/index.tsx
  web/src/pages/Resolver/Parameters/Jurors.tsx
  web/src/pages/Resolver/Parameters/NotablePersons/PersonFields.tsx
  web/src/pages/Resolver/Policy/index.tsx
  web/src/styles/responsiveSize.ts
  web/src/utils/crypto/hashJustification.ts
  web/src/utils/fetchStakingEventsByCourt.ts
  web/src/utils/getDisputeRequestParamsFromTxn.ts
Owners: @kleros/maintainers-court-v2-frontend

fix: improve error handling in usePolicyRegistryEvent
  web/src/hooks/queries/usePolicyRegistryEvent.ts
Owners: @kleros/maintainers-court-v2-frontend

chore: add README to shared ESLint config + new root type checking script
  eslint-config/README.md
  package.json
Owners: @kleros/maintainers-court-v2-frontend

chore: update ESLint config to restrict imports using the '~' prefix and adjust import paths
  web/eslint.config.mjs
  web/src/pages/Cases/CaseDetails/MaintenanceButtons/SetJurorsButton.tsx
  web/src/pages/Cases/CaseDetails/Voting/Classic/Commit.tsx
  web/src/pages/Cases/CaseDetails/Voting/Classic/Vote.tsx
  web/src/pages/Profile/Votes/VoteCard/CaseStatus.tsx
Owners: @kleros/maintainers-court-v2-frontend

fix: update type casts for Classic Commit and Vote components
  web/src/pages/Cases/CaseDetails/Voting/Classic/Commit.tsx
  web/src/pages/Cases/CaseDetails/Voting/Classic/Vote.tsx
Owners: @kleros/maintainers-court-v2-frontend

fix: replace parseInt with Number.parseInt
  web/src/pages/Cases/CaseDetails/Tabs.tsx
Owners: @kleros/maintainers-court-v2-frontend

fix: remove mistaken comment
  web/src/pages/Resolver/Landing/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

fix: memoize context value in HomePageProvider
  web/src/hooks/useHomePageContext.tsx
Owners: @kleros/maintainers-court-v2-frontend

fix: simplify type casting for DEFAULT_CHAIN.id
  web/src/components/Verdict/FinalDecision.tsx
  web/src/consts/chains.ts
  web/src/context/NewDisputeContext.tsx
  web/src/hooks/queries/useAppealCost.ts
  web/src/hooks/queries/useDisputeKitClassicMultipliers.ts
  web/src/hooks/queries/usePolicyRegistryEvent.ts
  web/src/hooks/queries/usePopulatedDisputeData.ts
  web/src/hooks/usePNKData.tsx
  web/src/hooks/useStakingEventsByCourt.ts
  web/src/pages/Courts/CourtDetails/StakePanel/StakeWithdrawButton.tsx
  web/src/pages/Resolver/Parameters/Jurors.tsx
  web/src/utils/retrieveDisputeId.ts
Owners: @kleros/maintainers-court-v2-frontend

chore: add and configure lint and type checks to contracts + update pre-commit hook
  .husky/pre-commit
  contracts/.eslintignore
  contracts/.lintstagedrc.json
  contracts/eslint.config.mjs
  contracts/package.json
  contracts/tsconfig.json
Owners: @kleros/maintainers-court-v2-frontend, @jaybuidl

chore: add eslint-plugin-chai-friendly for improved linting + ignore more unnecessary files
  contracts/eslint.config.mjs
  contracts/package.json
  yarn.lock
Owners: @jaybuidl, @kleros/devs

fix: verify implementation address is defined in proxy test
  contracts/test/proxy/index.ts
Owners: @jaybuidl

chore: partial type fixes
  contracts/deploy/00-rng-chainlink.ts
  contracts/deploy/00-rng-randomizer.ts
  contracts/deploy/04-klerosliquid-to-v2-gnosis.ts
  contracts/deploy/utils/getContractAddress.ts
  contracts/scripts/disputeCreatorBot.ts
  contracts/scripts/disputeRelayerBot.ts
Owners: @jaybuidl

fix: error handling and json improvements
  contracts/deploy/04-klerosliquid-to-v2-gnosis.ts
  contracts/scripts/disputeRelayerBot.ts
Owners: @jaybuidl

chore: complete type fixes
  contracts/package.json
  contracts/scripts/getPoliciesV1.ts
  contracts/scripts/populateCourts.ts
  contracts/scripts/storage-layout.ts
  contracts/scripts/viemTest.ts
  contracts/scripts/wagmiHelpers.mts
  contracts/test/integration/getContractsEthers.test.ts
  contracts/tsconfig.json
  contracts/wagmi.config.devnet.mts
  contracts/wagmi.config.hardhat.mts
  contracts/wagmi.config.mainnet.mts
  contracts/wagmi.config.testnet.mts
Owners: @jaybuidl

fix: add error handling for missing contract output in storage layout script
  contracts/scripts/storage-layout.ts
Owners: @jaybuidl

fix: add error handling for log parsing in disputeRelayerBot script
  contracts/scripts/disputeRelayerBot.ts
Owners: @jaybuidl

fix: update linting configuration to include mjs and mts file extensions
  contracts/.lintstagedrc.json
Owners: @jaybuidl

refactor(web): refactor-prepare-arbitrator-extradata-usage
  web/src/components/DisputeFeatures/Features/GatedErc1155.tsx
  web/src/components/DisputeFeatures/Features/GatedErc20.tsx
  web/src/context/NewDisputeContext.tsx
  web/src/dispute-kits/disputeFeature.ts
  web/src/dispute-kits/index.ts
  web/src/dispute-kits/prepareArbitratorExtradata.test.ts
  web/src/dispute-kits/prepareArbitratorExtradata.ts
  web/src/pages/Resolver/Landing/index.tsx
  web/src/pages/Resolver/NavigationButtons/NextButton.tsx
  web/src/pages/Resolver/NavigationButtons/SubmitBatchDisputesButton.tsx
  web/src/pages/Resolver/NavigationButtons/SubmitDisputeButton.tsx
  web/src/pages/Resolver/Parameters/Court/FeatureSelection/index.tsx
  web/src/pages/Resolver/Parameters/Jurors.tsx
  web/src/tests/e2e/utils/setupCase.ts
  web/src/utils/prepareArbitratorExtradata.ts
Owners: @kleros/maintainers-court-v2-frontend

fix(web): type-errors
  web/src/pages/Cases/CaseDetails/MaintenanceButtons/DrawButton.tsx
  web/src/pages/Cases/CaseDetails/Overview/DisputeKitOverviewExtraInfo/gated.tsx
Owners: @kleros/maintainers-court-v2-frontend

refactor(web): merge-dispute-features-to-dispute-kit-regsitry
  web/src/components/DisputeFeatures/Features/ArgentinaConsumerProtection.tsx
  web/src/components/DisputeFeatures/Features/ClassicVote.tsx
  web/src/components/DisputeFeatures/Features/GatedErc1155.tsx
  web/src/components/DisputeFeatures/Features/GatedErc20.tsx
  web/src/components/DisputeFeatures/Features/UniversityVote.tsx
  web/src/components/DisputeFeatures/Features/index.tsx
  web/src/components/DisputeFeatures/GroupsUI.tsx
  web/src/context/NewDisputeContext.tsx
  web/src/dispute-kits/disputeFeature.ts
  web/src/dispute-kits/registry.ts
  web/src/dispute-kits/types.ts
  web/src/pages/Resolver/Parameters/Court/FeatureSelection/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

fix: header footer content alignment
  web/src/layout/Footer/index.tsx
  web/src/layout/Header/DesktopHeader.tsx
  web/src/layout/Header/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

fix: swap to hamburger header at tablet sizes (≤1233px)
  web/src/components/ConnectWallet/AccountDisplay.tsx
  web/src/components/ConnectWallet/index.tsx
  web/src/components/LightButton.tsx
  web/src/layout/Header/DesktopHeader.tsx
  web/src/layout/Header/MobileHeader.tsx
  web/src/layout/Header/navbar/Explore.tsx
  web/src/layout/Header/navbar/Menu/index.tsx
  web/src/layout/Header/navbar/index.tsx
  web/src/styles/landscapeStyle.ts
Owners: @kleros/maintainers-court-v2-frontend

chore: remove border file viewer
  web/src/pages/AttachmentDisplay/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

fix: padding adjustments
  web/src/components/ExtraStatsDisplay.tsx
  web/src/pages/AttachmentDisplay/Header.tsx
  web/src/pages/AttachmentDisplay/index.tsx
  web/src/pages/Home/CourtOverview/ExtraStats.tsx
Owners: @kleros/maintainers-court-v2-frontend

fix: post-migration styling fixes and preserve caller inputProps in LabeledInput
  web/src/components/LabeledInput.tsx
Owners: @kleros/maintainers-court-v2-frontend
