Repository kleros/kleros-v2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kleros/maintainers-court-v2-frontend, @jaybuidl, @kleros/devs

.github/CODEOWNERS:

# Default
*                          @kleros/maintainers-court-v2-frontend
contracts                  @jaybuidl

# Owned by everyone
yarn.lock                  @kleros/devs
.gitignore                 @kleros/devs

fix(contracts): mock-token-recover-tokens
  contracts/src/token/mock/PinakionV2Local.sol
Owners: @jaybuidl

chore(web): warn-when-unable-to-persist-vote-data
  web/src/actions/helpers/storage/index.ts
Owners: @kleros/maintainers-court-v2-frontend

fix(web): justification-recovery-flow
  web/src/actions/reveal/resolveRevealInputs.test.ts
  web/src/actions/reveal/resolveRevealInputs.ts
Owners: @kleros/maintainers-court-v2-frontend

fix: feedback
  web/src/pages/Courts/CourtDetails/StakePanel/StakeWithdrawButton.tsx
  web/src/pages/Courts/CourtDetails/StakePanel/StakeWithdrawPopup/stakeSteps.tsx
Owners: @kleros/maintainers-court-v2-frontend

chore: feedback
  web/src/pages/Courts/CourtDetails/StakePanel/StakeWithdrawButton.tsx
Owners: @kleros/maintainers-court-v2-frontend

chore: coderabbit-feedback
  README.md
  contracts/deploy/utils/deployTokens.ts
  web/src/actions/commit/helpers/index.ts
  web/src/actions/reveal/helpers/bruteForceChoice.test.ts
  web/src/hooks/useCastCommit.tsx
  web/src/hooks/useRevealVote.ts
  web/src/hooks/useVote.ts
  web/src/pages/Cases/CaseDetails/Voting/Classic/Commit.tsx
  web/src/pages/Cases/CaseDetails/Voting/Classic/Reveal.tsx
  web/src/pages/Cases/CaseDetails/Voting/Shutter/Reveal.tsx
  web/src/test/setup.ts
  web/src/utils/crypto/generateSalt.test.ts
Owners: @kleros/maintainers-court-v2-frontend, @jaybuidl

refactor(web): refactor-wagmi-config
  web/src/components/ClaimPnkButton.tsx
  web/src/components/ConnectWallet/index.tsx
  web/src/components/EnsureChain.tsx
  web/src/components/JurorLink.tsx
  web/src/components/Verdict/FinalDecision.tsx
  web/src/config/rpc.ts
  web/src/config/wagmi.ts
  web/src/consts/chains.ts
  web/src/consts/eip712-messages.ts
  web/src/context/NewDisputeContext.tsx
  web/src/context/Web3Provider.tsx
  web/src/hooks/queries/useAppealCost.ts
  web/src/hooks/queries/useDisputeKitClassicMultipliers.ts
  web/src/hooks/queries/usePolicyRegistryEvent.ts
  web/src/hooks/queries/usePopulatedDisputeData.ts
  web/src/hooks/usePNKData.tsx
  web/src/hooks/useStakingEventsByCourt.ts
  web/src/layout/Header/DesktopHeader.tsx
  web/src/pages/Cases/CaseDetails/MaintenanceButtons/DistributeRewards.tsx
  web/src/pages/Cases/CaseDetails/MaintenanceButtons/WithdrawAppealFees.tsx
  web/src/pages/Courts/CourtDetails/StakePanel/StakeWithdrawButton.tsx
  web/src/pages/Resolver/NavigationButtons/SubmitBatchDisputesButton.tsx
  web/src/pages/Resolver/Parameters/Jurors.tsx
  web/src/utils/getGraphqlUrl.ts
  web/src/utils/index.ts
Owners: @kleros/maintainers-court-v2-frontend

fix: safeTransfer check M-03
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/libraries/SafeERC20.sol
  contracts/test/foundry/KlerosCore_Execution.t.sol
Owners: @jaybuidl

fix: whenNotPaused on transferBySortitionModule() L-02
  contracts/src/arbitration/KlerosCore.sol
Owners: @jaybuidl

fix: malicious arbitrable M-01
  contracts/src/arbitration/arbitrables/ArbitrableExample.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassicBase.sol
  contracts/src/test/MaliciousArbitrableMock.sol
  contracts/test/foundry/KlerosCore_Execution.t.sol
Owners: @jaybuidl

fix: store timesPerPeriod in round M-04
  contracts/src/arbitration/KlerosCore.sol
  contracts/test/foundry/KlerosCore_Disputes.t.sol
Owners: @jaybuidl

fix: add executed status M-01
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassicBase.sol
  contracts/test/foundry/KlerosCore_Appeals.t.sol
  contracts/test/foundry/KlerosCore_Disputes.t.sol
  contracts/test/foundry/KlerosCore_Drawing.t.sol
  contracts/test/foundry/KlerosCore_Execution.t.sol
  contracts/test/foundry/KlerosCore_Voting.t.sol
Owners: @jaybuidl

fix: store hiddenVotes and jurorsForJump M-04
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassicBase.sol
  contracts/test/foundry/KlerosCore_Voting.t.sol
Owners: @jaybuidl

fix: coherence for tied choices M-07
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassicBase.sol
  contracts/src/arbitration/interfaces/IDisputeKit.sol
  contracts/test/foundry/KlerosCore_Execution.t.sol
Owners: @jaybuidl

fix: maxStake bypass L-05
  contracts/src/arbitration/SortitionModule.sol
  contracts/test/foundry/KlerosCore_Execution.t.sol
Owners: @jaybuidl

docs(KC): missing dot
  contracts/src/arbitration/KlerosCore.sol
Owners: @jaybuidl

feat: arbitration pausing L-02
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassicBase.sol
Owners: @jaybuidl

test: arbitration pausing
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassicBase.sol
  contracts/test/foundry/KlerosCore_Governance.t.sol
Owners: @jaybuidl

refactor(web): hash-vote-implementation
  web/src/utils/crypto/hashJustification.ts
  web/src/utils/crypto/hashVote.test.ts
  web/src/utils/crypto/hashVote.ts
Owners: @kleros/maintainers-court-v2-frontend

feat(web): e2e-setup
  web/.gitignore
  web/package.json
  web/playwright.config.ts
  web/src/components/ConnectWallet/AccountDisplay.tsx
  web/src/config/wagmi.ts
  web/src/context/Web3Provider.tsx
  web/src/hooks/useStakingEventsByCourt.ts
  web/src/pages/Courts/CourtDetails/StakePanel/StakeWithdrawButton.tsx
  web/src/pages/Resolver/Briefing/Title.tsx
  web/src/tests/e2e/case.spec.ts
  web/src/tests/e2e/fixtures/atlas.ts
  web/src/tests/e2e/fixtures/hardhat.ts
  web/src/tests/e2e/fixtures/index.ts
  web/src/tests/e2e/fixtures/wallet.ts
  web/src/tests/e2e/smoke.spec.ts
  web/src/tests/e2e/stake.spec.ts
  web/src/tests/e2e/utils/index.ts
  web/src/tests/e2e/utils/jwt.ts
  web/src/tests/e2e/wallet.spec.ts
  yarn.lock
Owners: @kleros/devs, @kleros/maintainers-court-v2-frontend

fix: add external rates converter L-03
  contracts/deploy/00-home-chain-arbitration-mainnet.ts
  contracts/deploy/00-home-chain-arbitration-ruler.ts
  contracts/deploy/00-home-chain-arbitration.ts
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/RatesConverter.sol
  contracts/src/arbitration/devtools/KlerosCoreRuler.sol
  contracts/src/arbitration/interfaces/IArbitratorV2.sol
  contracts/src/arbitration/university/KlerosCoreUniversity.sol
  contracts/test/foundry/KlerosCore_Disputes.t.sol
  contracts/test/foundry/KlerosCore_Execution.t.sol
  contracts/test/foundry/KlerosCore_Governance.t.sol
  contracts/test/foundry/KlerosCore_Initialization.t.sol
  contracts/test/foundry/KlerosCore_TestBase.sol
Owners: @jaybuidl

test: extra test to cover fundAppeal() of the losing side
  contracts/test/foundry/KlerosCore_Governance.t.sol
Owners: @jaybuidl

chore(graph-node): healtcheck
  services/graph-node/docker-compose.yml
Owners: @kleros/maintainers-court-v2-frontend

chore(contracts): time-unit
  contracts/deploy/00-home-chain-arbitration.ts
  contracts/deploy/00-rng-chainlink.ts
  contracts/deploy/utils/index.ts
Owners: @jaybuidl

chore(web): informational-console-log-for-storage-helper
  web/src/actions/helpers/storage/index.ts
Owners: @kleros/maintainers-court-v2-frontend

refactor(contracts): wagmi-artifact-rename
  contracts/wagmi.config.hardhat.ts
Owners: @jaybuidl

feat(web): dependency-injection-for-action-and-better-documentation
  web/src/actions/commit/builders/baseBuilder.ts
  web/src/actions/commit/builders/classic.builder.test.ts
  web/src/actions/commit/builders/classic.builder.ts
  web/src/actions/commit/builders/gated.builder.test.ts
  web/src/actions/commit/builders/gated.builder.ts
  web/src/actions/commit/builders/gatedShutter.builder.ts
  web/src/actions/commit/builders/index.ts
  web/src/actions/commit/builders/shutter.builder.test.ts
  web/src/actions/commit/builders/shutter.builder.ts
  web/src/actions/commit/deps.ts
  web/src/actions/commit/execute.ts
  web/src/actions/helpers/builder.ts
  web/src/actions/helpers/storage/index.ts
  web/src/actions/helpers/storage/key.ts
  web/src/actions/reveal/builders/baseBuilder.ts
  web/src/actions/reveal/builders/index.ts
  web/src/actions/reveal/execute.ts
  web/src/actions/reveal/helpers/bruteForceChoice.test.ts
  web/src/actions/reveal/helpers/bruteForceChoice.ts
  web/src/actions/reveal/resolveRevealInputs.ts
  web/src/actions/vote/builders/baseBuilder.ts
  web/src/actions/vote/builders/gated.builder.ts
  web/src/actions/vote/builders/gatedShutter.builder.ts
  web/src/actions/vote/builders/index.ts
  web/src/actions/vote/builders/shutter.builder.ts
  web/src/actions/vote/execute.ts
  web/src/actions/vote/params.ts
  web/src/test/fakes/shutter.ts
Owners: @kleros/maintainers-court-v2-frontend

refactor(web): round-index-safe-type-casting
  web/src/pages/Cases/CaseDetails/Voting/Shutter/Commit.tsx
Owners: @kleros/maintainers-court-v2-frontend

refactor(web): remove-unnecessary-variable
  web/src/hooks/useCastCommit.tsx
Owners: @kleros/maintainers-court-v2-frontend

fix(web): gated-check-for-vote-for-future-safety
  web/src/pages/Cases/CaseDetails/Voting/Classic/Vote.tsx
  web/src/pages/Cases/CaseDetails/Voting/Classic/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

refactor(web): remove-unused-prop
  web/src/pages/Cases/CaseDetails/Voting/Shutter/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

feat: arbitration pausing L-02
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassicBase.sol
  contracts/test/foundry/KlerosCore_Governance.t.sol
Owners: @jaybuidl

fix: maxStake bypass L-05
  contracts/src/arbitration/SortitionModule.sol
  contracts/test/foundry/KlerosCore_Execution.t.sol
Owners: @jaybuidl

fix: store hiddenVotes and jurorsForJump M-04
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassicBase.sol
  contracts/test/foundry/KlerosCore_Voting.t.sol
Owners: @jaybuidl

fix: malicious arbitrable M-01
  contracts/src/arbitration/arbitrables/ArbitrableExample.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassicBase.sol
  contracts/src/test/MaliciousArbitrableMock.sol
  contracts/test/foundry/KlerosCore_Execution.t.sol
Owners: @jaybuidl

fix: store timesPerPeriod in round M-04
  contracts/src/arbitration/KlerosCore.sol
  contracts/test/foundry/KlerosCore_Disputes.t.sol
Owners: @jaybuidl

fix: coherence for tied choices M-07
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassicBase.sol
  contracts/src/arbitration/interfaces/IDisputeKit.sol
  contracts/test/foundry/KlerosCore_Execution.t.sol
Owners: @jaybuidl

fix: add executed status M-01
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassicBase.sol
  contracts/test/foundry/KlerosCore_Appeals.t.sol
  contracts/test/foundry/KlerosCore_Disputes.t.sol
  contracts/test/foundry/KlerosCore_Drawing.t.sol
  contracts/test/foundry/KlerosCore_Execution.t.sol
  contracts/test/foundry/KlerosCore_Voting.t.sol
Owners: @jaybuidl

fix: add external rates converter L-03
  contracts/deploy/00-home-chain-arbitration-mainnet.ts
  contracts/deploy/00-home-chain-arbitration-ruler.ts
  contracts/deploy/00-home-chain-arbitration.ts
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/RatesConverter.sol
  contracts/src/arbitration/devtools/KlerosCoreRuler.sol
  contracts/src/arbitration/interfaces/IArbitratorV2.sol
  contracts/src/arbitration/university/KlerosCoreUniversity.sol
  contracts/test/foundry/KlerosCore_Disputes.t.sol
  contracts/test/foundry/KlerosCore_Execution.t.sol
  contracts/test/foundry/KlerosCore_Governance.t.sol
  contracts/test/foundry/KlerosCore_Initialization.t.sol
  contracts/test/foundry/KlerosCore_TestBase.sol
Owners: @jaybuidl

docs(KC): missing dot
  contracts/src/arbitration/KlerosCore.sol
Owners: @jaybuidl
