Repository kleros/kleros-v2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kleros/maintainers-court-v2-frontend, @jaybuidl, @kleros/devs

.github/CODEOWNERS:

# Default
*                          @kleros/maintainers-court-v2-frontend
contracts                  @jaybuidl

# Owned by everyone
yarn.lock                  @kleros/devs
.gitignore                 @kleros/devs

Potential fix for code scanning alert no. 96: Bad HTML filtering regexp
  web/package.json
  web/src/utils/markdownSanitization.ts
Owners: @kleros/maintainers-court-v2-frontend

chore: dompurify in packagejson
  web/package.json
  yarn.lock
Owners: @kleros/maintainers-court-v2-frontend, @kleros/devs

Potential fix for code scanning alert no. 97: Incomplete URL scheme check
  web/src/utils/markdownSanitization.ts
Owners: @kleros/maintainers-court-v2-frontend

feat: max height and scrollable on mobile
  web/src/components/ExternalLinkWarning.tsx
Owners: @kleros/maintainers-court-v2-frontend

chore: dummy commit bis
  subgraph/README.md
Owners: @kleros/maintainers-court-v2-frontend

feat: switch to reactmarkdown, remark gfm, rehype raw and rehype sanitize
  web/package.json
  web/src/components/DisputePreview/DisputeContext.tsx
  web/src/components/MarkdownEditor.tsx
  web/src/components/MarkdownRenderer.tsx
  web/src/components/ReactMarkdown.tsx
  web/src/pages/Cases/CaseDetails/Voting/Classic/Reveal.tsx
  web/src/pages/Cases/CaseDetails/Voting/OptionsContainer.tsx
  web/src/pages/Cases/CaseDetails/Voting/VotingHistory.tsx
  web/src/pages/Courts/CourtDetails/Description.tsx
  web/src/pages/Resolver/Briefing/Description.tsx
  web/src/styles/mdxEditorTheme.ts
  web/src/utils/markdownSanitization.ts
  web/src/utils/urlValidation.ts
  yarn.lock
Owners: @kleros/maintainers-court-v2-frontend, @kleros/devs

chore: style impros resolver description
  web/src/pages/Resolver/Briefing/Description.tsx
  web/src/styles/mdxEditorTheme.ts
Owners: @kleros/maintainers-court-v2-frontend

chore: slight transition and coloring
  web/src/styles/mdxEditorTheme.ts
Owners: @kleros/maintainers-court-v2-frontend

chore: small styling issue
  web/src/styles/mdxEditorTheme.ts
Owners: @kleros/maintainers-court-v2-frontend

feat: fuzzing tests
  contracts/src/arbitration/arbitrables/ArbitrableExample.sol
  contracts/test/foundry/KlerosCore_Appeals.t.sol
  contracts/test/foundry/KlerosCore_Disputes.t.sol
  contracts/test/foundry/KlerosCore_Drawing.t.sol
  contracts/test/foundry/KlerosCore_Execution.t.sol
  contracts/test/foundry/KlerosCore_Staking.t.sol
  contracts/test/foundry/KlerosCore_Voting.t.sol
Owners: @jaybuidl

feat: clear-choice-button
  web/src/components/DisputeFeatures/GroupsUI.tsx
  web/src/pages/Resolver/Parameters/Court/FeatureSelection/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

fix(DK): multiple commit fix
  contracts/src/arbitration/dispute-kits/DisputeKitClassicBase.sol
  contracts/test/foundry/KlerosCore_Voting.t.sol
Owners: @jaybuidl

fix(DK): allow recommits without changing counter
  contracts/src/arbitration/dispute-kits/DisputeKitClassicBase.sol
  contracts/test/foundry/KlerosCore_Voting.t.sol
Owners: @jaybuidl

refactor: renamed error AppealPeriodIsOver into NotAppealPeriod
  contracts/src/arbitration/dispute-kits/DisputeKitClassicBase.sol
  contracts/test/foundry/KlerosCore_Appeals.t.sol
Owners: @jaybuidl

fix: typos, natspec, small gas optimisation
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/SortitionModule.sol
  contracts/src/arbitration/interfaces/IArbitratorV2.sol
  contracts/src/arbitration/interfaces/ISortitionModule.sol
  contracts/src/arbitration/university/KlerosCoreUniversity.sol
Owners: @jaybuidl

fix: minor KlerosCore improvements from reviews
  contracts/src/arbitration/KlerosCore.sol
  contracts/test/foundry/KlerosCore_Governance.t.sol
Owners: @jaybuidl

docs: natspec fixes
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/SortitionModule.sol
Owners: @jaybuidl

docs: natspec fixes
  contracts/src/arbitration/interfaces/IEvidence.sol
Owners: @jaybuidl

refactor: minor improvement to the DisputeResolver
  contracts/src/arbitration/arbitrables/DisputeResolver.sol
Owners: @jaybuidl

fix: autostake the token rewards in the court where the stake originates from
  contracts/src/arbitration/KlerosCore.sol
Owners: @jaybuidl

feat: extra _arbitrable parameter for the Evidence event
  contracts/src/arbitration/evidence/EvidenceModule.sol
  contracts/src/arbitration/evidence/ModeratedEvidenceModule.sol
  contracts/src/arbitration/interfaces/IEvidence.sol
  contracts/test/evidence/index.ts
Owners: @jaybuidl

docs: natspec
  contracts/src/rng/ChainlinkRNG.sol
Owners: @jaybuidl

feat: removal of externalDisputeID, pre-dispute evidence submission is not needed
  contracts/src/arbitration/KlerosGovernor.sol
  contracts/src/arbitration/arbitrables/ArbitrableExample.sol
  contracts/src/arbitration/arbitrables/DisputeResolver.sol
  contracts/src/arbitration/devtools/DisputeResolverRuler.sol
  contracts/src/arbitration/evidence/EvidenceModule.sol
  contracts/src/arbitration/evidence/ModeratedEvidenceModule.sol
  contracts/src/arbitration/interfaces/IArbitrableV2.sol
  contracts/src/arbitration/interfaces/IEvidence.sol
  contracts/src/gateway/HomeGateway.sol
  contracts/src/gateway/interfaces/IHomeGateway.sol
  contracts/test/arbitration/draw.ts
  contracts/test/arbitration/ruler.ts
  contracts/test/evidence/index.ts
  contracts/test/integration/index.ts
Owners: @jaybuidl

chore: metrics script
  contracts/scripts/generateMetrics.sh
Owners: @jaybuidl

fix(DK): allow recurring DK
  contracts/src/arbitration/dispute-kits/DisputeKitClassicBase.sol
  contracts/test/foundry/KlerosCore_Appeals.t.sol
Owners: @jaybuidl

test: withdrawFeesAndRewards() coverage for complex DK jump sequence
  contracts/test/foundry/KlerosCore_Appeals.t.sol
Owners: @jaybuidl

refactor: active/jump checks, no more _round param in withdrawFeesAndRewards(), DK errors renamed
  contracts/src/arbitration/dispute-kits/DisputeKitClassicBase.sol
  contracts/src/arbitration/dispute-kits/DisputeKitGatedShutter.sol
  contracts/src/arbitration/dispute-kits/DisputeKitShutter.sol
  contracts/src/arbitration/interfaces/IDisputeKit.sol
  contracts/test/foundry/KlerosCore_Appeals.t.sol
  contracts/test/foundry/KlerosCore_Disputes.t.sol
  contracts/test/foundry/KlerosCore_Execution.t.sol
  contracts/test/foundry/KlerosCore_Voting.t.sol
Owners: @jaybuidl

fix(ShutterDK): tie recovery commit
  contracts/src/arbitration/dispute-kits/DisputeKitGatedShutter.sol
  contracts/src/arbitration/dispute-kits/DisputeKitShutter.sol
  contracts/test/arbitration/dispute-kit-shutter.ts
Owners: @jaybuidl

fix(DK): hash justification
  contracts/src/arbitration/dispute-kits/DisputeKitGatedShutter.sol
Owners: @jaybuidl

fix: removed unnecessary isActive modifier on the shutter DKs
  contracts/src/arbitration/dispute-kits/DisputeKitGatedShutter.sol
  contracts/src/arbitration/dispute-kits/DisputeKitShutter.sol
Owners: @jaybuidl

feat: removed an external call to Core in DK.createDispute()
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassicBase.sol
  contracts/src/arbitration/interfaces/IDisputeKit.sol
  contracts/src/arbitration/university/KlerosCoreUniversity.sol
  contracts/test/arbitration/index.ts
Owners: @jaybuidl

fix: token whitelist for DisputeKitGated and DisputeKitGatedShutter
  contracts/src/arbitration/dispute-kits/DisputeKitClassicBase.sol
  contracts/src/arbitration/dispute-kits/DisputeKitGated.sol
  contracts/src/arbitration/dispute-kits/DisputeKitGatedShutter.sol
  contracts/test/arbitration/dispute-kit-gated.ts
Owners: @jaybuidl

fix(ShutterDK): replace recovery with justification commit
  contracts/src/arbitration/dispute-kits/DisputeKitClassicBase.sol
  contracts/src/arbitration/dispute-kits/DisputeKitGatedShutter.sol
  contracts/src/arbitration/dispute-kits/DisputeKitShutter.sol
  contracts/test/arbitration/dispute-kit-shutter.ts
Owners: @jaybuidl

test: updated with token whitelist coverage
  contracts/src/test/DisputeKitGatedMock.sol
  contracts/test/arbitration/dispute-kit-gated.ts
Owners: @jaybuidl

fix: support disputes with no token gate address specified
  contracts/src/arbitration/dispute-kits/DisputeKitGated.sol
  contracts/src/arbitration/dispute-kits/DisputeKitGatedShutter.sol
Owners: @jaybuidl

test: refactored to cover both shutter and gated DK combinations without duplicating the tests
  contracts/src/test/DisputeKitGatedShutterMock.sol
  contracts/test/arbitration/dispute-kit-gated-shutter.ts
  contracts/test/arbitration/dispute-kit-gated.ts
  contracts/test/arbitration/dispute-kit-shutter.ts
  contracts/test/arbitration/helpers/dispute-kit-gated-common.ts
  contracts/test/arbitration/helpers/dispute-kit-shutter-common.ts
Owners: @jaybuidl

test: added coverage for missing token gate address in gated DKs
  contracts/test/arbitration/dispute-kit-gated-shutter.ts
  contracts/test/arbitration/dispute-kit-gated.ts
  contracts/test/arbitration/helpers/dispute-kit-gated-common.ts
Owners: @jaybuidl

fix: coderabbit review, fixed a test not making any assertions
  contracts/src/test/DisputeKitGatedMock.sol
  contracts/src/test/DisputeKitGatedShutterMock.sol
  contracts/test/arbitration/helpers/dispute-kit-gated-common.ts
  contracts/test/arbitration/helpers/dispute-kit-shutter-common.ts
Owners: @jaybuidl

refactor: hidden votes verification logic
  contracts/src/arbitration/dispute-kits/DisputeKitClassicBase.sol
  contracts/src/arbitration/dispute-kits/DisputeKitGatedShutter.sol
  contracts/src/arbitration/dispute-kits/DisputeKitShutter.sol
Owners: @jaybuidl

fix: vote index error
  contracts/src/arbitration/dispute-kits/DisputeKitClassicBase.sol
Owners: @jaybuidl
