Repository kleros/kleros-v2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kleros/maintainers-court-v2-frontend, @jaybuidl, @kleros/devs

.github/CODEOWNERS:

# Default
*                          @kleros/maintainers-court-v2-frontend
contracts                  @jaybuidl

# Owned by everyone
yarn.lock                  @kleros/devs
.gitignore                 @kleros/devs

docs(kleros-app): improve-documentation-discovery-for-ides
  kleros-app/src/lib/atlas/providers/AtlasProvider.tsx
  kleros-app/tsconfig.json
Owners: @kleros/maintainers-court-v2-frontend

chore(web): update-atlas-provider
  web/src/context/AtlasProvider.tsx
Owners: @kleros/maintainers-court-v2-frontend

feat(kleros-app): add-delete-user-support
  kleros-app/CHANGELOG.md
  kleros-app/src/lib/atlas/providers/AtlasProvider.tsx
  kleros-app/src/lib/atlas/utils/deleteUser.ts
  kleros-app/src/lib/atlas/utils/index.ts
Owners: @kleros/maintainers-court-v2-frontend

feat(web): unsubscribe-support
  web/src/layout/Header/navbar/Menu/Settings/Notifications/FormContactDetails/FormContact.tsx
  web/src/layout/Header/navbar/Menu/Settings/Notifications/FormContactDetails/index.tsx
  web/src/locales/en/translation.json
  web/src/locales/es/translation.json
  web/src/locales/fr/translation.json
Owners: @kleros/maintainers-court-v2-frontend

fix(web): handle-failed-unsubscribe
  web/src/layout/Header/navbar/Menu/Settings/Notifications/FormContactDetails/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

docs(kleros-app): delete-user-in-readme
  kleros-app/README.md
Owners: @kleros/maintainers-court-v2-frontend

fix(web): french-unsubcribe-translation
  web/src/locales/fr/translation.json
Owners: @kleros/maintainers-court-v2-frontend

chore(kleros-app): release @kleros/kleros-app@3.0.0
  kleros-app/package.json
Owners: @kleros/maintainers-court-v2-frontend

docs(kleros-app): update-changelog-for-3.0.0
  kleros-app/CHANGELOG.md
Owners: @kleros/maintainers-court-v2-frontend

chore(kleros-app): update-changelog-for-3.0.1
  kleros-app/CHANGELOG.md
Owners: @kleros/maintainers-court-v2-frontend

chore(kleros-app): release @kleros/kleros-app@3.0.1
  kleros-app/package.json
Owners: @kleros/maintainers-court-v2-frontend

fix: remove max-len warnings across workspace
  contracts/deploy/00-home-chain-arbitration-mainnet.ts
  contracts/deploy/00-home-chain-arbitration.ts
  contracts/deploy/01-foreign-gateway-on-ethereum.ts
  contracts/deploy/01-foreign-gateway-on-gnosis.ts
  contracts/deploy/03-vea-mock.ts
  contracts/deploy/04-foreign-arbitrable.ts
  contracts/deploy/04-klerosliquid-to-v2-gnosis.ts
  contracts/deploy/fix1148.ts
  contracts/deploy/utils/deployUpgradable.ts
  contracts/deploy/utils/index.ts
  contracts/scripts/disputeCreatorBot.ts
  contracts/scripts/disputeRelayerBot.ts
  contracts/scripts/keeperBot.ts
  contracts/scripts/keeperBotShutter.ts
  contracts/scripts/populateCourts.ts
  contracts/scripts/populatePolicyRegistry.ts
  contracts/scripts/utils/tx-builder.ts
  contracts/scripts/viemTest.ts
  contracts/test/arbitration/draw.ts
  contracts/test/arbitration/helpers/dispute-kit-gated-common.ts
  contracts/test/arbitration/staking-neo.ts
  contracts/test/arbitration/staking.ts
  contracts/test/integration/index.ts
  contracts/test/proxy/index.ts
  contracts/wagmi.config.devnet.mts
  contracts/wagmi.config.hardhat.mts
  contracts/wagmi.config.testnet.mts
Owners: @jaybuidl

fix: log level for keeper bot errors
  contracts/scripts/keeperBot.ts
Owners: @jaybuidl

fix: log level for keeper bot errors
  contracts/scripts/keeperBot.ts
Owners: @jaybuidl

fix(web): remove-style-attribute-and-input-tag-from-rehype-allowlist
  web/src/components/MarkdownRenderer.tsx
Owners: @kleros/maintainers-court-v2-frontend

feat(web): improved-url-sanitization-and-navigation
  web/package.json
  web/src/locales/en/translation.json
  web/src/locales/es/translation.json
  web/src/locales/fr/translation.json
  web/src/pages/AttachmentDisplay/index.tsx
  web/src/utils/urlValidation.test.ts
  web/src/utils/urlValidation.ts
  yarn.lock
Owners: @kleros/maintainers-court-v2-frontend, @kleros/devs

fix(web): frontend-url-check-with-warning-modal
  web/src/components/DisputePreview/DisputeContext.tsx
Owners: @kleros/maintainers-court-v2-frontend

fix(web): tighten-nft-image-fetch-and-render
  web/src/hooks/useGatedTokenInfo.ts
  web/src/utils/urlValidation.test.ts
  web/src/utils/urlValidation.ts
Owners: @kleros/maintainers-court-v2-frontend

refactor(web): show-both-original-and-sanitized-url-in-warning-modal
  web/src/components/DisputePreview/DisputeContext.tsx
  web/src/components/ExternalLinkWarning.tsx
  web/src/components/MarkdownRenderer.tsx
  web/src/locales/en/translation.json
  web/src/locales/es/translation.json
  web/src/locales/fr/translation.json
  web/src/utils/urlValidation.test.ts
  web/src/utils/urlValidation.ts
Owners: @kleros/maintainers-court-v2-frontend

fix(web): security-fixes
  web/package.json
  web/src/components/DisputePreview/DisputeContext.tsx
  web/src/pages/AttachmentDisplay/index.tsx
  web/src/utils/urlValidation.ts
  yarn.lock
Owners: @kleros/maintainers-court-v2-frontend, @kleros/devs

chore(web): return-parsed-href
  web/src/utils/urlValidation.ts
Owners: @kleros/maintainers-court-v2-frontend

chore(web): return-parsed-href
  web/src/utils/urlValidation.ts
Owners: @kleros/maintainers-court-v2-frontend

fix(web): return-the-safe-attachment-url
  web/src/pages/AttachmentDisplay/index.tsx
  web/src/utils/urlValidation.test.ts
  web/src/utils/urlValidation.ts
Owners: @kleros/maintainers-court-v2-frontend

fix(web): return-the-safe-attachment-url
  web/src/pages/AttachmentDisplay/index.tsx
  web/src/utils/urlValidation.ts
Owners: @kleros/maintainers-court-v2-frontend

fix(web): default-attributes
  web/src/components/MarkdownRenderer.tsx
Owners: @kleros/maintainers-court-v2-frontend

refactor(web): show-unsafe-url-as-raw-with-warning
  web/src/components/DisputePreview/DisputeContext.tsx
  web/src/locales/en/translation.json
  web/src/locales/es/translation.json
  web/src/locales/fr/translation.json
  web/src/pages/AttachmentDisplay/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

refactor(web): show-unsafe-url-as-raw-with-warning
  web/src/components/DisputePreview/DisputeContext.tsx
  web/src/pages/AttachmentDisplay/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

fix(web): empty-frontend-url-check
  web/src/components/DisputePreview/DisputeContext.tsx
Owners: @kleros/maintainers-court-v2-frontend

fix(web): empty-frontend-url-check
  web/src/components/DisputePreview/DisputeContext.tsx
Owners: @kleros/maintainers-court-v2-frontend

feat(DK): forking kit
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassic.sol
  contracts/src/arbitration/dispute-kits/DisputeKitForking.sol
Owners: @jaybuidl

docs: forking specs
  contracts/docs/.gitignore
  contracts/docs/00-overview.md
  contracts/docs/CHANGELOG.md
  contracts/docs/README.md
  contracts/docs/_assets/.gitkeep
  contracts/docs/_assets/README.md
  contracts/docs/_meta/conventions.md
  contracts/docs/_meta/glossary.md
  contracts/docs/_meta/open-questions.md
  contracts/docs/layer-1-core/00-overview.md
  contracts/docs/layer-1-core/01-arbitrator.md
  contracts/docs/layer-1-core/02-sortition.md
  contracts/docs/layer-1-core/03-dispute-kits.md
  contracts/docs/layer-1-core/04-courts.md
  contracts/docs/layer-1-core/05-integration-surface.md
  contracts/docs/layer-1-core/06-onchain-metadata.md
  contracts/docs/layer-1-core/07-forking.md
  contracts/docs/layer-2-cross-chain/README.md
  contracts/docs/layer-3-merge/README.md
Owners: @kleros/devs, @jaybuidl

feat(contracts): forking mechanism TDD scaffold (skeletons + Foundry tests)
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/SortitionModule.sol
  contracts/src/arbitration/dispute-kits/DisputeKitForking.sol
  contracts/src/arbitration/dispute-kits/ForkMath.sol
  contracts/src/arbitration/dispute-kits/ForkSettlement.sol
  contracts/src/arbitration/dispute-kits/PNKHolderEscrow.sol
  contracts/src/arbitration/interfaces/ISlashDestination.sol
  contracts/src/arbitration/interfaces/ISortitionModule.sol
  contracts/src/proxy/KlerosProxies.sol
  contracts/src/test/ForkMathHarness.sol
  contracts/src/token/ForkToken.sol
  contracts/test/foundry/DisputeKitForking.t.sol
  contracts/test/foundry/ForkMath.t.sol
  contracts/test/foundry/ForkSettlement.t.sol
  contracts/test/foundry/ForkToken.t.sol
  contracts/test/foundry/ForkingTestBase.sol
  contracts/test/foundry/Forking_Integration.t.sol
  contracts/test/foundry/KlerosCore_ForkingCourt.t.sol
  contracts/test/foundry/SortitionModule_Freeze.t.sol
Owners: @jaybuidl

docs: add Q-016 (locked-PNK fork joiner) to open-questions register
  contracts/docs/_meta/open-questions.md
Owners: @jaybuidl

feat(web): harden FileViewer against malicious file URLs
  web/src/components/FileViewer/Viewers/MarkdownViewer.tsx
  web/src/components/FileViewer/Viewers/SvgViewer.tsx
  web/src/components/FileViewer/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

refactor(web): simplify navbar and route connected address to profile
  web/src/components/ConnectWallet/AccountDisplay.tsx
  web/src/layout/Header/DesktopHeader.tsx
  web/src/layout/Header/navbar/Explore.tsx
  web/src/layout/Header/navbar/index.tsx
  web/src/locales/en/translation.json
  web/src/locales/es/translation.json
  web/src/locales/fr/translation.json
Owners: @kleros/maintainers-court-v2-frontend

refactor(web): restrict FileViewer to http/https and reuse shared URL sanitizer
  web/src/components/FileViewer/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

style(web): center language section and shrink disconnect button
  web/src/components/LanguageSelector.tsx
  web/src/layout/Header/navbar/Menu/Settings/General/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

fix(web): do-not-throw-on-no-encoder-present
  web/src/dispute-kits/ADDING_NEW_DISPUTE_KIT.md
  web/src/dispute-kits/prepareArbitratorExtradata.test.ts
  web/src/dispute-kits/prepareArbitratorExtradata.ts
Owners: @kleros/maintainers-court-v2-frontend

chore(web): remove-erc20-mentions-only-keep-nft
  web/src/components/DisputeFeatures/Features/GatedErc20.tsx
  web/src/dispute-kits/prepareArbitratorExtradata.test.ts
  web/src/hooks/useTokenAddressValidation.ts
  web/src/locales/en/translation.json
  web/src/locales/es/translation.json
  web/src/locales/fr/translation.json
  web/src/pages/Cases/CaseDetails/Overview/DisputeKitOverviewExtraInfo/gated.tsx
Owners: @kleros/maintainers-court-v2-frontend

refactor(web): update-encoder-map-typing
  web/src/dispute-kits/prepareArbitratorExtradata.ts
Owners: @kleros/maintainers-court-v2-frontend
