Repository kleros/kleros-v2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kleros/maintainers-court-v2-frontend, @jaybuidl, @kleros/devs

chore: remove unused translation keys
  web/src/components/Popup/Description/DisputeCreated.tsx
  web/src/locales/en/translation.json
  web/src/locales/es/translation.json
  web/src/locales/fr/translation.json
Owners: @kleros/maintainers-court-v2-frontend

chore: minor
  web/src/components/Popup/Description/DisputeCreated.tsx
  web/src/locales/es/translation.json
  web/src/utils/date.ts
Owners: @kleros/maintainers-court-v2-frontend

chore: typo
  web/src/locales/es/translation.json
Owners: @kleros/maintainers-court-v2-frontend

refactor(web): extract-commit-logic
  web/package.json
  web/src/actions/commit/builders/baseBuilder.ts
  web/src/actions/commit/builders/classic.builder.ts
  web/src/actions/commit/builders/gated.builder.ts
  web/src/actions/commit/builders/gatedShutter.builder.ts
  web/src/actions/commit/builders/index.ts
  web/src/actions/commit/builders/shutter.builder.ts
  web/src/actions/commit/context.ts
  web/src/actions/commit/execute.ts
  web/src/actions/commit/helpers/index.ts
  web/src/actions/commit/params.ts
  web/src/hooks/queries/useDrawQuery.ts
  web/src/hooks/useCastCommit.tsx
  web/src/pages/Cases/CaseDetails/Voting/Classic/Commit.tsx
  web/src/pages/Cases/CaseDetails/Voting/Classic/Reveal.tsx
  web/src/pages/Cases/CaseDetails/Voting/Classic/index.tsx
  web/src/pages/Cases/CaseDetails/Voting/Shutter/Commit.tsx
  web/src/utils/crypto/generateSalt.ts
  web/src/utils/crypto/hashJustification.ts
  web/src/utils/crypto/hashVote.ts
  web/src/utils/crypto/shutter.ts
  web/tsconfig.json
Owners: @kleros/maintainers-court-v2-frontend

feat: notification section translations
  web/src/layout/Header/navbar/Menu/Settings/Notifications/FormContactDetails/index.tsx
  web/src/layout/Header/navbar/Menu/Settings/Notifications/index.tsx
  web/src/locales/en/translation.json
  web/src/locales/es/translation.json
  web/src/locales/fr/translation.json
Owners: @kleros/maintainers-court-v2-frontend

chore: small logical error
  web/src/locales/en/translation.json
  web/src/locales/es/translation.json
  web/src/locales/fr/translation.json
Owners: @kleros/maintainers-court-v2-frontend

chore: tiny navigation bug
  web/src/components/CasesDisplay/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

chore: few bugs
  web/src/layout/Header/navbar/Explore.tsx
  web/src/pages/Profile/Stakes/StakingHistory.tsx
  web/src/pages/Profile/Votes/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

chore: minor
  web/src/locales/en/translation.json
  web/src/locales/es/translation.json
  web/src/locales/fr/translation.json
  web/src/pages/Profile/Stakes/Header.tsx
  web/src/pages/Profile/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

chore: feedback koki
  web/src/layout/Header/navbar/Explore.tsx
  web/src/locales/es/translation.json
Owners: @kleros/maintainers-court-v2-frontend

chore: feedback
  web/src/components/DisputeFeatures/Features/ClassicVote.tsx
  web/src/components/DisputeView/CardLabels/index.tsx
  web/src/locales/en/translation.json
  web/src/locales/es/translation.json
  web/src/locales/fr/translation.json
  web/src/pages/Cases/CaseDetails/Voting/PendingVotesBox.tsx
  web/src/pages/Courts/CourtDetails/StakePanel/StakeWithdrawPopup/stakeSteps.tsx
  web/src/pages/Home/TopJurors/Header/Rewards.tsx
  web/src/pages/Home/TopJurors/Header/Score.tsx
Owners: @kleros/maintainers-court-v2-frontend

chore: translation bug in attachment pages
  web/src/components/DisputePreview/Policies.tsx
  web/src/components/EvidenceCard.tsx
  web/src/pages/AttachmentDisplay/Header.tsx
  web/src/pages/AttachmentDisplay/index.tsx
  web/src/pages/Resolver/Policy/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

feat: more translations
  web/src/components/CaseStarButton.tsx
  web/src/components/ConnectWallet/index.tsx
  web/src/components/DisputeView/DisputeInfo/index.tsx
  web/src/components/EvidenceCard.tsx
  web/src/components/MarkdownEditor.tsx
  web/src/components/Popup/Description/SwapSuccess.tsx
  web/src/components/Popup/Description/VoteWithCommit.tsx
  web/src/components/Popup/Description/VoteWithoutCommit.tsx
  web/src/components/Popup/ExtraInfo/DisputeCreatedExtraInfo.tsx
  web/src/components/Popup/ExtraInfo/StakeWithdrawExtraInfo.tsx
  web/src/components/Popup/ExtraInfo/VoteWithCommitExtraInfo.tsx
  web/src/components/Verdict/Answer.tsx
  web/src/components/Verdict/DisputeTimeline.tsx
  web/src/locales/en/translation.json
  web/src/locales/es/translation.json
  web/src/locales/fr/translation.json
  web/src/pages/Cases/CaseDetails/Appeal/Classic/Fund.tsx
  web/src/pages/Cases/CaseDetails/Appeal/Shutter/Fund.tsx
  web/src/pages/Cases/CaseDetails/MaintenanceButtons/DrawButton.tsx
  web/src/pages/Cases/CaseDetails/Voting/Classic/Reveal.tsx
  web/src/pages/Cases/CaseDetails/Voting/VotesDetails/index.tsx
  web/src/pages/Cases/CaseDetails/Voting/index.tsx
  web/src/pages/Courts/CourtDetails/StakingHistoryByCourt/DisplayStakes/Header/MobileHeader.tsx
  web/src/pages/Courts/CourtDetails/StakingHistoryByCourt/DisplayStakes/StakeEventCard/MobileCard.tsx
  web/src/pages/Profile/JurorCard/TopContent/index.tsx
  web/src/pages/Profile/Stakes/CourtCard/index.tsx
  web/src/pages/Profile/Votes/VoteCard/CaseNumber.tsx
  web/src/pages/Profile/Votes/VoteCard/CaseStatus.tsx
  web/src/pages/Profile/Votes/VoteCard/Round.tsx
  web/src/pages/Profile/Votes/VoteCard/Vote.tsx
  web/src/pages/Profile/Votes/VoteCard/VoteCount.tsx
  web/src/pages/Profile/Votes/VoteCard/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

chore: feedback
  web/src/components/DisputeView/DisputeInfo/index.tsx
  web/src/locales/en/translation.json
  web/src/locales/es/translation.json
  web/src/locales/fr/translation.json
  web/src/pages/Cases/CaseDetails/MaintenanceButtons/DrawButton.tsx
Owners: @kleros/maintainers-court-v2-frontend

feat: switch all to interpolation
  web/src/components/EnsureAuth.tsx
  web/src/components/Phase.tsx
  web/src/components/Popup/Description/DisputeCreated.tsx
  web/src/components/Popup/Description/SwapSuccess.tsx
  web/src/components/Verdict/DisputeTimeline.tsx
  web/src/layout/Header/navbar/Menu/Settings/General/index.tsx
  web/src/layout/Header/navbar/Menu/Settings/Notifications/FormContactDetails/EmailVerificationInfo.tsx
  web/src/layout/Header/navbar/Menu/Settings/Notifications/FormContactDetails/index.tsx
  web/src/locales/en/translation.json
  web/src/locales/es/translation.json
  web/src/locales/fr/translation.json
  web/src/pages/Cases/CaseDetails/Evidence/SubmitEvidenceModal.tsx
  web/src/pages/Cases/CaseDetails/Timeline.tsx
  web/src/pages/Cases/CaseDetails/Voting/VotingHistory.tsx
  web/src/pages/Courts/CourtDetails/JurorsStakedByCourt/index.tsx
  web/src/pages/Courts/CourtDetails/StakePanel/InputDisplay.tsx
  web/src/pages/Courts/CourtDetails/StakePanel/StakeWithdrawPopup/Header.tsx
  web/src/pages/Courts/CourtDetails/StakingHistoryByCourt/index.tsx
  web/src/pages/Courts/CourtDetails/index.tsx
  web/src/pages/Profile/JurorCard/BottomContent/Coherence.tsx
  web/src/pages/Profile/Votes/VoteCard/CaseNumber.tsx
  web/src/pages/Profile/Votes/VoteCard/Round.tsx
  web/src/pages/Resolver/Parameters/NotablePersons/PersonFields.tsx
  web/src/pages/Resolver/Parameters/VotingOptions/OptionsFields.tsx
  web/src/pages/Resolver/Policy/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

chore: small styling tweak
  web/src/layout/Header/navbar/Menu/Settings/General/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

chore: feedback
  web/src/locales/en/translation.json
  web/src/locales/es/translation.json
  web/src/locales/fr/translation.json
  web/src/pages/Cases/CaseDetails/Voting/VotesDetails/AccordionTitle.tsx
  web/src/pages/Profile/Votes/VoteCard/VoteCount.tsx
Owners: @kleros/maintainers-court-v2-frontend

chore: casuallify french terms
  web/src/locales/fr/translation.json
Owners: @kleros/maintainers-court-v2-frontend

chore: node minor version bump CVE-2025-55131 CVE-2025-55130
  contracts/package.json
  kleros-app/package.json
  kleros-sdk/package.json
  package.json
  subgraph/package.json
  web-devtools/package.json
  web/package.json
Owners: @jaybuidl, @kleros/maintainers-court-v2-frontend

feat: added and deployed the ACP SBTs on Arbitrum
  contracts/README.md
  contracts/deploy/05-dispute-kit-acp.ts
  contracts/deployments/arbitrum/SBTACPExperience.json
  contracts/deployments/arbitrum/SBTACPLawyer.json
Owners: @jaybuidl

feat: contract SBT
  contracts/src/token/SBT.sol
Owners: @jaybuidl

chore(web): subgraph-status-banner-toggle-env-var
  web/.env.devnet-university.public
  web/.env.devnet.public
  web/.env.local.public
  web/.env.mainnet.public
  web/.env.testnet.public
  web/src/layout/Header/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

feat(web): action-builder-factory-with-type-safety
  web/src/actions/commit/builders/baseBuilder.ts
  web/src/actions/commit/builders/classic.builder.ts
  web/src/actions/commit/builders/gated.builder.ts
  web/src/actions/commit/builders/gatedShutter.builder.ts
  web/src/actions/commit/builders/index.ts
  web/src/actions/commit/builders/shutter.builder.ts
  web/src/actions/helpers/builder.ts
Owners: @kleros/maintainers-court-v2-frontend

chore(web): extract-salt-key-generation
  web/src/hooks/useCastCommit.tsx
  web/src/utils/crypto/generateSalt.ts
Owners: @kleros/maintainers-court-v2-frontend

fix: numberify the string or the library breaks
  web/src/pages/Cases/CaseDetails/Voting/VotingHistory.tsx
Owners: @kleros/maintainers-court-v2-frontend

feat(web): commit-storage-and-type-helpers
  web/src/actions/commit/builders/classic.builder.ts
  web/src/actions/commit/builders/gated.builder.ts
  web/src/actions/commit/builders/gatedShutter.builder.ts
  web/src/actions/commit/builders/shutter.builder.ts
  web/src/actions/helpers/storage/index.ts
  web/src/actions/helpers/storage/key.ts
  web/src/actions/helpers/storage/types.ts
  web/src/hooks/useCastCommit.tsx
  web/src/pages/Cases/CaseDetails/Voting/Classic/Commit.tsx
  web/src/pages/Cases/CaseDetails/Voting/Shutter/Commit.tsx
  web/src/utils/crypto/generateSalt.ts
  web/src/utils/types.ts
Owners: @kleros/maintainers-court-v2-frontend

refactor(web): extract-reveal-logic
  web/src/actions/reveal/builders/baseBuilder.ts
  web/src/actions/reveal/builders/classic.builder.ts
  web/src/actions/reveal/builders/gated.builder.ts
  web/src/actions/reveal/builders/gatedShutter.builder.ts
  web/src/actions/reveal/builders/index.ts
  web/src/actions/reveal/builders/shutter.builder.ts
  web/src/actions/reveal/context.ts
  web/src/actions/reveal/execute.ts
  web/src/actions/reveal/helpers/bruteForceChoice.ts
  web/src/actions/reveal/params.ts
  web/src/actions/reveal/resolveRevealInputs.ts
  web/src/hooks/useRevealVote.ts
  web/src/pages/Cases/CaseDetails/Voting/Classic/Reveal.tsx
  web/src/pages/Cases/CaseDetails/Voting/Classic/index.tsx
  web/src/pages/Cases/CaseDetails/Voting/Shutter/Reveal.tsx
  web/src/pages/Cases/CaseDetails/Voting/Shutter/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

chore: deploy script tweak
  contracts/deploy/05-dispute-kit-acp.ts
Owners: @jaybuidl

chore(web): subgraph-status-banner-toggle-env-var
  web/.env.devnet-university.public
  web/.env.devnet.public
  web/.env.local.public
  web/.env.mainnet-neo.public
  web/.env.testnet.public
  web/src/layout/Header/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

chore: translation feedback
  web/src/locales/en/translation.json
  web/src/locales/es/translation.json
  web/src/locales/fr/translation.json
  web/src/pages/Cases/CaseDetails/Timeline.tsx
Owners: @kleros/maintainers-court-v2-frontend

chore: clarification on coherent vote definition
  web/src/locales/en/translation.json
  web/src/locales/es/translation.json
  web/src/locales/fr/translation.json
Owners: @kleros/maintainers-court-v2-frontend

fix: center onboarding mini-guide on hash load
  web/src/components/Popup/MiniGuides/MainStructureTemplate.tsx
Owners: @kleros/maintainers-court-v2-frontend

chore(web): extract-vote-logic
  web/src/actions/vote/builders/baseBuilder.ts
  web/src/actions/vote/builders/classic.builder.ts
  web/src/actions/vote/builders/index.ts
  web/src/actions/vote/context.ts
  web/src/actions/vote/execute.ts
  web/src/actions/vote/params.ts
  web/src/hooks/useVote.ts
  web/src/pages/Cases/CaseDetails/Voting/Classic/Vote.tsx
Owners: @kleros/maintainers-court-v2-frontend

fix: center onboarding mini-guide on hash load
  web/src/components/Popup/MiniGuides/MainStructureTemplate.tsx
Owners: @kleros/maintainers-court-v2-frontend

chore: atlas query update
  web/src/pages/Courts/CourtDetails/StakingHistoryByCourt/DisplayStakes/index.tsx
  web/src/pages/Profile/Stakes/StakingHistory.tsx
  web/src/utils/fetchStakingEventsByCourt.ts
Owners: @kleros/maintainers-court-v2-frontend

chore: script to query specific users from Atlas
  contracts/.gitignore
  contracts/scripts/queryAtlasUsers.env.example
  contracts/scripts/queryAtlasUsers.sh
Owners: @kleros/devs, @jaybuidl

fix: stake bug
  web/src/pages/Courts/CourtDetails/StakePanel/StakeWithdrawButton.tsx
  web/src/pages/Courts/CourtDetails/StakePanel/StakeWithdrawPopup/stakeSteps.tsx
Owners: @kleros/maintainers-court-v2-frontend

feat(web): initial-tests-for-builders-and-helpers-including-sensitive-logic
  web/package.json
  web/src/actions/commit/builders/classic.builder.test.ts
  web/src/actions/commit/builders/gated.builder.test.ts
  web/src/actions/commit/builders/shutter.builder.test.ts
  web/src/actions/helpers/storage/key.test.ts
  web/src/actions/helpers/storage/storage.test.ts
  web/src/actions/reveal/builders/classic.builder.test.ts
  web/src/actions/reveal/builders/gated.builder.test.ts
  web/src/actions/reveal/builders/shutter.builder.test.ts
  web/src/actions/reveal/helpers/bruteForceChoice.test.ts
  web/src/actions/reveal/helpers/bruteForceChoice.ts
  web/src/actions/reveal/resolveRevealInputs.test.ts
  web/src/actions/vote/builders/classic.builder.test.ts
  web/src/test/fakes/shutter.ts
  web/src/test/setup.ts
  web/src/utils/crypto/generateSalt.test.ts
  web/src/utils/crypto/hashVote.test.ts
  web/vitest.config.ts
  yarn.lock
Owners: @kleros/maintainers-court-v2-frontend, @kleros/devs

refactor(web): separate-resolve-inputs-integration-test
  web/src/actions/reveal/resolveRevealInputs.integration.test.ts
  web/src/actions/reveal/resolveRevealInputs.test.ts
Owners: @kleros/maintainers-court-v2-frontend

refactor(web): separate-test-for-hashing-choice-and-justification
  web/src/utils/crypto/hashJustification.test.ts
  web/src/utils/crypto/hashVote.test.ts
  web/src/utils/crypto/hashVote.ts
Owners: @kleros/maintainers-court-v2-frontend

.github/CODEOWNERS:

# Default
*                          @kleros/maintainers-court-v2-frontend
contracts                  @jaybuidl

# Owned by everyone
yarn.lock                  @kleros/devs
.gitignore                 @kleros/devs
