Repository kleros/kleros-v2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kleros/maintainers-court-v2-frontend, @jaybuidl, @kleros/devs

.github/CODEOWNERS:

# Default
*                          @kleros/maintainers-court-v2-frontend
contracts                  @jaybuidl

# Owned by everyone
yarn.lock                  @kleros/devs
.gitignore                 @kleros/devs

Create CNAME
  CNAME
Owners: @kleros/maintainers-court-v2-frontend

Delete CNAME
  CNAME
Owners: @kleros/maintainers-court-v2-frontend

Create CNAME
  CNAME
Owners: @kleros/maintainers-court-v2-frontend

Delete CNAME
  CNAME
Owners: @kleros/maintainers-court-v2-frontend

update
  index.html
Owners: @kleros/maintainers-court-v2-frontend

Create CNAME
  CNAME
Owners: @kleros/maintainers-court-v2-frontend

docs: natspec update
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/SortitionModule.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassicBase.sol
  contracts/src/arbitration/dispute-kits/DisputeKitGatedShutter.sol
  contracts/src/arbitration/dispute-kits/DisputeKitShutter.sol
  contracts/src/arbitration/interfaces/IArbitrableV2.sol
  contracts/src/arbitration/interfaces/IDisputeKit.sol
  contracts/src/arbitration/interfaces/IEvidence.sol
Owners: @jaybuidl

fix(SM): shadow var
  contracts/src/arbitration/SortitionModule.sol
  contracts/test/integration/index.ts
Owners: @jaybuidl

fix(web): invalid-dispute-vote-reveal
  web/src/pages/Cases/CaseDetails/Voting/Classic/Reveal.tsx
Owners: @kleros/maintainers-court-v2-frontend

chore: rabbit-feedback
  web/src/pages/Cases/CaseDetails/Voting/Classic/Reveal.tsx
Owners: @kleros/maintainers-court-v2-frontend

feat(web): dynamic-dispute-kit-feature-selection
  web/src/components/DisputeFeatures/Features/ClassicVote.tsx
  web/src/components/DisputeFeatures/Features/GatedErc1155.tsx
  web/src/components/DisputeFeatures/Features/GatedErc20.tsx
  web/src/components/DisputeFeatures/Features/index.tsx
  web/src/components/DisputeFeatures/GroupsUI.tsx
  web/src/consts/disputeFeature.ts
  web/src/context/NewDisputeContext.tsx
  web/src/hooks/queries/useCourtDetails.ts
  web/src/pages/Resolver/Parameters/Court/FeatureSelection/FeatureSkeleton.tsx
  web/src/pages/Resolver/Parameters/Court/FeatureSelection/JurorEligibility.tsx
  web/src/pages/Resolver/Parameters/Court/FeatureSelection/ShieldedVoting.tsx
  web/src/pages/Resolver/Parameters/Court/FeatureSelection/index.tsx
  web/src/pages/Resolver/Parameters/Court/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

fix(web): neo-codegen
  web/wagmi.config.ts
Owners: @kleros/maintainers-court-v2-frontend

chore(web): rabbit-review
  web/src/components/DisputeFeatures/Features/ClassicVote.tsx
  web/src/components/DisputeFeatures/Features/GatedErc1155.tsx
  web/src/components/DisputeFeatures/Features/GatedErc20.tsx
  web/src/components/DisputeFeatures/Features/index.tsx
  web/src/consts/disputeFeature.ts
  web/src/pages/Resolver/Parameters/Court/FeatureSelection/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

fix(web): invalid-dispute-vote-reveal
  web/src/pages/Cases/CaseDetails/Voting/Classic/Reveal.tsx
Owners: @kleros/maintainers-court-v2-frontend

chore: rabbit-feedback
  web/src/pages/Cases/CaseDetails/Voting/Classic/Reveal.tsx
Owners: @kleros/maintainers-court-v2-frontend

fix(web): incorrect-feature-selection
  web/src/pages/Resolver/Parameters/Court/FeatureSelection/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

feat: court features wording, sub-title styling
  web/src/components/DisputeFeatures/Features/ClassicVote.tsx
  web/src/components/DisputeFeatures/Features/GatedErc1155.tsx
  web/src/components/DisputeFeatures/Features/GatedErc20.tsx
  web/src/components/DisputeFeatures/Features/index.tsx
  web/src/components/DisputeFeatures/GroupsUI.tsx
  web/src/pages/Resolver/Parameters/Court/FeatureSelection/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

chore: storage optimisation by reordering Vote.voted
  contracts/src/arbitration/dispute-kits/DisputeKitClassicBase.sol
Owners: @jaybuidl

chore: added storage gaps to KC Court, Dispute and Round, and removed unused Court.disabled
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/SortitionModule.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassicBase.sol
  contracts/src/arbitration/university/KlerosCoreUniversity.sol
  contracts/src/arbitration/university/SortitionModuleUniversity.sol
  contracts/test/foundry/KlerosCore_Governance.t.sol
  contracts/test/foundry/KlerosCore_Initialization.t.sol
  contracts/test/foundry/KlerosCore_TestBase.sol
Owners: @jaybuidl

chore: foundry lint
  contracts/foundry.toml
  contracts/src/arbitration/university/KlerosCoreUniversity.sol
  contracts/src/libraries/SafeSend.sol
  contracts/src/token/Faucet.sol
  contracts/src/utils/TransactionBatcher.sol
  contracts/test/foundry/KlerosCore_Disputes.t.sol
  contracts/test/foundry/KlerosCore_Execution.t.sol
  contracts/test/foundry/KlerosCore_Initialization.t.sol
  contracts/test/foundry/KlerosCore_Staking.t.sol
  contracts/test/foundry/KlerosCore_TestBase.sol
Owners: @jaybuidl

chore: event parameter tweaks
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/KlerosGovernor.sol
  contracts/src/arbitration/arbitrables/ArbitrableExample.sol
  contracts/src/arbitration/arbitrables/DisputeResolver.sol
  contracts/src/arbitration/devtools/DisputeResolverRuler.sol
  contracts/src/arbitration/devtools/KlerosCoreRuler.sol
  contracts/src/arbitration/evidence/ModeratedEvidenceModule.sol
  contracts/src/arbitration/interfaces/IArbitrableV2.sol
  contracts/src/arbitration/university/KlerosCoreUniversity.sol
  contracts/src/gateway/HomeGateway.sol
  contracts/src/gateway/interfaces/IHomeGateway.sol
  contracts/test/arbitration/draw.ts
  contracts/test/arbitration/ruler.ts
  contracts/test/foundry/KlerosCore_Execution.t.sol
  contracts/test/integration/index.ts
Owners: @jaybuidl

chore: tweaked sortition module natspec, added the phase related functions to the interface
  contracts/src/arbitration/SortitionModule.sol
  contracts/src/arbitration/interfaces/ISortitionModule.sol
  contracts/src/arbitration/university/SortitionModuleUniversity.sol
Owners: @jaybuidl

chore: changelog
  contracts/CHANGELOG.md
Owners: @jaybuidl

fix: do not emit TokenAndETHShift for zero amounts, no zero transfer
  contracts/src/arbitration/KlerosCore.sol
  contracts/test/foundry/KlerosCore_Execution.t.sol
  contracts/test/integration/index.ts
Owners: @jaybuidl

chore: changelog
  contracts/CHANGELOG.md
Owners: @jaybuidl

refactor: renamed event TokenAndEthShift into JurorRewardPenalty
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/devtools/KlerosCoreRuler.sol
  contracts/src/arbitration/university/KlerosCoreUniversity.sol
  contracts/test/arbitration/ruler.ts
  contracts/test/foundry/KlerosCore_Execution.t.sol
  contracts/test/integration/index.ts
Owners: @jaybuidl

chore: changelog
  contracts/CHANGELOG.md
Owners: @jaybuidl

refactor: minor internal function rename
  contracts/src/arbitration/dispute-kits/DisputeKitGated.sol
  contracts/src/arbitration/dispute-kits/DisputeKitGatedShutter.sol
  contracts/test/arbitration/dispute-kit-gated.ts
Owners: @jaybuidl

feat: extracted CourtRegistry from KlerosCore (wip)
  contracts/src/arbitration/CourtRegistry.sol
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/libraries/SortitionTrees.sol
Owners: @jaybuidl

chore: compilation fix
  contracts/src/arbitration/SortitionModule.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassicBase.sol
  contracts/src/arbitration/university/SortitionModuleUniversity.sol
  contracts/src/test/KlerosCoreMock.sol
Owners: @jaybuidl

chore: compilation fix
  contracts/src/arbitration/university/SortitionModuleUniversity.sol
Owners: @jaybuidl

chore: less optimizer iterations to shrink KlerosCore
  contracts/hardhat.config.ts
Owners: @jaybuidl

chore: university contracts redeploy
  contracts/README.md
  contracts/deploy/00-home-chain-arbitration-university.ts
  contracts/deployments/arbitrumSepoliaDevnet.ts
  contracts/deployments/arbitrumSepoliaDevnet/DisputeKitClassicUniversity.json
  contracts/deployments/arbitrumSepoliaDevnet/DisputeKitClassicUniversity_Implementation.json
  contracts/deployments/arbitrumSepoliaDevnet/DisputeKitClassicUniversity_Proxy.json
  contracts/deployments/arbitrumSepoliaDevnet/DisputeResolverUniversity.json
  contracts/deployments/arbitrumSepoliaDevnet/DisputeTemplateRegistryUniversity.json
  contracts/deployments/arbitrumSepoliaDevnet/DisputeTemplateRegistryUniversity_Implementation.json
  contracts/deployments/arbitrumSepoliaDevnet/DisputeTemplateRegistryUniversity_Proxy.json
  contracts/deployments/arbitrumSepoliaDevnet/KlerosCoreUniversity.json
  contracts/deployments/arbitrumSepoliaDevnet/KlerosCoreUniversity_Implementation.json
  contracts/deployments/arbitrumSepoliaDevnet/KlerosCoreUniversity_Proxy.json
  contracts/deployments/arbitrumSepoliaDevnet/SortitionModuleUniversity.json
  contracts/deployments/arbitrumSepoliaDevnet/SortitionModuleUniversity_Implementation.json
  contracts/deployments/arbitrumSepoliaDevnet/SortitionModuleUniversity_Proxy.json
  contracts/deployments/contractsEthers.ts
  contracts/deployments/contractsViem.ts
  contracts/deployments/devnet.viem.ts
  contracts/scripts/utils/contracts.ts
  contracts/scripts/utils/execution.ts
  contracts/src/proxy/KlerosProxies.sol
  contracts/test/integration/getContractsEthers.test.ts
  contracts/test/integration/getContractsViem.test.ts
Owners: @jaybuidl

feat: markdown editor and markdown renderer
  web/package.json
  web/src/components/EvidenceCard.tsx
  web/src/components/MarkdownEditor.tsx
  web/src/components/MarkdownRenderer.tsx
  web/src/pages/Cases/CaseDetails/Evidence/SubmitEvidenceModal.tsx
  web/src/pages/Cases/CaseDetails/Voting/Classic/Reveal.tsx
  web/src/pages/Cases/CaseDetails/Voting/JustificationArea.tsx
  web/src/pages/Cases/CaseDetails/Voting/OptionsContainer.tsx
  web/src/pages/Cases/CaseDetails/Voting/VotesDetails/index.tsx
  yarn.lock
Owners: @kleros/maintainers-court-v2-frontend, @kleros/devs

fix: styling fixes, hack to make the text flicker appear
  web/package.json
  web/src/components/MarkdownEditor.tsx
  yarn.lock
Owners: @kleros/maintainers-court-v2-frontend, @kleros/devs

chore: deploy-university-subgraph
  subgraph/core-university/subgraph.template.yaml
  subgraph/core-university/subgraph.yaml
Owners: @kleros/maintainers-court-v2-frontend

feat: style improvements
  web/src/components/MarkdownEditor.tsx
  web/src/components/MarkdownRenderer.tsx
  web/src/styles/mdxEditorTheme.ts
  web/src/utils/markdownSanitization.ts
  web/src/utils/urlValidation.ts
Owners: @kleros/maintainers-court-v2-frontend

fix: university deploy script
  contracts/deploy/00-home-chain-arbitration-university.ts
Owners: @jaybuidl

chore: comments from ai reviews
  web/src/components/FileViewer/Viewers/MarkdownViewer.tsx
  web/src/components/MarkdownEditor.tsx
  web/src/components/MarkdownRenderer.tsx
  web/src/utils/markdownSanitization.ts
  web/src/utils/urlValidation.ts
Owners: @kleros/maintainers-court-v2-frontend

feat: link popup warning, clean up codes
  web/src/components/ExternalLinkWarning.tsx
  web/src/components/MarkdownRenderer.tsx
  web/src/utils/linkUtils.ts
Owners: @kleros/maintainers-court-v2-frontend
