Repository kleros/kleros-v2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kleros/maintainers-court-v2-frontend, @jaybuidl, @kleros/devs

fix(web): gated-dispute-kit-cast-vote
  web/src/pages/Cases/CaseDetails/Voting/Classic/Vote.tsx
  web/src/pages/Cases/CaseDetails/Voting/Classic/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

fix: validate the token address by querying a non-zero address due to OZ reverting on it
  web/src/hooks/useTokenAddressValidation.ts
Owners: @kleros/maintainers-court-v2-frontend

feat(web): token-gated-info-in-dispute-overview
  web/src/hooks/useGatedTokenInfo.ts
  web/src/pages/Cases/CaseDetails/Overview/GatedTokenDisplay.tsx
  web/src/pages/Cases/CaseDetails/Overview/index.tsx
  web/src/utils/extradataToTokenInfo.ts
  web/src/utils/index.ts
Owners: @kleros/maintainers-court-v2-frontend

chore(web): rabbit-feedback
  web/src/hooks/useGatedTokenInfo.ts
  web/src/pages/Cases/CaseDetails/Overview/GatedTokenDisplay.tsx
Owners: @kleros/maintainers-court-v2-frontend

chore: adding back the increase/decreaseAllowance() to PinakionV2 lost after upgrading to OZ v5
  contracts/deploy/utils/deployTokens.ts
  contracts/src/token/PinakionV2.sol
  contracts/src/token/mock/PinakionV2Local.sol
Owners: @jaybuidl

chore: goldsky deploy tooling
  subgraph/package.json
  yarn.lock
Owners: @kleros/maintainers-court-v2-frontend, @kleros/devs

chore(web): rabbit-feedback
  web/src/hooks/useGatedTokenInfo.ts
  web/src/pages/Cases/CaseDetails/Overview/GatedTokenDisplay.tsx
Owners: @kleros/maintainers-court-v2-frontend

feat(web): token-gated-info-in-dispute-overview
  web/src/hooks/useGatedTokenInfo.ts
  web/src/pages/Cases/CaseDetails/Overview/GatedTokenDisplay.tsx
  web/src/pages/Cases/CaseDetails/Overview/index.tsx
  web/src/utils/extradataToTokenInfo.ts
  web/src/utils/index.ts
Owners: @kleros/maintainers-court-v2-frontend

fix(web): address-explorer-link
  web/src/utils/index.ts
Owners: @kleros/maintainers-court-v2-frontend

chore: workflows maintenance
  .github/workflows/contracts-testing.yml
  .github/workflows/dependency-review.yml
Owners: @kleros/maintainers-court-v2-frontend

fix: linting, coderabbit
  contracts/deploy/05-dispute-kit-acp.ts
  contracts/scripts/queryAtlasUsers.env.example
  contracts/scripts/queryAtlasUsers.sh
  contracts/src/token/SBT.sol
Owners: @jaybuidl

refactor: small tweaks to deploy scripts for SBTs
  contracts/deploy/05-dispute-kit-acp.ts
  contracts/deploy/05-dispute-kit-gated-junin.ts
  contracts/deploy/utils/deployTokens.ts
Owners: @jaybuidl

fix: queryAtlasUsers.sh help
  contracts/scripts/queryAtlasUsers.sh
Owners: @jaybuidl

fix: linting, coderabbit
  contracts/deploy/05-dispute-kit-gated-junin.ts
Owners: @jaybuidl

chore(web): extract-appeal-fund-action
  web/src/actions/fundAppeal/builders/baseBuilder.ts
  web/src/actions/fundAppeal/builders/classic.builder.test.ts
  web/src/actions/fundAppeal/builders/classic.builder.ts
  web/src/actions/fundAppeal/builders/gated.builder.ts
  web/src/actions/fundAppeal/builders/gatedShutter.builder.ts
  web/src/actions/fundAppeal/builders/index.ts
  web/src/actions/fundAppeal/builders/shutter.builder.ts
  web/src/actions/fundAppeal/context.ts
  web/src/actions/fundAppeal/execute.ts
  web/src/actions/fundAppeal/params.ts
  web/src/hooks/queries/useClassicAppealQuery.ts
  web/src/hooks/useFundAppeal.ts
  web/src/pages/Cases/CaseDetails/Appeal/Classic/Fund.tsx
  web/src/pages/Cases/CaseDetails/Appeal/Shutter/Fund.tsx
  web/src/test/mocks/contracts.ts
  web/src/test/mocks/index.ts
  web/src/utils/types.ts
Owners: @kleros/maintainers-court-v2-frontend

fix(web): rabbit-feedback
  web/src/actions/fundAppeal/builders/baseBuilder.ts
  web/src/pages/Cases/CaseDetails/Appeal/Classic/Fund.tsx
  web/src/pages/Cases/CaseDetails/Appeal/Shutter/Fund.tsx
Owners: @kleros/maintainers-court-v2-frontend

chore(web): rabbit-feedback
  web/src/pages/Cases/CaseDetails/Appeal/Classic/Fund.tsx
  web/src/pages/Cases/CaseDetails/Appeal/Shutter/Fund.tsx
Owners: @kleros/maintainers-court-v2-frontend

chore: deployed LeaderboardOffset
  contracts/README.md
  contracts/deploy/00-home-chain-arbitration-mainnet.ts
  contracts/deploy/00-home-chain-arbitration.ts
  contracts/deploy/00-home-chain-leaderboard-offset.ts
  contracts/deployments/arbitrumSepoliaDevnet/LeaderboardOffset.json
  contracts/src/governance/LeaderboardOffset.sol
Owners: @jaybuidl

chore: university deployment
  contracts/README.md
  contracts/deploy/00-home-chain-leaderboard-offset.ts
  contracts/deployments/arbitrumSepoliaDevnet.ts
  contracts/deployments/arbitrumSepoliaDevnet/DisputeKitClassicUniversity.json
  contracts/deployments/arbitrumSepoliaDevnet/DisputeKitClassicUniversity_Implementation.json
  contracts/deployments/arbitrumSepoliaDevnet/DisputeKitClassicUniversity_Proxy.json
  contracts/deployments/arbitrumSepoliaDevnet/DisputeResolverUniversity.json
  contracts/deployments/arbitrumSepoliaDevnet/DisputeTemplateRegistryUniversity.json
  contracts/deployments/arbitrumSepoliaDevnet/DisputeTemplateRegistryUniversity_Implementation.json
  contracts/deployments/arbitrumSepoliaDevnet/DisputeTemplateRegistryUniversity_Proxy.json
  contracts/deployments/arbitrumSepoliaDevnet/KlerosCoreUniversity.json
  contracts/deployments/arbitrumSepoliaDevnet/KlerosCoreUniversity_Implementation.json
  contracts/deployments/arbitrumSepoliaDevnet/KlerosCoreUniversity_Proxy.json
  contracts/deployments/arbitrumSepoliaDevnet/SortitionModuleUniversity.json
  contracts/deployments/arbitrumSepoliaDevnet/SortitionModuleUniversity_Implementation.json
  contracts/deployments/arbitrumSepoliaDevnet/SortitionModuleUniversity_Proxy.json
  contracts/deployments/devnet.viem.ts
  contracts/scripts/populateCourts.ts
Owners: @jaybuidl

chore: changelog
  contracts/.claude/skills/changelog-contracts/SKILL.md
  contracts/CHANGELOG.md
Owners: @jaybuidl

chore: add DisputeKitGatedArgentinaConsumerProtection and LeaderboardOffset to contracts helpers
  contracts/deploy/upgrade-all.ts
  contracts/deployments/contractsEthers.ts
  contracts/deployments/contractsViem.ts
  contracts/scripts/utils/contracts.ts
  contracts/test/integration/getContractsEthers.test.ts
  contracts/test/integration/getContractsViem.test.ts
Owners: @jaybuidl

chore: release @kleros/kleros-v2-contracts@2.0.0-rc.2
  contracts/package.json
Owners: @jaybuidl

chore: format CHANGELOG
  contracts/CHANGELOG.md
Owners: @jaybuidl

chore: subgraph package version bump
  subgraph/package.json
Owners: @kleros/maintainers-court-v2-frontend

chore(contracts): generate-hardhat-viem-artifacts
  contracts/deployments/hardhat.viem.ts
Owners: @jaybuidl

chore(subgraph): post-certora-audit-updates
  .lintstagedrc.json
  subgraph/core-university/src/LeaderboardOffset.ts
  subgraph/core-university/src/RatesConverter.ts
  subgraph/core-university/subgraph.template.yaml
  subgraph/core-university/subgraph.yaml
  subgraph/core/schema.graphql
  subgraph/core/src/KlerosCore.ts
  subgraph/core/src/RatesConverter.ts
  subgraph/core/src/entities/ClassicRound.ts
  subgraph/core/src/entities/Court.ts
  subgraph/core/src/entities/Dispute.ts
  subgraph/core/src/entities/FeeToken.ts
  subgraph/core/src/entities/Round.ts
  subgraph/core/subgraph.template.yaml
  subgraph/core/subgraph.yaml
  subgraph/core/tests/fee-token.test.ts
  subgraph/core/tests/rates-converter-utils.ts
  subgraph/core/tests/rates-converter.test.ts
  subgraph/package.json
  subgraph/temp-older-events-addition.txt
Owners: @kleros/maintainers-court-v2-frontend

chore(web): post-certora-audit-changes
  web/src/components/DisputeView/index.tsx
  web/src/components/Popup/Description/DisputeCreated.tsx
  web/src/hooks/queries/useCasesQuery.ts
  web/src/hooks/queries/useClassicAppealQuery.ts
  web/src/hooks/queries/useDisputeDetailsQuery.ts
  web/src/hooks/queries/useVotingHistory.ts
  web/src/hooks/useClassicAppealContext.tsx
  web/src/hooks/useVotingContext.tsx
  web/src/pages/Cases/CaseDetails/MaintenanceButtons/index.tsx
  web/src/pages/Cases/CaseDetails/Timeline.tsx
  web/src/pages/Cases/CaseDetails/Voting/Shutter/Commit.tsx
  web/src/pages/Cases/CaseDetails/Voting/VotingHistory.tsx
  web/src/pages/Cases/CaseDetails/Voting/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

refactor(subgraph): remove-unused-abi-migrations
  subgraph/core/abi-migrations/KlerosCore.json
  subgraph/core/abi-migrations/SortitionModule.json
Owners: @kleros/maintainers-court-v2-frontend

chore(subgraph): deploy-drt-2.0.0-rc.2
  subgraph/dispute-template-registry/subgraph.yaml
  subgraph/package.json
Owners: @kleros/maintainers-court-v2-frontend

refactor: no more University core type, extra deployment, it's now a Devnet-specific dispute kit
  contracts/README.md
  contracts/deploy/00-home-chain-arbitration-mainnet.ts
  contracts/deploy/00-home-chain-arbitration-university.ts
  contracts/deploy/00-home-chain-arbitration.ts
  contracts/deploy/utils/klerosCoreHelper.ts
  contracts/deployments/arbitrumSepoliaDevnet.ts
  contracts/deployments/arbitrumSepoliaDevnet/DisputeKitClassicUniversity.json
  contracts/deployments/arbitrumSepoliaDevnet/DisputeKitClassicUniversity_Implementation.json
  contracts/deployments/arbitrumSepoliaDevnet/DisputeKitClassicUniversity_Proxy.json
  contracts/deployments/arbitrumSepoliaDevnet/DisputeResolverUniversity.json
  contracts/deployments/arbitrumSepoliaDevnet/DisputeTemplateRegistryUniversity.json
  contracts/deployments/arbitrumSepoliaDevnet/DisputeTemplateRegistryUniversity_Implementation.json
  contracts/deployments/arbitrumSepoliaDevnet/DisputeTemplateRegistryUniversity_Proxy.json
  contracts/deployments/arbitrumSepoliaDevnet/KlerosCoreUniversity.json
  contracts/deployments/arbitrumSepoliaDevnet/KlerosCoreUniversity_Implementation.json
  contracts/deployments/arbitrumSepoliaDevnet/KlerosCoreUniversity_Proxy.json
  contracts/deployments/arbitrumSepoliaDevnet/SortitionModuleUniversity.json
  contracts/deployments/arbitrumSepoliaDevnet/SortitionModuleUniversity_Implementation.json
  contracts/deployments/arbitrumSepoliaDevnet/SortitionModuleUniversity_Proxy.json
  contracts/deployments/contractsEthers.ts
  contracts/deployments/contractsViem.ts
  contracts/deployments/devnet.viem.ts
  contracts/scripts/changeOwner.ts
  contracts/scripts/keeperBot.ts
  contracts/scripts/keeperBotShutter.ts
  contracts/scripts/populateCourts.ts
  contracts/scripts/utils/contracts.ts
  contracts/src/arbitration/dispute-kits/DisputeKitClassicUniversity.sol
  contracts/src/arbitration/university/ISortitionModuleUniversity.sol
  contracts/src/arbitration/university/KlerosCoreUniversity.sol
  contracts/src/arbitration/university/SortitionModuleUniversity.sol
  contracts/src/proxy/KlerosProxies.sol
  contracts/test/foundry/DisputeKitClassicUniversity.t.sol
  contracts/test/integration/getContractsEthers.test.ts
  contracts/test/integration/getContractsViem.test.ts
Owners: @jaybuidl

chore: bounty scope
  contracts/audit/bounty-scope-with-exclusions.txt
Owners: @jaybuidl

chore(web): remove-university-specific-code-in-favor-of-uni-dk
  contracts/DEVNET_REDEPLOY.md
  subgraph/core-university/schema.graphql
  subgraph/core-university/src/DisputeKitClassic.ts
  subgraph/core-university/src/EvidenceModule.ts
  subgraph/core-university/src/HomeGateway.ts
  subgraph/core-university/src/KlerosCore.ts
  subgraph/core-university/src/LeaderboardOffset.ts
  subgraph/core-university/src/PolicyRegistry.ts
  subgraph/core-university/src/RatesConverter.ts
  subgraph/core-university/src/SortitionModule.ts
  subgraph/core-university/src/datapoint.ts
  subgraph/core-university/src/entities
  subgraph/core-university/src/utils.ts
  subgraph/core-university/subgraph.template.yaml
  subgraph/core-university/subgraph.yaml
  subgraph/core-university/tests
  subgraph/core/subgraph.template.yaml
  subgraph/core/subgraph.yaml
  subgraph/package.json
  web-devtools/.gitignore
  web-devtools/scripts/runEnv.sh
  web-devtools/src/consts/arbitratorTypes.ts
  web/.env.devnet-university.public
  web/.gitignore
  web/README.md
  web/package.json
  web/scripts/runEnv.sh
  web/src/assets/svgs/header/kleros-court-university.svg
  web/src/consts/arbitratorTypes.ts
  web/src/consts/index.ts
  web/src/consts/processEnvConsts.ts
  web/src/hooks/useGenesisBlock.ts
  web/src/hooks/useSpamEvidence.ts
  web/src/layout/Header/Logo.tsx
  web/src/pages/Cases/CaseDetails/MaintenanceButtons/DrawButton.tsx
  web/src/pages/Courts/CourtDetails/TopSearch.tsx
  web/wagmi.config.ts
Owners: @jaybuidl, @kleros/maintainers-court-v2-frontend, @kleros/devs

fix: clickable here button
  web/src/locales/en/translation.json
  web/src/locales/es/translation.json
  web/src/locales/fr/translation.json
  web/src/pages/Cases/CaseDetails/MaintenanceButtons/DrawButton.tsx
Owners: @kleros/maintainers-court-v2-frontend

test: fixed test to include the new DisputeKitClassicUniversity
  contracts/test/arbitration/index.ts
Owners: @jaybuidl

fix: prevent white flash on dark mode on firefox
  web/src/index.html
Owners: @kleros/maintainers-court-v2-frontend

chore: wagmi config simplification
  web-devtools/wagmi.config.ts
  web/README.md
  web/wagmi.config.ts
Owners: @kleros/maintainers-court-v2-frontend

fix(ShutterDK): check if no hidden votes
  contracts/src/arbitration/dispute-kits/DisputeKitGatedShutter.sol
  contracts/src/arbitration/dispute-kits/DisputeKitShutter.sol
  contracts/test/foundry/KlerosCore_Voting.t.sol
Owners: @jaybuidl

test: fix
  contracts/test/foundry/KlerosCore_Voting.t.sol
Owners: @jaybuidl

feat: add translations
  web/src/components/DisputeFeatures/Features/ArgentinaConsumerProtection.tsx
  web/src/locales/en/translation.json
  web/src/locales/es/translation.json
  web/src/locales/fr/translation.json
Owners: @kleros/maintainers-court-v2-frontend

chore: missing parameter
  web/src/pages/Cases/CaseDetails/Appeal/Classic/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

.github/CODEOWNERS:

# Default
*                          @kleros/maintainers-court-v2-frontend
contracts                  @jaybuidl

# Owned by everyone
yarn.lock                  @kleros/devs
.gitignore                 @kleros/devs
