Repository kleros/kleros-v2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kleros/maintainers-court-v2-frontend, @jaybuidl, @kleros/devs

.github/CODEOWNERS:

# Default
*                          @kleros/maintainers-court-v2-frontend
contracts                  @jaybuidl

# Owned by everyone
yarn.lock                  @kleros/devs
.gitignore                 @kleros/devs

fix(web): one-sided-appeal-withdraw-button
  web/src/pages/Cases/CaseDetails/MaintenanceButtons/WithdrawAppealFees.tsx
Owners: @kleros/maintainers-court-v2-frontend

chore: remove deselect behavior
  web/src/components/DisputeFeatures/Features/FeatureRadio.test.tsx
  web/src/components/DisputeFeatures/Features/FeatureRadio.tsx
  web/src/pages/Resolver/Parameters/Court/FeatureSelection/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

chore: remove hidebignumberfieldsteppers
  web/src/components/DisputeFeatures/Features/GatedErc1155.tsx
  web/src/pages/Cases/CaseDetails/Appeal/EthAmountField.tsx
  web/src/pages/Resolver/Landing/CreationCard.tsx
  web/src/styles/commonStyles.ts
Owners: @kleros/maintainers-court-v2-frontend

feat(contracts): per-court token-gated dispute kit
  contracts/foundry.toml
  contracts/src/arbitration/dispute-kits/DisputeKitGatedPerCourt.sol
  contracts/src/proxy/KlerosProxies.sol
  contracts/test/foundry/DisputeKitGatedPerCourt.t.sol
Owners: @jaybuidl

feat(contracts): deploy script and keeper support for DisputeKitGatedPerCourt
  contracts/deploy/05-dispute-kit-gated-per-court-neo.ts
  contracts/scripts/keeperBot.ts
  contracts/scripts/utils/contracts.ts
Owners: @jaybuidl

feat(contracts): human passport score gate in DisputeKitGatedPerCourt
  contracts/deploy/05-dispute-kit-gated-per-court-neo.ts
  contracts/src/arbitration/dispute-kits/DisputeKitGatedPerCourt.sol
  contracts/src/test/PassportDecoderMock.sol
  contracts/test/foundry/DisputeKitGatedPerCourt.t.sol
Owners: @jaybuidl

feat(contracts): deploy DisputeKitGatedPerCourt on V2 testnet
  contracts/deploy/05-dispute-kit-gated-per-court-neo.ts
  contracts/deploy/05-dispute-kit-gated-per-court.ts
  contracts/deploy/utils/klerosCoreHelper.ts
  contracts/scripts/utils/contracts.ts
  contracts/src/proxy/KlerosProxies.sol
  contracts/src/test/PassportDecoderMock.sol
Owners: @jaybuidl

fix(contracts): check gas before the Human Passport decoder call
  contracts/src/arbitration/dispute-kits/DisputeKitGatedPerCourt.sol
  contracts/src/test/PassportDecoderMock.sol
  contracts/test/foundry/DisputeKitGatedPerCourt.t.sol
Owners: @jaybuidl

refactor(contracts): make keeper withdrawal path importable and testable
  contracts/scripts/keeperBot.ts
  contracts/scripts/keeperBotShutter.ts
  contracts/test/scripts/keeperBot.ts
Owners: @jaybuidl

test(contracts): add failing regression test for keeper appeal withdrawal args
  contracts/test/scripts/keeperBot.ts
Owners: @jaybuidl

fix(contracts): pass core dispute ID and choice to withdrawFeesAndRewards
  contracts/scripts/keeperBot.ts
Owners: @jaybuidl

refactor(contracts): extract keeper drawing gate and add regression tests
  contracts/scripts/keeperBot.ts
  contracts/test/scripts/keeperBot.ts
Owners: @jaybuidl

fix(contracts): only warn about a zero-draw stall when draws were attempted
  contracts/scripts/keeperBot.ts
Owners: @jaybuidl

fix(contracts): guard zero-iteration draw call in keeper drawing loop
  contracts/scripts/keeperBot.ts
Owners: @jaybuidl

fix(contracts): restructure keeper phase-gate to allow drawing-phase entry without minStakingTime
  contracts/scripts/keeperBot.ts
Owners: @jaybuidl

fix(contracts): allow generating-phase entry without minStakingTime gate
  contracts/scripts/keeperBot.ts
Owners: @jaybuidl

fix(contracts): count actual jurors drawn instead of requested iterations
  contracts/scripts/keeperBot.ts
Owners: @jaybuidl

refactor(contracts): extract keeper drawing gate and add regression tests
  contracts/scripts/keeperBot.ts
  contracts/test/scripts/keeperBot.ts
Owners: @jaybuidl

fix(contracts): only warn about a zero-draw stall when draws were attempted
  contracts/scripts/keeperBot.ts
Owners: @jaybuidl

fix(web): university-social-login-temporary-reown-issue-5764-workaround
  web/package.json
  web/src/context/Web3Provider.tsx
  yarn.lock
Owners: @kleros/maintainers-court-v2-frontend, @kleros/devs

chore: hide-subgraph-status-banner
  web/src/layout/Header/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

feat: experiment-scoped-address-list
  web/netlify/functions/listConnections.ts
  web/netlify/functions/recordConnection.ts
  web/package.json
  web/src/context/Web3Provider.tsx
  web/src/hooks/useRecordWalletConnection.ts
  web/src/layout/index.tsx
  yarn.lock
Owners: @kleros/maintainers-court-v2-frontend, @kleros/devs

fix: one-key-per-wallet
  web/netlify/functions/listConnections.ts
  web/netlify/functions/recordConnection.ts
Owners: @kleros/maintainers-court-v2-frontend

chore: wallet connect modal tweaks
  web/src/context/Web3Provider.tsx
Owners: @kleros/maintainers-court-v2-frontend

refactor(contracts): passportDecoder first in storage, version 0.12.0
  contracts/src/arbitration/dispute-kits/DisputeKitGatedPerCourt.sol
  contracts/test/foundry/DisputeKitGatedPerCourt.t.sol
Owners: @jaybuidl

feat(contracts): per-court single draw per juror in DisputeKitGatedPerCourt
  contracts/deploy/05-dispute-kit-gated-per-court-neo.ts
  contracts/deploy/05-dispute-kit-gated-per-court.ts
  contracts/src/arbitration/dispute-kits/DisputeKitGatedPerCourt.sol
  contracts/test/foundry/DisputeKitGatedPerCourt.t.sol
Owners: @jaybuidl

feat(web): replace Reown AppKit with Privy for wallet connection
  web/package.json
  web/src/app.tsx
  web/src/components/ConnectWallet/index.tsx
  web/src/consts/chains.ts
  web/src/context/Web3Provider.tsx
  yarn.lock
Owners: @kleros/maintainers-court-v2-frontend, @kleros/devs

feat(web): add useWriteRequest to route juror writes through sponsored Privy sends
  web/package.json
  web/src/hooks/useIsEmbeddedWallet.ts
  web/src/hooks/useWriteRequest.test.ts
  web/src/hooks/useWriteRequest.ts
  yarn.lock
Owners: @kleros/maintainers-court-v2-frontend, @kleros/devs

feat(web): send juror claim, stake and vote transactions via useWriteRequest
  web/src/components/ClaimPnkButton.tsx
  web/src/hooks/useSigningAccount.tsx
  web/src/pages/Cases/CaseDetails/Voting/Classic/Commit.tsx
  web/src/pages/Cases/CaseDetails/Voting/Classic/Reveal.tsx
  web/src/pages/Cases/CaseDetails/Voting/Classic/Vote.tsx
  web/src/pages/Courts/CourtDetails/StakePanel/StakeWithdrawButton.tsx
Owners: @kleros/maintainers-court-v2-frontend

fix(web): treat reverted sponsored user operations as failed transactions
  web/src/pages/Courts/CourtDetails/StakePanel/StakeWithdrawButton.tsx
  web/src/utils/userOperation.test.ts
  web/src/utils/userOperation.ts
  web/src/utils/wrapWithToast.test.ts
  web/src/utils/wrapWithToast.ts
Owners: @kleros/maintainers-court-v2-frontend

test(web): check embedded and external salt signing derive the same key
  web/src/hooks/useSigningAccount.test.ts
  web/src/hooks/useSigningAccount.tsx
Owners: @kleros/maintainers-court-v2-frontend

build(web): use JSON import attributes so codegen runs on Node 22+
  web/wagmi.config.ts
Owners: @kleros/maintainers-court-v2-frontend

feat(web): show Privy identity, add logout and switch chain silently for embedded wallets
  web/src/components/ConnectWallet/AccountDisplay.tsx
  web/src/components/ConnectWallet/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

fix(web): pass the juror address when checking sponsored claim and vote receipts
  web/src/components/ClaimPnkButton.tsx
  web/src/pages/Cases/CaseDetails/Voting/Classic/Commit.tsx
  web/src/pages/Cases/CaseDetails/Voting/Classic/Reveal.tsx
  web/src/pages/Cases/CaseDetails/Voting/Classic/Vote.tsx
Owners: @kleros/maintainers-court-v2-frontend

test(web): add Playwright E2E for embedded, external wallet and Atlas sign-in flows
  web/e2e/atlas.spec.ts
  web/e2e/chain.ts
  web/e2e/embedded.spec.ts
  web/e2e/env.ts
  web/e2e/external.spec.ts
  web/e2e/helpers.ts
  web/e2e/mockWallet.ts
  web/package.json
  web/playwright.config.ts
  yarn.lock
Owners: @kleros/maintainers-court-v2-frontend, @kleros/devs

fix(web): keep the Privy embedded wallet active when an injected wallet is pre-authorized
  web/e2e/embedded-with-injected.spec.ts
  web/e2e/mockWallet.ts
  web/src/context/Web3Provider.tsx
  web/src/hooks/useIsEmbeddedWallet.ts
  web/src/hooks/useWriteRequest.ts
Owners: @kleros/maintainers-court-v2-frontend

feat: sign in to Atlas without a modal for Privy embedded wallets
  kleros-app/README.md
  kleros-app/src/lib/atlas/providers/AtlasProvider.tsx
  web/e2e/atlas.spec.ts
  web/src/context/AtlasProvider.tsx
  web/src/hooks/useEmbeddedSignMessage.ts
Owners: @kleros/maintainers-court-v2-frontend

feat(web): prefill the notifications email from the Privy login
  web/src/layout/Header/navbar/Menu/Settings/Notifications/FormContactDetails/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

chore: reality libs bump
  kleros-sdk/package.json
  yarn.lock
Owners: @kleros/maintainers-court-v2-frontend, @kleros/devs

chore: reality libs bump
  kleros-sdk/package.json
  yarn.lock
Owners: @kleros/maintainers-court-v2-frontend, @kleros/devs
