Repository kleros/kleros-v2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kleros/maintainers-court-v2-frontend, @jaybuidl, @kleros/devs

.github/CODEOWNERS:

# Default
*                          @kleros/maintainers-court-v2-frontend
contracts                  @jaybuidl

# Owned by everyone
yarn.lock                  @kleros/devs
.gitignore                 @kleros/devs

Revert "chore(web): remove-erc20-mentions-only-keep-nft"
  web/src/components/DisputeFeatures/Features/GatedErc20.tsx
  web/src/dispute-kits/prepareArbitratorExtradata.test.ts
  web/src/hooks/useTokenAddressValidation.ts
  web/src/locales/en/translation.json
  web/src/locales/es/translation.json
  web/src/locales/fr/translation.json
  web/src/pages/Cases/CaseDetails/Overview/DisputeKitOverviewExtraInfo/gated.tsx
Owners: @kleros/maintainers-court-v2-frontend

fix(contracts): export-paths-and-publishing
  contracts/.gitignore
  contracts/.npmignore
  contracts/README.md
  contracts/docs/artifacts.md
  contracts/package.json
  contracts/scripts/build-contracts.sh
  contracts/scripts/publish.sh
  yarn.lock
Owners: @kleros/devs, @jaybuidl

refactor(subgraph): update-wiring-to-use-contracts-package-instead-of-relative-imports
  subgraph/.gitignore
  subgraph/core/subgraph.template.yaml
  subgraph/core/subgraph.yaml
  subgraph/dispute-template-registry/subgraph.template.yaml
  subgraph/dispute-template-registry/subgraph.yaml
  subgraph/package.json
  subgraph/scripts/sync-abis.sh
  subgraph/scripts/update.sh
Owners: @kleros/devs, @kleros/maintainers-court-v2-frontend

feat(contracts): pinnig-feature-to-run-specific-contracts-version-locally
  contracts/.gitignore
  contracts/README.md
  contracts/hardhat.config.ts
  contracts/package.json
  contracts/scripts/contractPaths.ts
  contracts/scripts/extract-pin-solidity.ts
  contracts/scripts/loadHardhatTasks.ts
  contracts/scripts/pin.sh
  contracts/scripts/pinLocalhostGuard.ts
  contracts/scripts/run-pinned-script.sh
  contracts/scripts/storage-layout.ts
  contracts/scripts/wagmiHelpers.mts
  contracts/wagmi.config.hardhat.mts
Owners: @kleros/devs, @jaybuidl

feat: local-stack-orchestration-script
  README.md
  contracts/README.md
  package.json
  scripts/run-local-stack.sh
  scripts/tmux-local-stack.sh
  subgraph/scripts/all.sh
Owners: @kleros/maintainers-court-v2-frontend, @jaybuidl

chore(web): update-contracts-wiring
  web/wagmi.config.ts
Owners: @kleros/maintainers-court-v2-frontend

chore(contracts): add-explicit-side-effect-flag
  contracts/package.json
Owners: @jaybuidl

fix(contracts): update-template-readme-docs-and-popuplate
  contracts/README.md
  contracts/README.md.template
Owners: @jaybuidl

fix(contracts): remove-eval-extraction-in-favor-of-dedicated-config-and-json-extraction
  contracts/hardhat.config.ts
  contracts/scripts/contractPaths.ts
  contracts/scripts/extract-pin-solidity.ts
  contracts/scripts/pin.sh
  contracts/solidity.config.json
Owners: @jaybuidl

fix(contracts): maintain-separate-lists-for-hardhat-tasks
  contracts/hardhat.config.ts
  contracts/scripts/loadHardhatTasks.ts
Owners: @jaybuidl

fix: fail-local-stack-script-if-port-is-not-free
  .gitignore
  README.md
  scripts/run-local-stack.sh
Owners: @kleros/devs, @kleros/maintainers-court-v2-frontend

fix(subgraph): add-network-check-in-sync-abis
  subgraph/scripts/sync-abis.sh
Owners: @kleros/maintainers-court-v2-frontend

chore(subgraph): show-error-message-before-failing-on-update-script
  subgraph/scripts/update.sh
Owners: @kleros/maintainers-court-v2-frontend

docs(contracts): make-it-clear-that-typechain-factory-dont-have-addresses
  contracts/docs/artifacts.md
Owners: @jaybuidl

refactor(contracts): use-artifacts-dir-from-contracs-path
  contracts/hardhat.config.ts
  contracts/scripts/contractPaths.ts
Owners: @jaybuidl

fix(contracts): exclude-hardhat-artifacts-from-published-package
  contracts/.npmignore
  contracts/package.json
  contracts/scripts/README.md.template
  contracts/scripts/populateReadme.sh
Owners: @jaybuidl

chore(contracts): update-devnet-release-script
  contracts/scripts/publish-devnet-prerelease.sh
Owners: @jaybuidl

fix(subgraph): failing-cmds-and-update-script-network-requirement
  subgraph/scripts/all.sh
  subgraph/scripts/update.sh
Owners: @kleros/maintainers-court-v2-frontend

chore(contracts): update-build-contract-script
  contracts/scripts/build-contracts.sh
Owners: @jaybuidl

fix: broken-canvas-optional-dep
  package.json
  yarn.lock
Owners: @kleros/maintainers-court-v2-frontend, @kleros/devs

chore(subgraph): update-lockfile-to-reflect-contract-library
  yarn.lock
Owners: @kleros/devs

fix(kleros-sdk): fix-broken-test-due-to-missing-rta-answer
  kleros-sdk/test/dataMappings.test.ts
Owners: @kleros/maintainers-court-v2-frontend

chore(subgraph): gitignore-eof-fix
  subgraph/.gitignore
Owners: @kleros/devs

fix: web-ci-command
  package.json
Owners: @kleros/maintainers-court-v2-frontend

feat: centralized DK
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/CentralizedKit.sol
Owners: @jaybuidl

feat(CentralDK): foundry test
  contracts/deploy/00-home-chain-arbitration-mainnet.ts
  contracts/deploy/00-home-chain-arbitration.ts
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/devtools/KlerosCoreRuler.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassic.sol
  contracts/src/libraries/Constants.sol
  contracts/test/arbitration/index.ts
  contracts/test/foundry/KlerosCore_Appeals.t.sol
  contracts/test/foundry/KlerosCore_Governance.t.sol
  contracts/test/foundry/KlerosCore_Initialization.t.sol
  contracts/test/foundry/KlerosCore_TestBase.sol
Owners: @jaybuidl

fix(web): stale-draw-query
  web/src/hooks/queries/useDrawQuery.ts
Owners: @kleros/maintainers-court-v2-frontend

feat(web): confirmation-modal-pre-vote-and-commit
  web/src/locales/en/translation.json
  web/src/locales/es/translation.json
  web/src/locales/fr/translation.json
  web/src/pages/Cases/CaseDetails/Voting/ConfirmVoteModal.tsx
  web/src/pages/Cases/CaseDetails/Voting/OptionsContainer.tsx
  web/src/styles/global-style.ts
Owners: @kleros/maintainers-court-v2-frontend

feat(web): vote-confirmation-modal
  web/src/pages/Cases/CaseDetails/Voting/ConfirmVoteModal.tsx
  web/src/pages/Cases/CaseDetails/Voting/OptionsContainer.tsx
  web/src/styles/global-style.ts
Owners: @kleros/maintainers-court-v2-frontend

feat(kleros-app): support-for-is-subscribed-query
  kleros-app/CHANGELOG.md
  kleros-app/README.md
  kleros-app/src/lib/atlas/providers/AtlasProvider.tsx
  kleros-app/src/lib/atlas/utils/fetchIsSubscribed.ts
  kleros-app/src/lib/atlas/utils/index.ts
Owners: @kleros/maintainers-court-v2-frontend

fix(web): remove-aria-hide-app-prop
  web/src/pages/Cases/CaseDetails/Voting/ConfirmVoteModal.tsx
Owners: @kleros/maintainers-court-v2-frontend

fix(web): remove-aria-hide-app-prop
  web/src/pages/Cases/CaseDetails/Voting/ConfirmVoteModal.tsx
Owners: @kleros/maintainers-court-v2-frontend

chore: remove eth id library feature
  web/package.json
  web/src/app.tsx
  web/src/components/JurorLink.tsx
  web/src/config/rpc.ts
  web/src/consts/chains.ts
  web/src/context/EthIdentityProvider.tsx
  web/src/context/StyledComponentsProvider.tsx
  web/src/hooks/useTooltipEscapeOverflow.ts
  web/src/locales/en/translation.json
  web/src/locales/es/translation.json
  web/src/locales/fr/translation.json
  web/src/pages/Profile/JurorCard/TopContent/index.tsx
  web/src/public/efp-follow-dark.svg
  web/src/public/efp-follow.svg
  web/src/styles/global-style.ts
  web/vite.config.js
  yarn.lock
Owners: @kleros/maintainers-court-v2-frontend, @kleros/devs

chore: simplify profile link
  web/src/components/JurorLink.tsx
Owners: @kleros/maintainers-court-v2-frontend

feat: scout profile link
  web/src/consts/index.ts
  web/src/layout/Header/navbar/DappList.tsx
  web/src/pages/Profile/JurorCard/TopContent/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

fix(web): do-not-assume-justification-absence-reason
  web/src/pages/Cases/CaseDetails/Voting/Classic/Commit.tsx
  web/src/pages/Cases/CaseDetails/Voting/ConfirmVoteModal.tsx
  web/src/pages/Cases/CaseDetails/Voting/OptionsContainer.tsx
  web/src/tests/e2e/voting.spec.ts
Owners: @kleros/maintainers-court-v2-frontend

fix(web): do-not-assume-justification-absence-reason
  web/src/pages/Cases/CaseDetails/Voting/Classic/Commit.tsx
  web/src/pages/Cases/CaseDetails/Voting/ConfirmVoteModal.tsx
  web/src/pages/Cases/CaseDetails/Voting/OptionsContainer.tsx
Owners: @kleros/maintainers-court-v2-frontend

chore(kleros-app): release @kleros/kleros-app@3.1.0
  kleros-app/package.json
Owners: @kleros/maintainers-court-v2-frontend

chore(kleros-app): update-changelog
  kleros-app/CHANGELOG.md
Owners: @kleros/maintainers-court-v2-frontend

Update Help menu URLs for documentation
  web/src/layout/Header/navbar/Menu/Help.tsx
Owners: @kleros/maintainers-court-v2-frontend
