Repository kleros/kleros-v2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kleros/maintainers-court-v2-frontend, @jaybuidl, @kleros/devs

.github/CODEOWNERS:

# Default
*                          @kleros/maintainers-court-v2-frontend
contracts                  @jaybuidl

# Owned by everyone
yarn.lock                  @kleros/devs
.gitignore                 @kleros/devs

feat(kleros-sdk): extra-evidences-schema
  kleros-sdk/src/dataMappings/utils/disputeDetailsSchema.ts
  kleros-sdk/test/disputeDetailsSchema.test.ts
Owners: @kleros/maintainers-court-v2-frontend

feat(web): naive-arbitrable-side-evidence-display
  web/src/components/EvidenceCard.tsx
  web/src/pages/Cases/CaseDetails/Evidence/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

chore: goldsky deploy tooling
  subgraph/package.json
  yarn.lock
Owners: @kleros/maintainers-court-v2-frontend, @kleros/devs

feat: add argentina consumer protection dispute kit
  subgraph/core/subgraph.template.yaml
  web/src/components/DisputeFeatures/Features/ArgentinaConsumerProtection.tsx
  web/src/components/DisputeFeatures/Features/index.tsx
  web/src/consts/disputeFeature.ts
  web/src/consts/index.ts
  web/src/hooks/useDisputeKitAddresses.ts
  web/src/hooks/useVotingContext.tsx
  web/src/pages/Cases/CaseDetails/Appeal/Classic/Fund.tsx
  web/src/pages/Cases/CaseDetails/Appeal/Classic/index.tsx
  web/src/pages/Cases/CaseDetails/Appeal/index.tsx
  web/src/pages/Cases/CaseDetails/Voting/Classic/Commit.tsx
  web/src/pages/Cases/CaseDetails/Voting/Classic/Reveal.tsx
  web/src/pages/Cases/CaseDetails/Voting/Classic/index.tsx
  web/src/pages/Cases/CaseDetails/Voting/index.tsx
  web/wagmi.config.ts
Owners: @kleros/maintainers-court-v2-frontend

chore: new court config and policy for Corte de Defensores del Cliente
  contracts/config/courts.v2.devnet.json
  contracts/config/courts.v2.mainnet.json
  contracts/config/courts.v2.testnet.json
  contracts/config/policies.v2.devnet.json
  contracts/config/policies.v2.mainnet.json
  contracts/config/policies.v2.testnet.json
Owners: @jaybuidl

chore(kleros-app): release @kleros/kleros-app@2.2.0
  kleros-app/package.json
Owners: @kleros/maintainers-court-v2-frontend

chore(kleros-app): release @kleros/kleros-app@2.2.1
  kleros-app/package.json
Owners: @kleros/maintainers-court-v2-frontend

fix: show number of votes even if only one vote
  web/src/pages/Profile/Votes/VoteCard/VoteCount.tsx
Owners: @kleros/maintainers-court-v2-frontend

feat: desktop grid and mobile styling,fix sort by timestamp descending, etc
  web/src/hooks/useStakingEventsByCourt.ts
  web/src/pages/Courts/CourtDetails/StakingHistoryByCourt/DisplayStakes/index.tsx
  web/src/pages/Profile/Stakes/CourtCard/CourtName.tsx
  web/src/pages/Profile/Stakes/CourtCard/index.tsx
  web/src/pages/Profile/Stakes/StakingHistory.tsx
  web/src/pages/Profile/Votes/VoteCard/CourtName.tsx
  web/src/pages/Profile/Votes/VoteCard/Vote.tsx
  web/src/pages/Profile/Votes/VoteCard/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

chore(kleros-app): release @kleros/kleros-app@2.2.1
  kleros-app/package.json
Owners: @kleros/maintainers-court-v2-frontend

chore(kleros-app): release @kleros/kleros-app@2.2.2
  kleros-app/package.json
Owners: @kleros/maintainers-court-v2-frontend

chore: npm login command
  kleros-app/scripts/publish.sh
Owners: @kleros/maintainers-court-v2-frontend

chore: contract sync to Tenderly
  contracts/hardhat.config.ts
  contracts/package.json
  contracts/scripts/syncToTenderly.ts
Owners: @jaybuidl

Update web/src/pages/Courts/CourtDetails/StakingHistoryByCourt/DisplayStakes/index.tsx
  web/src/pages/Courts/CourtDetails/StakingHistoryByCourt/DisplayStakes/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

Update web/src/pages/Courts/CourtDetails/StakingHistoryByCourt/DisplayStakes/index.tsx
  web/src/pages/Courts/CourtDetails/StakingHistoryByCourt/DisplayStakes/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

feat: feedback
  web/src/hooks/queries/useAllUserDraws.ts
  web/src/hooks/queries/useStakingHistory.ts
  web/src/hooks/queries/useUserDraws.ts
  web/src/hooks/useStakingEventsByCourt.ts
  web/src/pages/Courts/CourtDetails/StakingHistoryByCourt/DisplayStakes/StakeEventCard/DesktopCard.tsx
  web/src/pages/Courts/CourtDetails/StakingHistoryByCourt/DisplayStakes/StakeEventCard/MobileCard.tsx
  web/src/pages/Courts/CourtDetails/StakingHistoryByCourt/DisplayStakes/index.tsx
  web/src/pages/Profile/JurorCard/index.tsx
  web/src/pages/Profile/Stakes/CurrentStakes/index.tsx
  web/src/pages/Profile/Votes/StatsAndFilters/Filters.tsx
  web/src/pages/Profile/Votes/VoteCard/index.tsx
  web/src/pages/Profile/Votes/index.tsx
  web/src/utils/date.ts
  web/src/utils/fetchStakingEventsByCourt.ts
  web/src/utils/fetchStakingHistory.ts
Owners: @kleros/maintainers-court-v2-frontend

chore: code smells
  web/src/hooks/queries/useStakingHistory.ts
  web/src/utils/fetchStakingHistory.ts
Owners: @kleros/maintainers-court-v2-frontend

chore: update-local-development-stack
  README.md
  contracts/deploy/00-home-chain-arbitration.ts
  contracts/deploy/00-rng-chainlink.ts
  contracts/deploy/utils/deployTokens.ts
  contracts/deploy/utils/index.ts
  contracts/deployments/hardhat.viem.ts
  contracts/hardhat.config.ts
  contracts/package.json
  contracts/src/token/mock/PinakionV2Local.sol
  contracts/wagmi.config.hardhat.ts
  services/graph-node/docker-compose.yml
  subgraph/scripts/all.sh
  web/.env.local.public
  web/src/consts/chains.ts
  web/src/consts/index.ts
  web/src/consts/processEnvConsts.ts
  web/src/context/Web3Provider.tsx
  web/src/utils/getGraphqlUrl.ts
  web/wagmi.config.ts
Owners: @kleros/maintainers-court-v2-frontend, @jaybuidl

chore(web): update-arbitrable-evidence-ui
  web/src/pages/Cases/CaseDetails/Evidence/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

feat: feedback
  web/src/hooks/queries/useAllUserDraws.ts
  web/src/pages/Courts/CourtDetails/StakingHistoryByCourt/DisplayStakes/index.tsx
  web/src/pages/Profile/Votes/VoteCard/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

fix(subgraph): evidence-crash
  subgraph/core/src/EvidenceModule.ts
  subgraph/package.json
Owners: @kleros/maintainers-court-v2-frontend

doc: change evidence documentation link in EvidenceSchema
  kleros-sdk/src/dataMappings/utils/disputeDetailsSchema.ts
Owners: @kleros/maintainers-court-v2-frontend

chore(kleros-sdk): changelog
  kleros-sdk/CHANGELOG.md
Owners: @kleros/maintainers-court-v2-frontend

chore(sdk): release @kleros/kleros-sdk@2.4.0
  kleros-sdk/package.json
Owners: @kleros/maintainers-court-v2-frontend

chore(kleros-sdk): changelog fix
  kleros-sdk/CHANGELOG.md
Owners: @kleros/maintainers-court-v2-frontend

chore(web): unified-evidence-display
  web/src/pages/Cases/CaseDetails/Evidence/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

Revert "chore(web): update-arbitrable-evidence-ui"
  web/src/pages/Cases/CaseDetails/Evidence/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

feat: add french
  web/src/components/LanguageSelector.tsx
  web/src/context/LanguageProvider.tsx
  web/src/i18n.ts
  web/src/layout/Header/navbar/Menu/Settings/General/index.tsx
  web/src/locales/fr/translation.json
Owners: @kleros/maintainers-court-v2-frontend

feat: coderabbitai
  web/src/app.tsx
  web/src/components/DisputeFeatures/Features/GatedErc1155.tsx
  web/src/components/DisputeFeatures/Features/GatedErc20.tsx
  web/src/components/DisputeFeatures/Features/index.tsx
  web/src/components/DisputeFeatures/GroupsUI.tsx
  web/src/components/Popup/MiniGuides/PageContentsTemplate.tsx
  web/src/context/LanguageProvider.tsx
  web/src/locales/en/translation.json
  web/src/locales/es/translation.json
  web/src/locales/fr/translation.json
  web/src/pages/Cases/CaseDetails/Appeal/Classic/StageExplainer.tsx
  web/src/pages/Resolver/Parameters/NotablePersons/PersonFields.tsx
  web/src/pages/Settings/EmailConfirmation/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

chore: flex wrap
  web/src/components/LanguageSelector.tsx
Owners: @kleros/maintainers-court-v2-frontend

chore: coderabbitai feedback
  web/src/components/DisputeFeatures/GroupsUI.tsx
  web/src/locales/en/translation.json
  web/src/pages/Cases/CaseDetails/Appeal/Classic/StageExplainer.tsx
Owners: @kleros/maintainers-court-v2-frontend

fix: crash bug on resolver court page
  web/src/components/DisputeFeatures/Features/index.tsx
  web/src/pages/Resolver/Parameters/Court/FeatureSelection/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

chore: invalid dispute data translation
  web/src/components/DisputePreview/DisputeContext.tsx
  web/src/components/DisputeView/index.tsx
  web/src/consts/index.ts
  web/src/locales/en/translation.json
  web/src/locales/es/translation.json
  web/src/locales/fr/translation.json
  web/src/pages/Cases/CaseDetails/Voting/VotingHistory.tsx
Owners: @kleros/maintainers-court-v2-frontend

chore: cas for proces
  web/src/locales/fr/translation.json
Owners: @kleros/maintainers-court-v2-frontend

chore: french impros
  web/src/locales/fr/translation.json
Owners: @kleros/maintainers-court-v2-frontend

chore: french impros
  web/src/locales/fr/translation.json
Owners: @kleros/maintainers-court-v2-frontend

chore: file deleted
  web/src/pages/Profile/JurorInfo/StakingRewards.tsx
Owners: @kleros/maintainers-court-v2-frontend

feat: add profile page translations
  web/src/app.tsx
  web/src/components/EvidenceCard.tsx
  web/src/layout/Header/navbar/Menu/Settings/General/WalletAndProfile.tsx
  web/src/locales/en/translation.json
  web/src/locales/es/translation.json
  web/src/locales/fr/translation.json
  web/src/pages/Cases/CaseDetails/Voting/VotesDetails/AccordionTitle.tsx
  web/src/pages/Courts/CourtDetails/JurorsStakedByCourt/index.tsx
  web/src/pages/Courts/CourtDetails/StakingHistoryByCourt/DisplayStakes/Header/DesktopHeader.tsx
  web/src/pages/Courts/CourtDetails/StakingHistoryByCourt/DisplayStakes/index.tsx
  web/src/pages/Courts/CourtDetails/StakingHistoryByCourt/Search.tsx
  web/src/pages/Courts/CourtDetails/StakingHistoryByCourt/index.tsx
  web/src/pages/Courts/CourtDetails/index.tsx
  web/src/pages/Jurors/index.tsx
  web/src/pages/Profile/Cases/index.tsx
  web/src/pages/Profile/JurorCard/BottomContent/Coherence.tsx
  web/src/pages/Profile/JurorCard/BottomContent/JurorRewards.tsx
  web/src/pages/Profile/JurorCard/Header.tsx
  web/src/pages/Profile/JurorCard/StakingRewards.tsx
  web/src/pages/Profile/Stakes/CurrentStakes/Header.tsx
  web/src/pages/Profile/Stakes/CurrentStakes/index.tsx
  web/src/pages/Profile/Stakes/StakingHistory.tsx
  web/src/pages/Profile/Votes/StatsAndFilters/Filters.tsx
  web/src/pages/Profile/Votes/StatsAndFilters/Stats.tsx
  web/src/pages/Profile/Votes/index.tsx
  web/src/pages/Profile/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

chore: coderabbitai
  web/src/pages/Cases/CaseDetails/Voting/VotesDetails/AccordionTitle.tsx
  web/src/pages/Profile/Votes/StatsAndFilters/Stats.tsx
Owners: @kleros/maintainers-court-v2-frontend

chore: minor tweaks
  web/src/components/Popup/MiniGuides/JurorLevels.tsx
  web/src/locales/en/translation.json
  web/src/locales/es/translation.json
  web/src/locales/fr/translation.json
  web/src/pages/Profile/JurorCard/BottomContent/Coherence.tsx
  web/src/pages/Profile/JurorCard/index.tsx
  web/src/utils/userLevelCalculation.ts
Owners: @kleros/maintainers-court-v2-frontend
