Repository kleros/kleros-v2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kleros/maintainers-court-v2-frontend, @jaybuidl, @kleros/devs

refactor: errors rename
  contracts/src/arbitration/dispute-kits/DisputeKitClassicBase.sol
  contracts/src/arbitration/dispute-kits/DisputeKitGatedShutter.sol
  contracts/src/arbitration/dispute-kits/DisputeKitShutter.sol
  contracts/test/arbitration/helpers/dispute-kit-shutter-common.ts
  contracts/test/foundry/KlerosCore_Voting.t.sol
Owners: @jaybuidl

feat: extra event StakeDelayedExecutionFailed for possible UX improvements
  contracts/hardhat.config.ts
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/SortitionModule.sol
  contracts/src/arbitration/university/KlerosCoreUniversity.sol
Owners: @jaybuidl

chore: hardhat bump, draw test edge case
  contracts/package.json
  contracts/test/foundry/KlerosCore_Drawing.t.sol
  yarn.lock
Owners: @jaybuidl, @kleros/devs

feat: delegate the next round settings logic to the dispute kit
  contracts/hardhat.config.ts
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassic.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassicBase.sol
  contracts/src/arbitration/dispute-kits/DisputeKitGated.sol
  contracts/src/arbitration/dispute-kits/DisputeKitGatedShutter.sol
  contracts/src/arbitration/dispute-kits/DisputeKitShutter.sol
  contracts/src/arbitration/dispute-kits/DisputeKitSybilResistant.sol
  contracts/src/arbitration/interfaces/IDisputeKit.sol
Owners: @jaybuidl

fix: scripts
  contracts/deploy/00-home-chain-arbitration-mainnet.ts
  contracts/deploy/00-home-chain-arbitration-university.ts
  contracts/deploy/00-home-chain-arbitration.ts
  contracts/test/arbitration/helpers/dispute-kit-gated-common.ts
  contracts/test/arbitration/helpers/dispute-kit-shutter-common.ts
Owners: @jaybuidl

fix: small fixes
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassicBase.sol
  contracts/src/arbitration/interfaces/IDisputeKit.sol
Owners: @jaybuidl

refactor: function renames, removed unnecessary booleans courtJump and disputeKitJump
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassicBase.sol
  contracts/src/arbitration/interfaces/IDisputeKit.sol
Owners: @jaybuidl

test: foundry test compilation fixes
  contracts/test/foundry/KlerosCore_Initialization.t.sol
  contracts/test/foundry/KlerosCore_TestBase.sol
  contracts/test/foundry/KlerosCore_Voting.t.sol
Owners: @jaybuidl

feat: rewrite of NextRoundSettings and DK.getNextRoundSettings(), foundry test fix
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassicBase.sol
  contracts/test/foundry/KlerosCore_Appeals.t.sol
Owners: @jaybuidl

feat: logic change of jumpDisputeKitIDIncompatibilityFallback into jumpDisputeKitIDOnCourtJump
  contracts/src/arbitration/dispute-kits/DisputeKitClassicBase.sol
  contracts/test/foundry/KlerosCore_Appeals.t.sol
Owners: @jaybuidl

fix: feedback from reviews
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassicBase.sol
Owners: @jaybuidl

test: extra coverage for jumps to non-parent courts and custom nbVotes
  contracts/test/foundry/KlerosCore_Appeals.t.sol
Owners: @jaybuidl

test: added coverage for jumpDisputeKitID taking precendence over jumpDisputeKitIDOnCourtJump
  contracts/test/foundry/KlerosCore_Appeals.t.sol
Owners: @jaybuidl

fix: sanity check for nbVotes
  contracts/src/arbitration/KlerosCore.sol
Owners: @jaybuidl

test: extra tests covering KlerosCore sanity checks
  contracts/src/test/DisputeKitClassicMockUncheckedNextRoundSettings.sol
  contracts/test/foundry/KlerosCore_Appeals.t.sol
Owners: @jaybuidl

test: extra comments
  contracts/test/foundry/KlerosCore_Appeals.t.sol
Owners: @jaybuidl

refactor: ordering of the DisputeKitClassicBase state variables
  contracts/src/arbitration/dispute-kits/DisputeKitClassicBase.sol
Owners: @jaybuidl

feat: new dispute kit with specialized gating logic
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassicBase.sol
  contracts/src/arbitration/dispute-kits/DisputeKitGatedArgentinaConsumerProtection.sol
  contracts/src/arbitration/interfaces/IDisputeKit.sol
  contracts/src/arbitration/university/KlerosCoreUniversity.sol
Owners: @jaybuidl

test: added coverage for the Argentina CP DK
  contracts/test/foundry/DisputeKitGatedArgentinaConsumerProtection_Drawing.t.sol
  contracts/test/foundry/KlerosCore_Appeals.t.sol
Owners: @jaybuidl

refactor: moved more logic to _postDrawHook() to avoid extra push/pop
  contracts/src/arbitration/dispute-kits/DisputeKitClassicBase.sol
  contracts/src/arbitration/dispute-kits/DisputeKitGated.sol
  contracts/src/arbitration/dispute-kits/DisputeKitGatedArgentinaConsumerProtection.sol
  contracts/src/arbitration/dispute-kits/DisputeKitGatedShutter.sol
  contracts/src/arbitration/dispute-kits/DisputeKitSybilResistant.sol
Owners: @jaybuidl

refactor: renamed token accreditedLawyerToken into accreditedProfessionalToken
  contracts/src/arbitration/dispute-kits/DisputeKitGatedArgentinaConsumerProtection.sol
  contracts/test/foundry/DisputeKitGatedArgentinaConsumerProtection_Drawing.t.sol
Owners: @jaybuidl

feat(KC): allow to pass commit period quicker
  contracts/src/arbitration/KlerosCore.sol
  contracts/test/foundry/KlerosCore_Voting.t.sol
Owners: @jaybuidl

fix(web): invalid-dispute-vote-reveal
  web/src/pages/Cases/CaseDetails/Voting/Classic/Reveal.tsx
Owners: @kleros/maintainers-court-v2-frontend

chore: audit scope
  contracts/audit/METRICS.md
  contracts/audit/audit-scope-plain.txt
  contracts/audit/audit-scope-with-exclusions.txt
  contracts/audit/audit-scope.txt
  contracts/scripts/generateMetrics.sh
Owners: @jaybuidl

fix: updated the PoH interface to PoH v2
  contracts/src/arbitration/dispute-kits/DisputeKitSybilResistant.sol
Owners: @jaybuidl

chore: removal of KlerosGovernor, it has moved to the repo kleros/governor-v2
  contracts/src/arbitration/KlerosGovernor.sol
Owners: @jaybuidl

fix: nitpicks from reviews
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassicBase.sol
  contracts/src/libraries/SortitionTrees.sol
Owners: @jaybuidl

chore: devnet contracts deployment except the university ones
  contracts/README.md
  contracts/deployments/arbitrumSepoliaDevnet/ChainlinkRNG.json
  contracts/deployments/arbitrumSepoliaDevnet/DisputeKitClassic.json
  contracts/deployments/arbitrumSepoliaDevnet/DisputeKitClassic_Implementation.json
  contracts/deployments/arbitrumSepoliaDevnet/DisputeKitClassic_Proxy.json
  contracts/deployments/arbitrumSepoliaDevnet/DisputeKitGated.json
  contracts/deployments/arbitrumSepoliaDevnet/DisputeKitGatedShutter.json
  contracts/deployments/arbitrumSepoliaDevnet/DisputeKitGatedShutter_Implementation.json
  contracts/deployments/arbitrumSepoliaDevnet/DisputeKitGatedShutter_Proxy.json
  contracts/deployments/arbitrumSepoliaDevnet/DisputeKitGated_Implementation.json
  contracts/deployments/arbitrumSepoliaDevnet/DisputeKitGated_Proxy.json
  contracts/deployments/arbitrumSepoliaDevnet/DisputeKitShutter.json
  contracts/deployments/arbitrumSepoliaDevnet/DisputeKitShutter_Implementation.json
  contracts/deployments/arbitrumSepoliaDevnet/DisputeKitShutter_Proxy.json
  contracts/deployments/arbitrumSepoliaDevnet/DisputeResolver.json
  contracts/deployments/arbitrumSepoliaDevnet/DisputeTemplateRegistry.json
  contracts/deployments/arbitrumSepoliaDevnet/DisputeTemplateRegistry_Implementation.json
  contracts/deployments/arbitrumSepoliaDevnet/DisputeTemplateRegistry_Proxy.json
  contracts/deployments/arbitrumSepoliaDevnet/EvidenceModule.json
  contracts/deployments/arbitrumSepoliaDevnet/EvidenceModule_Implementation.json
  contracts/deployments/arbitrumSepoliaDevnet/EvidenceModule_Proxy.json
  contracts/deployments/arbitrumSepoliaDevnet/KlerosCore.json
  contracts/deployments/arbitrumSepoliaDevnet/KlerosCoreSnapshotProxy.json
  contracts/deployments/arbitrumSepoliaDevnet/KlerosCore_Implementation.json
  contracts/deployments/arbitrumSepoliaDevnet/KlerosCore_Proxy.json
  contracts/deployments/arbitrumSepoliaDevnet/PolicyRegistry.json
  contracts/deployments/arbitrumSepoliaDevnet/PolicyRegistry_Implementation.json
  contracts/deployments/arbitrumSepoliaDevnet/PolicyRegistry_Proxy.json
  contracts/deployments/arbitrumSepoliaDevnet/RNGWithFallback.json
  contracts/deployments/arbitrumSepoliaDevnet/SortitionModule.json
  contracts/deployments/arbitrumSepoliaDevnet/SortitionModule_Implementation.json
  contracts/deployments/arbitrumSepoliaDevnet/SortitionModule_Proxy.json
Owners: @jaybuidl

chore: university court aligned with the latest changes
  contracts/src/arbitration/university/KlerosCoreUniversity.sol
  contracts/src/arbitration/university/SortitionModuleUniversity.sol
Owners: @jaybuidl

chore: university court deployment
  contracts/README.md
  contracts/deployments/arbitrumSepoliaDevnet/DisputeKitClassicUniversity.json
  contracts/deployments/arbitrumSepoliaDevnet/DisputeKitClassicUniversity_Implementation.json
  contracts/deployments/arbitrumSepoliaDevnet/DisputeKitClassicUniversity_Proxy.json
  contracts/deployments/arbitrumSepoliaDevnet/DisputeResolverUniversity.json
  contracts/deployments/arbitrumSepoliaDevnet/DisputeTemplateRegistryUniversity.json
  contracts/deployments/arbitrumSepoliaDevnet/DisputeTemplateRegistryUniversity_Implementation.json
  contracts/deployments/arbitrumSepoliaDevnet/DisputeTemplateRegistryUniversity_Proxy.json
  contracts/deployments/arbitrumSepoliaDevnet/KlerosCoreUniversity.json
  contracts/deployments/arbitrumSepoliaDevnet/KlerosCoreUniversity_Implementation.json
  contracts/deployments/arbitrumSepoliaDevnet/KlerosCoreUniversity_Proxy.json
  contracts/deployments/arbitrumSepoliaDevnet/SortitionModuleUniversity.json
  contracts/deployments/arbitrumSepoliaDevnet/SortitionModuleUniversity_Implementation.json
  contracts/deployments/arbitrumSepoliaDevnet/SortitionModuleUniversity_Proxy.json
Owners: @jaybuidl

fix: execution script Ownable interface instead of Governable
  contracts/scripts/utils/execution.ts
Owners: @jaybuidl

chore: artifacts updated, BlockhashRNG removed, scripts updated
  contracts/deployments/arbitrumSepoliaDevnet.ts
  contracts/deployments/contractsEthers.ts
  contracts/deployments/contractsViem.ts
  contracts/deployments/devnet.viem.ts
  contracts/scripts/changeOwner.ts
  contracts/scripts/keeperBot.ts
  contracts/scripts/utils/contracts.ts
  contracts/test/integration/getContractsEthers.test.ts
  contracts/test/integration/getContractsViem.test.ts
Owners: @jaybuidl

chore: yarn bump
  .yarn/releases/yarn-4.10.3.cjs
  .yarn/releases/yarn-4.9.2.cjs
  .yarnrc.yml
  package.json
Owners: @kleros/maintainers-court-v2-frontend

chore: node minor bump, contracts devnet release candidate script
  .yarn/versions/7fe4657f.yml
  contracts/package.json
  contracts/scripts/publish-devnet-prerelease.sh
  kleros-app/package.json
  kleros-sdk/package.json
  package.json
  subgraph/package.json
  tsconfig/package.json
  web-devtools/package.json
  yarn.lock
Owners: @kleros/maintainers-court-v2-frontend, @jaybuidl, @kleros/devs

chore: release of @kleros/kleros-v2-contracts@2.0.0-rc.1
  contracts/package.json
Owners: @jaybuidl

fix: core subgraph migration (wip)
  subgraph/core-university/subgraph.template.yaml
  subgraph/core/subgraph.template.yaml
  subgraph/core/subgraph.yaml
Owners: @kleros/maintainers-court-v2-frontend

fix: got the subgraph build to pass but some fixes are still required
  subgraph/core/schema.graphql
  subgraph/core/src/DisputeKitClassic.ts
  subgraph/core/src/EvidenceModule.ts
  subgraph/core/src/KlerosCore.ts
  subgraph/core/src/entities/ClassicContribution.ts
  subgraph/core/src/entities/JurorRewardPenalty.ts
  subgraph/core/src/entities/Penalty.ts
Owners: @kleros/maintainers-court-v2-frontend

feat: add new section latest stakes in this court, substitute the profile page too
  web/src/hooks/useStakingEventsByCourt.ts
  web/src/pages/Courts/CourtDetails/JurorsStakedByCourt/DisplayJurors/JurorCard.tsx
  web/src/pages/Courts/CourtDetails/LatestStakesByCourt/DisplayStakes/Header.tsx
  web/src/pages/Courts/CourtDetails/LatestStakesByCourt/DisplayStakes/Header/DesktopHeader.tsx
  web/src/pages/Courts/CourtDetails/LatestStakesByCourt/DisplayStakes/Header/MobileHeader.tsx
  web/src/pages/Courts/CourtDetails/LatestStakesByCourt/DisplayStakes/StakeEventCard.tsx
  web/src/pages/Courts/CourtDetails/LatestStakesByCourt/DisplayStakes/StakeEventCard/DesktopCard.tsx
  web/src/pages/Courts/CourtDetails/LatestStakesByCourt/DisplayStakes/StakeEventCard/MobileCard.tsx
  web/src/pages/Courts/CourtDetails/LatestStakesByCourt/DisplayStakes/index.tsx
  web/src/pages/Courts/CourtDetails/LatestStakesByCourt/Search.tsx
  web/src/pages/Courts/CourtDetails/LatestStakesByCourt/index.tsx
  web/src/pages/Courts/CourtDetails/index.tsx
  web/src/pages/Profile/Stakes/StakingHistory.tsx
  web/src/pages/Profile/Stakes/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

chore: change naming to staking history
  web/src/pages/Courts/CourtDetails/StakingHistoryByCourt/DisplayStakes/Header.tsx
  web/src/pages/Courts/CourtDetails/StakingHistoryByCourt/DisplayStakes/Header/DesktopHeader.tsx
  web/src/pages/Courts/CourtDetails/StakingHistoryByCourt/DisplayStakes/Header/MobileHeader.tsx
  web/src/pages/Courts/CourtDetails/StakingHistoryByCourt/DisplayStakes/StakeEventCard.tsx
  web/src/pages/Courts/CourtDetails/StakingHistoryByCourt/DisplayStakes/StakeEventCard/DesktopCard.tsx
  web/src/pages/Courts/CourtDetails/StakingHistoryByCourt/DisplayStakes/StakeEventCard/MobileCard.tsx
  web/src/pages/Courts/CourtDetails/StakingHistoryByCourt/DisplayStakes/index.tsx
  web/src/pages/Courts/CourtDetails/StakingHistoryByCourt/Search.tsx
  web/src/pages/Courts/CourtDetails/StakingHistoryByCourt/index.tsx
  web/src/pages/Courts/CourtDetails/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

chore: evidence-and-withdrawal-event-updates
  subgraph/core/schema.graphql
  subgraph/core/src/DisputeKitClassic.ts
  subgraph/core/src/EvidenceModule.ts
  subgraph/core/src/entities/ClassicContribution.ts
  subgraph/core/src/entities/ClassicEvidenceGroup.ts
  subgraph/core/src/entities/Dispute.ts
  web/src/hooks/queries/useEvidences.ts
  web/src/pages/Cases/CaseDetails/Evidence/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

.github/CODEOWNERS:

# Default
*                          @kleros/maintainers-court-v2-frontend
contracts                  @jaybuidl

# Owned by everyone
yarn.lock                  @kleros/devs
.gitignore                 @kleros/devs
