Repository kleros/kleros-v2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kleros/maintainers-court-v2-frontend, @jaybuidl, @kleros/devs

chore: commit subgraph yaml altho it changes on each environment but good to have
  subgraph/core/subgraph.yaml
Owners: @kleros/maintainers-court-v2-frontend

feat: remove isgated from everywhere since with this dk its no longer a ternary
  web/src/pages/Cases/CaseDetails/Appeal/Classic/Fund.tsx
  web/src/pages/Cases/CaseDetails/Appeal/Classic/index.tsx
  web/src/pages/Cases/CaseDetails/Appeal/Shutter/Fund.tsx
  web/src/pages/Cases/CaseDetails/Appeal/Shutter/index.tsx
  web/src/pages/Cases/CaseDetails/Appeal/index.tsx
  web/src/pages/Cases/CaseDetails/Voting/Classic/Commit.tsx
  web/src/pages/Cases/CaseDetails/Voting/Classic/Reveal.tsx
  web/src/pages/Cases/CaseDetails/Voting/Classic/Vote.tsx
  web/src/pages/Cases/CaseDetails/Voting/Classic/index.tsx
  web/src/pages/Cases/CaseDetails/Voting/Shutter/Commit.tsx
  web/src/pages/Cases/CaseDetails/Voting/Shutter/Reveal.tsx
  web/src/pages/Cases/CaseDetails/Voting/Shutter/index.tsx
  web/src/pages/Cases/CaseDetails/Voting/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

chore: abstraction of same isdisputekit logic
  web/src/consts/index.ts
  web/src/pages/Cases/CaseDetails/Appeal/index.tsx
  web/src/pages/Cases/CaseDetails/Voting/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

chore: version 2.0.0 subgraph
  subgraph/package.json
Owners: @kleros/maintainers-court-v2-frontend

feat: classic-university-dk-support
  subgraph/core/subgraph.template.yaml
  subgraph/core/subgraph.yaml
  subgraph/package.json
  web/src/actions/commit/builders/classicUniversity.builder.ts
  web/src/actions/commit/builders/index.ts
  web/src/actions/commit/deps.ts
  web/src/actions/commit/params.ts
  web/src/actions/fundAppeal/builders/classicUniversity.builder.ts
  web/src/actions/fundAppeal/builders/index.ts
  web/src/actions/fundAppeal/params.ts
  web/src/actions/reveal/builders/classicUniversity.builder.ts
  web/src/actions/reveal/builders/index.ts
  web/src/actions/reveal/params.ts
  web/src/actions/vote/builders/classicUniversity.builder.ts
  web/src/actions/vote/builders/index.ts
  web/src/actions/vote/params.ts
  web/src/components/AddressExplorerLink.tsx
  web/src/components/DisputeFeatures/Features/UniversityVote.tsx
  web/src/components/DisputeFeatures/Features/index.tsx
  web/src/consts/disputeFeature.ts
  web/src/consts/index.ts
  web/src/hooks/useDisputeKitAddresses.ts
  web/src/hooks/useVotingContext.tsx
  web/src/locales/en/translation.json
  web/src/locales/es/translation.json
  web/src/locales/fr/translation.json
  web/src/pages/Cases/CaseDetails/MaintenanceButtons/DrawButton.tsx
  web/src/pages/Cases/CaseDetails/MaintenanceButtons/SetJurorsButton.tsx
  web/src/pages/Cases/CaseDetails/MaintenanceButtons/index.tsx
  web/src/pages/Resolver/Parameters/Court/FeatureSelection/index.tsx
  web/wagmi.config.ts
Owners: @kleros/maintainers-court-v2-frontend

chore(web): rabbit-feedback
  web/src/pages/Cases/CaseDetails/MaintenanceButtons/SetJurorsButton.tsx
Owners: @kleros/maintainers-court-v2-frontend

refactor(web): check-invalid-address-in-set-jurors-input
  web/src/pages/Cases/CaseDetails/MaintenanceButtons/SetJurorsButton.tsx
Owners: @kleros/maintainers-court-v2-frontend

fix: dispute kit gated backport and upgraded
  contracts/README.md
  contracts/deploy/upgrade-all.ts
  contracts/deployments/arbitrum/DisputeKitGatedNeo.json
  contracts/deployments/arbitrum/DisputeKitGatedNeo_Implementation.json
  contracts/src/arbitration/dispute-kits/DisputeKitClassicBase.sol
  contracts/src/arbitration/dispute-kits/DisputeKitGated.sol
  contracts/src/arbitration/dispute-kits/DisputeKitGatedShutter.sol
  contracts/src/proxy/KlerosProxies.sol
  contracts/src/test/DisputeKitGatedMock.sol
  contracts/test/arbitration/dispute-kit-gated.ts
Owners: @jaybuidl

chore(contracts): add-acp-dk-to-local-contracts-deployment-cmd
  contracts/deploy/05-dispute-kit-acp.ts
  contracts/deployments/hardhat.viem.ts
  contracts/package.json
Owners: @jaybuidl

feat(web): voting-e2e-base-test
  kleros-sdk/src/dataMappings/utils/disputeDetailsTypes.ts
  web/src/hooks/queries/usePopulatedDisputeData.ts
  web/src/pages/Resolver/NavigationButtons/SubmitDisputeButton.tsx
  web/src/tests/e2e/fixtures/atlas.ts
  web/src/tests/e2e/fixtures/hardhat.ts
  web/src/tests/e2e/fixtures/index.ts
  web/src/tests/e2e/fixtures/time.ts
  web/src/tests/e2e/utils/accounts.ts
  web/src/tests/e2e/utils/contracts.ts
  web/src/tests/e2e/utils/dispute/drawJurors.ts
  web/src/tests/e2e/utils/dispute/executeRulingForDispute.ts
  web/src/tests/e2e/utils/dispute/getDisputeInfo.ts
  web/src/tests/e2e/utils/dispute/index.ts
  web/src/tests/e2e/utils/dispute/passPeriod.ts
  web/src/tests/e2e/utils/index.ts
  web/src/tests/e2e/utils/passToPhase.ts
  web/src/tests/e2e/utils/setupCase.ts
  web/src/tests/e2e/utils/setupStake.ts
  web/src/tests/e2e/voting.spec.ts
  web/src/utils/retrieveDisputeId.ts
Owners: @kleros/maintainers-court-v2-frontend

chore(web): address-rabbit-feedback-and-add-explcit-block-for-one-line-if
  web/src/tests/e2e/utils/dispute/executeRulingForDispute.ts
  web/src/tests/e2e/utils/dispute/passPeriod.ts
  web/src/tests/e2e/utils/setupCase.ts
  web/src/tests/e2e/utils/setupStake.ts
Owners: @kleros/maintainers-court-v2-frontend

docs: update and expand V2 contract specifications
  contracts/specifications/arbitrable.md
  contracts/specifications/arbitrator.md
  contracts/specifications/courts.md
  contracts/specifications/dispute-kit-classic.md
  contracts/specifications/dispute-kit-gated.md
  contracts/specifications/dispute-kit-overview.md
  contracts/specifications/dispute-kit-shutter.md
  contracts/specifications/dispute-kit-sybil-resistant.md
  contracts/specifications/evidence-format.md
  contracts/specifications/policy-format.md
  contracts/specifications/sortition-module.md
  contracts/specifications/specifications.md
Owners: @jaybuidl

docs: remove deprecated createDisputeForTemplateUri() reference
  contracts/specifications/arbitrable.md
Owners: @jaybuidl

feat: ethid on profile pages
  web/package.json
  web/src/app.tsx
  web/src/components/JurorLink.tsx
  web/src/context/EthIdentityProvider.tsx
  web/src/context/StyledComponentsProvider.tsx
  web/src/pages/Profile/JurorCard/TopContent/index.tsx
  web/src/public/efp-follow-dark.svg
  web/src/public/efp-follow.svg
  web/src/styles/global-style.ts
  web/vite.config.js
  yarn.lock
Owners: @kleros/maintainers-court-v2-frontend, @kleros/devs

chore: update graph-cli dependency and graph schemas
  package.json
  subgraph/core/schema.graphql
  subgraph/dispute-template-registry/schema.graphql
  subgraph/package.json
  yarn.lock
Owners: @kleros/maintainers-court-v2-frontend, @kleros/devs

chore: resolutions for @zksync/contracts and glob graph-cli dependencies
  package.json
  yarn.lock
Owners: @kleros/maintainers-court-v2-frontend, @kleros/devs

chore: add resolution to @graphprotocol/graph-cli/immutable vulnerable dependency
  package.json
  yarn.lock
Owners: @kleros/maintainers-court-v2-frontend, @kleros/devs

chore: add resolution for @graphprotocol/graph-cli/undici vulnerable dependency
  package.json
  yarn.lock
Owners: @kleros/maintainers-court-v2-frontend, @kleros/devs

chore: update @graphprotocol/graph-cli dependency resolutions to non vulnerable versions
  package.json
  yarn.lock
Owners: @kleros/maintainers-court-v2-frontend, @kleros/devs

chore: fix @graphprotocol/graph-cli/undici dependency resolution version
  package.json
  yarn.lock
Owners: @kleros/maintainers-court-v2-frontend, @kleros/devs

fix: add scalar type mappings for BigInt and Bytes in codegen configuration
  web-devtools/codegen.ts
  web/codegen.ts
Owners: @kleros/maintainers-court-v2-frontend

fix: update Bytes scalar mapping to 0xstring for increased type safety
  web-devtools/codegen.ts
  web/codegen.ts
Owners: @kleros/maintainers-court-v2-frontend

fix: improve bigint scalar unsafe usages
  web/src/components/DisputeView/CardLabels/index.tsx
  web/src/components/DisputeView/index.tsx
  web/src/components/Verdict/DisputeTimeline.tsx
  web/src/components/Verdict/FinalDecision.tsx
  web/src/hooks/useClassicAppealContext.tsx
  web/src/hooks/useVotingContext.tsx
  web/src/pages/Cases/CaseDetails/MaintenanceButtons/WithdrawAppealFees.tsx
  web/src/pages/Cases/CaseDetails/Overview/index.tsx
  web/src/pages/Cases/CasesFetcher.tsx
  web/src/pages/Courts/CourtDetails/StakePanel/InputDisplay.tsx
  web/src/pages/Courts/CourtDetails/StakePanel/Simulator/index.tsx
  web/src/pages/Courts/CourtDetails/StakePanel/StakeWithdrawPopup/Header.tsx
  web/src/pages/Courts/CourtDetails/Stats/stats.ts
  web/src/pages/Home/CourtOverview/Chart.tsx
  web/src/pages/Profile/Votes/VoteCard/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

feat: add base and optimism chains, style better, remove icons, tooltip issue
  web/.env.mainnet.public
  web/src/components/JurorLink.tsx
  web/src/config/rpc.ts
  web/src/consts/chains.ts
  web/src/context/EthIdentityProvider.tsx
  web/src/hooks/queries/useScoutActivity.ts
  web/src/hooks/useTooltipEscapeOverflow.ts
  web/src/pages/Courts/CourtDetails/StakingHistoryByCourt/DisplayStakes/index.tsx
  web/src/pages/Profile/JurorCard/TopContent/index.tsx
  web/src/public/scout-logo.svg
  web/src/styles/global-style.ts
Owners: @kleros/maintainers-court-v2-frontend

fix: ensure safe handling of optional BigInt values in various components
  web/src/components/Verdict/FinalDecision.tsx
  web/src/hooks/useClassicAppealContext.tsx
  web/src/pages/Courts/CourtDetails/Stats/stats.ts
Owners: @kleros/maintainers-court-v2-frontend

feat: translations for library, always show scout
  web/.env.mainnet.public
  web/src/context/EthIdentityProvider.tsx
  web/src/hooks/queries/useScoutActivity.ts
  web/src/locales/en/translation.json
  web/src/locales/es/translation.json
  web/src/locales/fr/translation.json
  web/src/pages/Profile/JurorCard/TopContent/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

fix: improve bytes scalar unsafe usages
  web/src/actions/reveal/helpers/bruteForceChoice.ts
  web/src/components/EvidenceCard.tsx
  web/src/components/Verdict/DisputeTimeline.tsx
  web/src/hooks/useDisputeKitAddresses.ts
  web/src/hooks/useGatedTokenInfo.ts
  web/src/hooks/useVotingContext.tsx
  web/src/pages/Cases/CaseDetails/Appeal/index.tsx
  web/src/pages/Cases/CaseDetails/Evidence/index.tsx
  web/src/pages/Cases/CaseDetails/MaintenanceButtons/DrawButton.tsx
  web/src/pages/Cases/CaseDetails/MaintenanceButtons/SetJurorsButton.tsx
  web/src/pages/Cases/CaseDetails/MaintenanceButtons/index.tsx
  web/src/pages/Cases/CaseDetails/Overview/GatedTokenDisplay.tsx
  web/src/pages/Cases/CaseDetails/Overview/index.tsx
  web/src/pages/Cases/CaseDetails/Voting/Classic/Reveal.tsx
  web/src/pages/Cases/CaseDetails/Voting/Classic/index.tsx
  web/src/pages/Cases/CaseDetails/Voting/Shutter/Reveal.tsx
  web/src/pages/Cases/CaseDetails/Voting/Shutter/index.tsx
  web/src/pages/Cases/CaseDetails/Voting/VotesDetails/index.tsx
  web/src/pages/Cases/CaseDetails/Voting/index.tsx
  web/src/pages/Courts/CourtDetails/StakingHistoryByCourt/DisplayStakes/StakeEventCard/DesktopCard.tsx
  web/src/pages/Courts/CourtDetails/StakingHistoryByCourt/DisplayStakes/StakeEventCard/MobileCard.tsx
  web/src/pages/Profile/Stakes/CourtCard/index.tsx
  web/src/utils/index.ts
  web/src/utils/prepareArbitratorExtradata.ts
Owners: @kleros/maintainers-court-v2-frontend

fix: add null checks for transaction hashes in EvidenceCard, DisputeTimeline, and VotesDetails
  web/src/components/EvidenceCard.tsx
  web/src/components/Verdict/DisputeTimeline.tsx
  web/src/pages/Cases/CaseDetails/Voting/VotesDetails/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

fix: update type mappings to use viem dedicated types
  web/src/actions/reveal/helpers/bruteForceChoice.ts
  web/src/components/DisputeView/index.tsx
  web/src/components/Verdict/DisputeTimeline.tsx
  web/src/components/Verdict/FinalDecision.tsx
  web/src/hooks/useDisputeKitAddresses.ts
  web/src/hooks/useGatedTokenInfo.ts
  web/src/hooks/useVotingContext.tsx
  web/src/pages/Cases/CaseDetails/Evidence/index.tsx
  web/src/pages/Cases/CaseDetails/MaintenanceButtons/DrawButton.tsx
  web/src/pages/Cases/CaseDetails/MaintenanceButtons/SetJurorsButton.tsx
  web/src/pages/Cases/CaseDetails/Overview/index.tsx
  web/src/pages/Cases/CaseDetails/Voting/VotesDetails/index.tsx
  web/src/pages/Cases/CaseDetails/Voting/index.tsx
  web/src/utils/index.ts
  web/src/utils/prepareArbitratorExtradata.ts
Owners: @kleros/maintainers-court-v2-frontend

fix: minor type and util usage improvements
  web/src/components/EvidenceCard.tsx
  web/src/components/Verdict/DisputeTimeline.tsx
  web/src/hooks/useClassicAppealContext.tsx
  web/src/pages/Cases/CaseDetails/Overview/GatedTokenDisplay.tsx
  web/src/pages/Cases/CaseDetails/Voting/VotesDetails/index.tsx
  web/src/pages/Cases/CaseDetails/index.tsx
  web/src/pages/Courts/CourtDetails/StakePanel/Simulator/index.tsx
  web/src/pages/Courts/CourtDetails/StakePanel/StakeWithdrawPopup/Header.tsx
  web/src/pages/Courts/CourtDetails/StakingHistoryByCourt/DisplayStakes/StakeEventCard/DesktopCard.tsx
  web/src/pages/Courts/CourtDetails/StakingHistoryByCourt/DisplayStakes/StakeEventCard/MobileCard.tsx
  web/src/pages/Profile/Stakes/CourtCard/index.tsx
  web/src/pages/Profile/Votes/VoteCard/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

fix: dispute kit gated token whitelist backport, undo multidim coherence introduced by e516845
  contracts/README.md
  contracts/deploy/upgrade-all.ts
  contracts/deployments/arbitrum/DisputeKitGatedNeo.json
  contracts/deployments/arbitrum/DisputeKitGatedNeo_Implementation.json
  contracts/src/arbitration/dispute-kits/DisputeKitClassicBase.sol
  contracts/src/arbitration/dispute-kits/DisputeKitGated.sol
  contracts/src/arbitration/dispute-kits/DisputeKitGatedShutter.sol
  contracts/src/proxy/KlerosProxies.sol
  contracts/src/test/DisputeKitGatedMock.sol
  contracts/test/arbitration/dispute-kit-gated.ts
Owners: @jaybuidl

chore: upgraded DisputeKitGated to 0.12.2
  contracts/README.md
  contracts/deployments/arbitrum/DisputeKitGatedNeo.json
  contracts/deployments/arbitrum/DisputeKitGatedNeo_Implementation.json
Owners: @jaybuidl

chore: patch upgrade for DisputeKitGated for compatibility with current KC, from ab7cb38
  contracts/README.md
  contracts/deployments/arbitrum/DisputeKitGatedNeo.json
  contracts/deployments/arbitrum/DisputeKitGatedNeo_Implementation.json
  contracts/src/arbitration/dispute-kits/DisputeKitGated.sol
Owners: @jaybuidl

docs: comment for L-04 on the rewards not counted toward the `maxStakePerJuror` limit
  contracts/src/arbitration/SortitionModule.sol
Owners: @jaybuidl

refactor: optimization for M-04
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/SortitionModule.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassicBase.sol
  contracts/test/evidence/index.ts
  contracts/test/foundry/DisputeKitGatedArgentinaConsumerProtection_Drawing.t.sol
  contracts/test/foundry/KlerosCore_Appeals.t.sol
  contracts/test/foundry/KlerosCore_Disputes.t.sol
  contracts/test/foundry/KlerosCore_Governance.t.sol
  contracts/test/foundry/KlerosCore_Initialization.t.sol
  contracts/test/foundry/KlerosCore_TestBase.sol
Owners: @jaybuidl

fix: revert L-04 (formerly L-05) to reduce unnecessary complexity
  contracts/src/arbitration/SortitionModule.sol
  contracts/test/foundry/KlerosCore_Execution.t.sol
Owners: @jaybuidl

refactor: abstract reward calculation to DK I-03
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassicBase.sol
  contracts/src/arbitration/interfaces/IDisputeKit.sol
Owners: @jaybuidl

feat: add disputeID and roundID parameters to getRewards I-03
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassicBase.sol
  contracts/src/arbitration/interfaces/IDisputeKit.sol
Owners: @jaybuidl

fix: simplify and move Ruling event to passPeriod M-01
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassicBase.sol
  contracts/src/arbitration/dispute-kits/DisputeKitGatedShutter.sol
  contracts/src/arbitration/dispute-kits/DisputeKitShutter.sol
  contracts/src/arbitration/interfaces/IArbitratorV2.sol
  contracts/test/foundry/DisputeKitClassicUniversity.t.sol
  contracts/test/foundry/KlerosCore_Appeals.t.sol
  contracts/test/foundry/KlerosCore_Disputes.t.sol
  contracts/test/foundry/KlerosCore_Drawing.t.sol
  contracts/test/foundry/KlerosCore_Execution.t.sol
  contracts/test/foundry/KlerosCore_Voting.t.sol
  contracts/test/integration/index.ts
Owners: @jaybuidl

fix: revert M-07 to reduce unnecessary complexity
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassicBase.sol
  contracts/src/arbitration/interfaces/IDisputeKit.sol
  contracts/test/foundry/KlerosCore_Execution.t.sol
Owners: @jaybuidl

.github/CODEOWNERS:

# Default
*                          @kleros/maintainers-court-v2-frontend
contracts                  @jaybuidl

# Owned by everyone
yarn.lock                  @kleros/devs
.gitignore                 @kleros/devs
