Repository kleros/kleros-v2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kleros/maintainers-court-v2-frontend, @jaybuidl, @kleros/devs

fix(keeper-bot): use estimateGas instead of hardcoded gas limit for draw/execute
  contracts/scripts/keeperBot.ts
Owners: @jaybuidl

fix(keeper-bot): cap real-send gas at provider limit and align execute pre-flight
  contracts/scripts/keeperBot.ts
Owners: @jaybuidl

refactor(keeper-bot): rename HIGH_GAS_LIMIT to DRAW_PROBE_GAS_LIMIT for clarity
  contracts/scripts/keeperBot.ts
Owners: @jaybuidl

fix(keeper-bot): halve batch and retry when draw/execute gas exceeds MAX_TX_GAS_LIMIT
  contracts/scripts/keeperBot.ts
Owners: @jaybuidl

fix(keeper-bot): use estimateGas instead of hardcoded gas limit for draw/execute
  contracts/scripts/keeperBot.ts
Owners: @jaybuidl

fix(keeper-bot): cap real-send gas at provider limit and align execute pre-flight
  contracts/scripts/keeperBot.ts
Owners: @jaybuidl

fix(keeper-bot): halve batch and retry when draw/execute gas exceeds MAX_TX_GAS_LIMIT
  contracts/scripts/keeperBot.ts
Owners: @jaybuidl

refactor(keeper-bot): rename HIGH_GAS_LIMIT to DRAW_PROBE_GAS_LIMIT for clarity
  contracts/scripts/keeperBot.ts
Owners: @jaybuidl

fix: alignment cases list view
  web/src/components/DisputeView/DisputeInfo/DisputeInfoList.tsx
  web/src/components/DisputeView/DisputeInfo/index.tsx
  web/src/components/DisputeView/DisputeListView.tsx
  web/src/components/DisputeView/PeriodBanner.tsx
Owners: @kleros/maintainers-court-v2-frontend

chore: remove unnecessary styles
  web/src/components/DisputeView/DisputeInfo/DisputeInfoList.tsx
Owners: @kleros/maintainers-court-v2-frontend

chore: add 900 as third argument
  web/src/components/DisputeView/PeriodBanner.tsx
Owners: @kleros/maintainers-court-v2-frontend

chore: new commerce courts and docs improvement
  contracts/README.md
  contracts/config/courts.v2.devnet.json
  contracts/config/courts.v2.mainnet.json
  contracts/config/courts.v2.testnet.json
  contracts/config/policies.v2.devnet.json
  contracts/config/policies.v2.mainnet.json
  contracts/config/policies.v2.testnet.json
  contracts/scripts/README.md.template
Owners: @jaybuidl

chore: new commerce courts
  contracts/config/courts.v2.devnet.json
  contracts/config/courts.v2.mainnet-neo.json
  contracts/config/courts.v2.testnet.json
  contracts/config/policies.v2.devnet.json
  contracts/config/policies.v2.mainnet-neo.json
  contracts/config/policies.v2.testnet.json
Owners: @jaybuidl

refactor(web): case-list-view-redesign
  web/src/components/CasesDisplay/CasesGrid.tsx
  web/src/components/DisputePreview/DisputeContext.tsx
  web/src/components/DisputeView/CardLabels/Label.tsx
  web/src/components/DisputeView/CardLabels/RewardsAndFundLabel.tsx
  web/src/components/DisputeView/CardLabels/index.tsx
  web/src/components/DisputeView/DisputeInfo/DisputeInfoCard.tsx
  web/src/components/DisputeView/DisputeInfo/DisputeInfoList.tsx
  web/src/components/DisputeView/DisputeInfo/index.tsx
  web/src/components/DisputeView/DisputeListView.tsx
  web/src/components/DisputeView/PeriodBanner.tsx
  web/src/components/DisputeView/index.tsx
  web/src/components/Field.tsx
  web/src/components/StyledSkeleton.tsx
  web/src/locales/en/translation.json
  web/src/locales/es/translation.json
  web/src/locales/fr/translation.json
  web/src/pages/Cases/CaseDetails/Overview/index.tsx
  web/src/pages/Resolver/Preview/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

fix(web): show-err-message-correctly-on-card-and-list-view
  web/src/components/DisputeView/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

chore: update-french-translation-for-round
  web/src/locales/fr/translation.json
Owners: @kleros/maintainers-court-v2-frontend

fix(contracts): allow generating-phase entry without minStakingTime gate
  contracts/scripts/keeperBot.ts
Owners: @jaybuidl

fix(contracts): count actual jurors drawn instead of requested iterations
  contracts/scripts/keeperBot.ts
Owners: @jaybuidl

fix(contracts): restructure keeper phase-gate to allow drawing-phase entry without minStakingTime
  contracts/scripts/keeperBot.ts
Owners: @jaybuidl

fix(contracts): guard zero-iteration draw call in keeper drawing loop
  contracts/scripts/keeperBot.ts
Owners: @jaybuidl

chore: feedback
  web/src/components/DisputeView/CardLabels/Label.tsx
  web/src/components/DisputeView/CardLabels/index.tsx
  web/src/components/DisputeView/DisputeCardView.tsx
  web/src/components/DisputeView/index.tsx
  web/src/locales/fr/translation.json
Owners: @kleros/maintainers-court-v2-frontend

chore: gnosis blockscout api endpoint
  contracts/hardhat.config.ts
Owners: @jaybuidl

chore: agentic commerce court update, small script fix
  contracts/config/courts.v2.devnet.json
  contracts/config/courts.v2.mainnet.json
  contracts/config/courts.v2.testnet.json
  contracts/config/policies.v2.devnet.json
  contracts/config/policies.v2.mainnet.json
  contracts/config/policies.v2.testnet.json
  contracts/scripts/utils/contracts.ts
Owners: @jaybuidl

chore: agentic commerce court update
  contracts/config/courts.v2.devnet.json
  contracts/config/courts.v2.mainnet-neo.json
  contracts/config/courts.v2.testnet.json
  contracts/config/policies.v2.devnet.json
  contracts/config/policies.v2.mainnet-neo.json
  contracts/config/policies.v2.testnet.json
Owners: @jaybuidl

feat(web): markdown-editor-and-renderer-for-juror-justifications
  web/package.json
  web/src/components/ExternalLinkWarning.tsx
  web/src/components/MarkdownEditor.tsx
  web/src/components/MarkdownRenderer.tsx
  web/src/pages/Cases/CaseDetails/Voting/Classic/Reveal.tsx
  web/src/pages/Cases/CaseDetails/Voting/ConfirmVoteModal.tsx
  web/src/pages/Cases/CaseDetails/Voting/JustificationArea.tsx
  web/src/pages/Cases/CaseDetails/Voting/OptionsContainer.tsx
  web/src/pages/Cases/CaseDetails/Voting/VotesDetails/index.tsx
  web/src/styles/mdxEditorTheme.ts
  web/src/utils/linkUtils.ts
  web/src/utils/urlValidation.ts
  yarn.lock
Owners: @kleros/maintainers-court-v2-frontend, @kleros/devs

refactor(web): keep-markdown-editor-agnostic
  web/src/components/MarkdownEditor.tsx
  web/src/pages/Cases/CaseDetails/Voting/Classic/Reveal.tsx
  web/src/pages/Cases/CaseDetails/Voting/ConfirmVoteModal.tsx
  web/src/pages/Cases/CaseDetails/Voting/JustificationArea.tsx
  web/src/pages/Cases/CaseDetails/Voting/OptionsContainer.tsx
Owners: @kleros/maintainers-court-v2-frontend

chore: testnet court appeal period shorter
  contracts/config/courts.v2.testnet.json
Owners: @jaybuidl

chore: mainnet court evidence period shorter
  contracts/config/courts.v2.mainnet-neo.json
Owners: @jaybuidl

chore: update to latest ui components library version
  web/package.json
  yarn.lock
Owners: @kleros/maintainers-court-v2-frontend, @kleros/devs

chore: ui library version
  web/package.json
Owners: @kleros/maintainers-court-v2-frontend

chore: yarnlock
  yarn.lock
Owners: @kleros/devs

test(web): fix e2e selectors broken by ui-components-library 3.x
  web/src/tests/e2e/case.spec.ts
  web/src/tests/e2e/voting.spec.ts
Owners: @kleros/maintainers-court-v2-frontend

feat: address feedback
  web/src/components/DisputeFeatures/Features/ArgentinaConsumerProtection.tsx
  web/src/components/DisputeFeatures/Features/ClassicVote.tsx
  web/src/components/DisputeFeatures/Features/FeatureRadio.tsx
  web/src/components/DisputeFeatures/Features/GatedErc1155.tsx
  web/src/components/DisputeFeatures/Features/GatedErc20.tsx
  web/src/components/DisputeFeatures/Features/UniversityVote.tsx
  web/src/components/DisputeFeatures/Features/index.tsx
  web/src/components/LabeledDropdown.tsx
  web/src/components/Verdict/DisputeTimeline.tsx
  web/src/hooks/useBigNumberFieldReset.ts
  web/src/pages/Cases/CaseDetails/Appeal/Classic/Fund.tsx
  web/src/pages/Cases/CaseDetails/Appeal/EthAmountField.tsx
  web/src/pages/Cases/CaseDetails/Timeline.tsx
  web/src/pages/Courts/CourtDetails/StakePanel/InputDisplay.tsx
  web/src/pages/Resolver/Landing/CreationCard.tsx
  web/src/styles/commonStyles.ts
Owners: @kleros/maintainers-court-v2-frontend

feat: update comments issues, show steppers
  web/src/components/DisputeFeatures/Features/FeatureRadio.tsx
  web/src/components/Verdict/DisputeTimeline.tsx
  web/src/hooks/useBigNumberFieldReset.ts
  web/src/pages/Courts/CourtDetails/StakePanel/InputDisplay.tsx
  web/src/styles/commonStyles.ts
Owners: @kleros/maintainers-court-v2-frontend

ci: allow GHSA-fvhg-p4hf-79x3 in dependency review
  .github/workflows/dependency-review.yml
Owners: @kleros/maintainers-court-v2-frontend

fix: notifications redirection
  web/src/layout/Header/DesktopHeader.tsx
  web/src/pages/Settings/EmailConfirmation/index.tsx
  web/src/pages/Settings/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

refactor(contracts): make keeper withdrawal path importable and testable
  contracts/scripts/keeperBot.ts
  contracts/scripts/keeperBotShutter.ts
  contracts/test/scripts/keeperBot.ts
Owners: @jaybuidl

test(contracts): add failing regression test for local-vs-core dispute IDs
  contracts/test/scripts/keeperBot.ts
Owners: @jaybuidl

fix(contracts): pass core dispute and round IDs to withdrawFeesAndRewards
  contracts/scripts/keeperBot.ts
Owners: @jaybuidl

fix(web): one-sided-appeal-withdraw-button
  web/src/pages/Cases/CaseDetails/MaintenanceButtons/WithdrawAppealFees.tsx
Owners: @kleros/maintainers-court-v2-frontend

.github/CODEOWNERS:

# Default
*                          @kleros/maintainers-court-v2-frontend
contracts                  @jaybuidl

# Owned by everyone
yarn.lock                  @kleros/devs
.gitignore                 @kleros/devs
