Repository kleros/kleros-v2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kleros/maintainers-court-v2-frontend, @jaybuidl, @kleros/devs

.github/CODEOWNERS:

# Default
*                          @kleros/maintainers-court-v2-frontend
contracts                  @jaybuidl

# Owned by everyone
yarn.lock                  @kleros/devs
.gitignore                 @kleros/devs

chore: remove-external-dispute-id
  kleros-sdk/src/requests/fetchDisputeDetails.ts
  kleros-sdk/src/utils/getDispute.ts
  kleros-sdk/test/getDispute.test.ts
  subgraph/core/schema.graphql
  subgraph/core/src/entities/Dispute.ts
  web/src/hooks/queries/useDisputeDetailsQuery.ts
  web/src/hooks/queries/usePopulatedDisputeData.ts
  web/src/pages/Cases/CaseDetails/Evidence/EvidenceSearch.tsx
  web/src/pages/Cases/CaseDetails/Evidence/SubmitEvidenceModal.tsx
  web/src/pages/Cases/CaseDetails/Evidence/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

chore: fix table a bit
  web/src/pages/Courts/CourtDetails/StakingHistoryByCourt/DisplayStakes/StakeEventCard/DesktopCard.tsx
Owners: @kleros/maintainers-court-v2-frontend

chore: convert-evidence-index-back-to-string
  subgraph/core/schema.graphql
  subgraph/core/src/EvidenceModule.ts
Owners: @kleros/maintainers-court-v2-frontend

chore: deply-subgraphs-to-alchemy
  subgraph/dispute-template-registry/subgraph.yaml
  subgraph/package.json
Owners: @kleros/maintainers-court-v2-frontend

chore(web): remove-neo-references
  web/.env.devnet-neo.public
  web/.env.mainnet-neo.public
  web/package.json
  web/scripts/runEnv.sh
  web/src/consts/arbitratorTypes.ts
  web/src/consts/index.ts
  web/src/consts/processEnvConsts.ts
  web/src/hooks/useGenesisBlock.ts
  web/src/hooks/useSpamEvidence.ts
  web/src/layout/Header/Logo.tsx
  web/wagmi.config.ts
Owners: @kleros/maintainers-court-v2-frontend

chore(web-devtools): remove-neo-references
  web-devtools/.env.devnet-neo.public
  web-devtools/scripts/runEnv.sh
  web-devtools/src/consts/arbitratorTypes.ts
Owners: @kleros/maintainers-court-v2-frontend

chore(subgraph): remove-neo-deployment
  subgraph/README.md
  subgraph/core-neo/abi-migrations/KlerosCoreNeo.json
  subgraph/core-neo/abi-migrations/SortitionModuleNeo.json
  subgraph/core-neo/schema.graphql
  subgraph/core-neo/src
  subgraph/core-neo/subgraph.template.yaml
  subgraph/core-neo/subgraph.yaml
  subgraph/core-neo/tests
  subgraph/package.json
  subgraph/scripts/all.sh
Owners: @kleros/maintainers-court-v2-frontend

feat: support call contracts with lemon
  web/src/app.tsx
  web/src/components/EnsureAuth.tsx
  web/src/context/Web3Provider.tsx
  web/src/context/walletProviders/context/index.ts
  web/src/context/walletProviders/interfaces/WalletProvider.ts
  web/src/context/walletProviders/providers/lemon/LemonWalletProvider.ts
  web/src/context/walletProviders/providers/reown/ReownWalletProvider.ts
  web/src/context/walletProviders/providers/reown/ReownWalletProviderComponent.tsx
  web/src/context/walletProviders/types/index.ts
  web/src/hooks/useContractDisputeKits.ts
  web/src/pages/Cases/CaseDetails/Voting/Classic/Commit.tsx
  web/src/pages/Cases/CaseDetails/Voting/Classic/Reveal.tsx
  web/src/pages/Cases/CaseDetails/Voting/Classic/Vote.tsx
Owners: @kleros/maintainers-court-v2-frontend

fix: remove duplicated wallet provider
  web/src/pages/GetPnk/WalletProvider.tsx
  web/src/pages/GetPnk/Widget.tsx
Owners: @kleros/maintainers-court-v2-frontend

fix: switch network for reown
  web/src/components/ConnectWallet/index.tsx
  web/src/context/walletProviders/interfaces/WalletProvider.ts
  web/src/context/walletProviders/providers/lemon/LemonWalletProvider.ts
  web/src/context/walletProviders/providers/reown/ReownWalletProvider.ts
  web/src/context/walletProviders/providers/reown/ReownWalletProviderComponent.tsx
  web/src/hooks/useContractDisputeKits.ts
Owners: @kleros/maintainers-court-v2-frontend

fix: revert usage of useConfig
  web/src/context/walletProviders/providers/reown/ReownWalletProvider.ts
  web/src/context/walletProviders/providers/reown/ReownWalletProviderComponent.tsx
Owners: @kleros/maintainers-court-v2-frontend

feat: implement signTypedMessage in reown
  web/src/context/walletProviders/interfaces/WalletProvider.ts
  web/src/context/walletProviders/providers/reown/ReownWalletProvider.ts
  web/src/hooks/useSigningAccount.tsx
  web/src/pages/Cases/CaseDetails/Voting/Classic/Commit.tsx
  web/src/pages/Cases/CaseDetails/Voting/Classic/Reveal.tsx
Owners: @kleros/maintainers-court-v2-frontend

feat(kleros-sdk): allow-single-value-return-call-action
  kleros-sdk/src/dataMappings/actions/callAction.ts
Owners: @kleros/maintainers-court-v2-frontend

chore(web-devtools): update-dispute-template-inputs
  web-devtools/src/app/(main)/dispute-template/page.tsx
Owners: @kleros/maintainers-court-v2-frontend

chore(web): add-dispute-request-params-as-initial-context
  web/src/hooks/queries/usePopulatedDisputeData.ts
Owners: @kleros/maintainers-court-v2-frontend

feat(contracts): leaderboard-offset-contract
  contracts/deploy/00-home-chain-leaderboard-offset.ts
  contracts/deployments/arbitrumSepoliaDevnet/LeaderboardOffset.json
  contracts/hardhat.config.ts
  contracts/package.json
  contracts/src/governance/LeaderboardOffset.sol
  contracts/tasks/verify-all.ts
  yarn.lock
Owners: @jaybuidl, @kleros/devs

feat(subgraph): leaderboard-offset
  subgraph/.gitignore
  subgraph/core/schema.graphql
  subgraph/core/src/LeaderboardOffset.ts
  subgraph/core/src/entities/User.ts
  subgraph/core/subgraph.template.yaml
  subgraph/core/subgraph.yaml
  subgraph/core/tests/leaderboard-offset-utils.ts
  subgraph/core/tests/leaderboard-offset.test.ts
  subgraph/matchstick.yaml
  subgraph/package.json
Owners: @kleros/devs, @kleros/maintainers-court-v2-frontend

chore: rabbit-feedback
  contracts/deploy/00-home-chain-leaderboard-offset.ts
  subgraph/core/subgraph.yaml
Owners: @jaybuidl, @kleros/maintainers-court-v2-frontend

fix(SortitionModule): total stake update
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/SortitionModule.sol
  contracts/src/arbitration/interfaces/ISortitionModule.sol
  contracts/src/arbitration/university/SortitionModuleUniversity.sol
  contracts/test/foundry/KlerosCore_Staking.t.sol
Owners: @jaybuidl

Update keeperBotShutter.ts
  contracts/scripts/keeperBotShutter.ts
Owners: @jaybuidl

feat(SortitionModule): add certora PoC to Foundry
  contracts/test/foundry/KlerosCore_Execution.t.sol
Owners: @jaybuidl

fix(KC): malicious arbitrable revert
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/arbitrables/ArbitrableExample.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassicBase.sol
  contracts/src/test/MaliciousArbitrableMock.sol
  contracts/test/foundry/KlerosCore_Execution.t.sol
Owners: @jaybuidl

fix(SortitionModule): sync totalStaked with stakedPnk
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/SortitionModule.sol
  contracts/src/arbitration/interfaces/ISortitionModule.sol
  contracts/src/arbitration/university/SortitionModuleUniversity.sol
  contracts/test/foundry/KlerosCore_Execution.t.sol
Owners: @jaybuidl

fix(web): juror-number-input-crash
  web/src/pages/Resolver/NavigationButtons/NextButton.tsx
  web/src/pages/Resolver/Parameters/Jurors.tsx
Owners: @kleros/maintainers-court-v2-frontend

fix(KC): check safeTransfer for withdrawLeftover
  contracts/src/arbitration/KlerosCore.sol
  contracts/test/foundry/KlerosCore_Execution.t.sol
Owners: @jaybuidl

fix(KC): remove try catch
  contracts/src/arbitration/KlerosCore.sol
  contracts/test/foundry/KlerosCore_Execution.t.sol
Owners: @jaybuidl

chore(contracts): revert-verfication-task-changes
  contracts/hardhat.config.ts
  contracts/package.json
  yarn.lock
Owners: @jaybuidl, @kleros/devs

chore: allow-commiting-public-env-files
  web-devtools/.gitignore
  web/.env.mainnet.public
  web/.gitignore
Owners: @kleros/devs, @kleros/maintainers-court-v2-frontend

chore(contracts): remove-verify-all-task
  contracts/tasks/verify-all.ts
Owners: @jaybuidl

chore(contracts): remove-etherscan-property
  contracts/hardhat.config.ts
Owners: @jaybuidl

test: adding back the reverting arbitrable test, small nitpicks
  contracts/src/arbitration/arbitrables/ArbitrableExample.sol
  contracts/test/foundry/KlerosCore_Execution.t.sol
Owners: @jaybuidl

fix: enhance file type validation in AtlasProvider to support wildcard MIME types
  kleros-app/src/lib/atlas/providers/AtlasProvider.tsx
Owners: @kleros/maintainers-court-v2-frontend

fix: react-vuln-55183-and-55184
  web-devtools/package.json
  yarn.lock
Owners: @kleros/maintainers-court-v2-frontend, @kleros/devs

feat(KC): add event for failed transfer
  contracts/src/libraries/SafeERC20.sol
  contracts/test/foundry/KlerosCore_Execution.t.sol
Owners: @jaybuidl

chore: recompute-coherence-on-offset
  subgraph/core/src/LeaderboardOffset.ts
  subgraph/core/tests/leaderboard-offset.test.ts
Owners: @kleros/maintainers-court-v2-frontend

feat: remove hardcoded values in vote cards, stylings, etc
  web/src/components/StyledSkeleton.tsx
  web/src/hooks/queries/useUserDraws.ts
  web/src/hooks/useStakingEventsByCourt.ts
  web/src/pages/Profile/Votes/VoteCard/CaseStatus.tsx
  web/src/pages/Profile/Votes/VoteCard/CourtName.tsx
  web/src/pages/Profile/Votes/VoteCard/Vote.tsx
  web/src/pages/Profile/Votes/VoteCard/VoteCount.tsx
  web/src/pages/Profile/Votes/VoteCard/index.tsx
  web/src/pages/Profile/Votes/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

fix: few code smells
  web/src/pages/Courts/CourtDetails/StakingHistoryByCourt/DisplayStakes/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

fix(web): withdraw-appeal-fees-maintainance-button
  web/src/pages/Cases/CaseDetails/MaintenanceButtons/WithdrawAppealFees.tsx
Owners: @kleros/maintainers-court-v2-frontend

chore(subgraph): deploy-core-v0.19.1
  subgraph/package.json
Owners: @kleros/maintainers-court-v2-frontend

fix: stakes accounting H-01 M-02
  contracts/src/arbitration/SortitionModule.sol
  contracts/test/foundry/KlerosCore_Execution.t.sol
  contracts/test/foundry/KlerosCore_Staking.t.sol
Owners: @jaybuidl
