Repository kleros/kleros-v2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kleros/maintainers-court-v2-frontend, @jaybuidl, @kleros/devs

fix: compiler error
  contracts/src/arbitration/dispute-kits/DisputeKitGatedShutter.sol
  contracts/src/arbitration/dispute-kits/DisputeKitShutter.sol
Owners: @jaybuidl

feat: tests for tied choices and DK reward miscalculation
  contracts/src/arbitration/dispute-kits/DisputeKitClassicBase.sol
  contracts/src/test/MaliciousDisputeKitMock.sol
  contracts/test/foundry/KlerosCore_Execution.t.sol
Owners: @jaybuidl

fix: remove TransferFailed event for simplicity M-03
  contracts/src/libraries/SafeERC20.sol
  contracts/test/foundry/KlerosCore_Execution.t.sol
Owners: @jaybuidl

fix: remove getRoundInfo calls
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassicBase.sol
  contracts/src/arbitration/dispute-kits/DisputeKitGatedShutter.sol
  contracts/src/arbitration/dispute-kits/DisputeKitShutter.sol
  contracts/src/test/MaliciousDisputeKitMock.sol
Owners: @jaybuidl

docs(KC): remove todo comment
  contracts/src/arbitration/KlerosCore.sol
Owners: @jaybuidl

refactor: replace revert with require
  contracts/src/arbitration/DisputeTemplateRegistry.sol
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/PolicyRegistry.sol
  contracts/src/arbitration/RatesConverter.sol
  contracts/src/arbitration/SortitionModule.sol
  contracts/src/arbitration/arbitrables/ArbitrableExample.sol
  contracts/src/arbitration/arbitrables/DisputeResolver.sol
  contracts/src/arbitration/devtools/DisputeResolverRuler.sol
  contracts/src/arbitration/devtools/KlerosCoreRuler.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassicBase.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassicUniversity.sol
  contracts/src/arbitration/dispute-kits/DisputeKitGated.sol
  contracts/src/arbitration/dispute-kits/DisputeKitGatedShutter.sol
  contracts/src/arbitration/dispute-kits/DisputeKitShutter.sol
  contracts/src/arbitration/evidence/EvidenceModule.sol
  contracts/src/arbitration/view/KlerosCoreSnapshotProxy.sol
  contracts/src/gateway/ForeignGateway.sol
  contracts/src/gateway/HomeGateway.sol
  contracts/src/governance/LeaderboardOffset.sol
  contracts/src/libraries/Constants.sol
  contracts/src/libraries/SortitionTrees.sol
  contracts/src/rng/BlockhashRNG.sol
  contracts/src/rng/ChainlinkRNG.sol
  contracts/src/rng/RNGWithFallback.sol
  contracts/src/rng/RandomizerRNG.sol
  contracts/src/rng/mock/ChainlinkVRFCoordinatorMock.sol
  contracts/src/test/MaliciousArbitrableMock.sol
  contracts/src/token/SBT.sol
  contracts/test/arbitration/helpers/dispute-kit-gated-common.ts
  contracts/test/arbitration/staking-neo.ts
  contracts/test/foundry/DisputeKitGatedArgentinaConsumerProtection_Staking.t.sol
  contracts/test/foundry/KlerosCore_Staking.t.sol
Owners: @jaybuidl

refactor(KC): inline functions
  contracts/src/arbitration/KlerosCore.sol
Owners: @jaybuidl

refactor(KC): make owner payable
  contracts/src/arbitration/KlerosCore.sol
  contracts/test/foundry/KlerosCore_Initialization.t.sol
  contracts/test/foundry/KlerosCore_TestBase.sol
Owners: @jaybuidl

docs: remove inheritdoc
  contracts/src/arbitration/DisputeTemplateRegistry.sol
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/RatesConverter.sol
  contracts/src/arbitration/SortitionModule.sol
  contracts/src/arbitration/arbitrables/ArbitrableExample.sol
  contracts/src/arbitration/arbitrables/DisputeResolver.sol
  contracts/src/arbitration/devtools/KlerosCoreRuler.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassicBase.sol
  contracts/src/arbitration/dispute-kits/DisputeKitGated.sol
  contracts/src/arbitration/dispute-kits/DisputeKitGatedArgentinaConsumerProtection.sol
  contracts/src/arbitration/dispute-kits/DisputeKitGatedShutter.sol
  contracts/src/arbitration/dispute-kits/DisputeKitShutter.sol
  contracts/src/arbitration/dispute-kits/DisputeKitSybilResistant.sol
  contracts/src/arbitration/evidence/ModeratedEvidenceModule.sol
  contracts/src/arbitration/interfaces/IDisputeKit.sol
  contracts/src/gateway/ForeignGateway.sol
  contracts/src/gateway/HomeGateway.sol
  contracts/src/kleros-v1/kleros-liquid-xdai/xKlerosLiquidV2.sol
  contracts/src/kleros-v1/kleros-liquid/KlerosLiquidToV2Governor.sol
  contracts/src/rng/ChainlinkConsumerBaseV2Plus.sol
  contracts/src/test/MaliciousDisputeKitMock.sol
Owners: @jaybuidl

refactor(DK): remove enumerable set
  contracts/src/arbitration/dispute-kits/DisputeKitGated.sol
  contracts/src/arbitration/dispute-kits/DisputeKitGatedShutter.sol
  contracts/src/test/DisputeKitGatedMock.sol
  contracts/src/test/DisputeKitGatedShutterMock.sol
Owners: @jaybuidl

chore: remove empty address check
  contracts/src/rng/RNGWithFallback.sol
  contracts/src/rng/mock/ChainlinkVRFCoordinatorMock.sol
Owners: @jaybuidl

refactor(KC): return _stakingFailed for UI compatibility
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/SortitionModule.sol
  contracts/src/libraries/Constants.sol
  contracts/test/arbitration/helpers/dispute-kit-gated-common.ts
  contracts/test/arbitration/staking-neo.ts
  contracts/test/foundry/DisputeKitGatedArgentinaConsumerProtection_Staking.t.sol
  contracts/test/foundry/KlerosCore_Staking.t.sol
Owners: @jaybuidl

refactor: remove unused local var
  contracts/test/foundry/KlerosCore_Voting.t.sol
Owners: @jaybuidl

refactor(DK): remove inheritance
  contracts/src/arbitration/dispute-kits/DisputeKitClassic.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassicBase.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassicUniversity.sol
  contracts/src/arbitration/dispute-kits/DisputeKitGated.sol
  contracts/src/arbitration/dispute-kits/DisputeKitGatedArgentinaConsumerProtection.sol
  contracts/src/arbitration/dispute-kits/DisputeKitGatedShutter.sol
  contracts/src/arbitration/dispute-kits/DisputeKitShutter.sol
  contracts/src/arbitration/dispute-kits/DisputeKitSybilResistant.sol
  contracts/test/foundry/DisputeKitClassicUniversity.t.sol
  contracts/test/foundry/KlerosCore_Appeals.t.sol
  contracts/test/foundry/KlerosCore_Disputes.t.sol
  contracts/test/foundry/KlerosCore_Execution.t.sol
  contracts/test/foundry/KlerosCore_Governance.t.sol
  contracts/test/foundry/KlerosCore_TestBase.sol
  contracts/test/foundry/KlerosCore_Voting.t.sol
Owners: @jaybuidl

refactor(SM): inline _validateStake
  contracts/src/arbitration/SortitionModule.sol
Owners: @jaybuidl

docs: add TRUSTED/UNTRUSTED
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/SortitionModule.sol
Owners: @jaybuidl

chore: remove redundant requires
  contracts/src/arbitration/arbitrables/DisputeResolver.sol
  contracts/src/arbitration/devtools/DisputeResolverRuler.sol
Owners: @jaybuidl

chore: comment follow buttons
  web/src/components/JurorLink.tsx
  web/src/pages/Profile/JurorCard/TopContent/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

chore: clarify the comments
  web/src/components/JurorLink.tsx
  web/src/pages/Profile/JurorCard/TopContent/index.tsx
Owners: @kleros/maintainers-court-v2-frontend

feat(contracts): separate viem and ethers subpath exports
  contracts/deployments/ethers.ts
  contracts/deployments/viem.ts
  contracts/package.json
Owners: @jaybuidl

feat: feedback
  web/src/assets/svgs/icons/scout.svg
  web/src/config/rpc.ts
  web/src/layout/Header/navbar/DappList.tsx
  web/src/layout/Header/navbar/Product.tsx
  web/src/pages/Profile/JurorCard/TopContent/index.tsx
  web/src/public/scout-logo.svg
Owners: @kleros/maintainers-court-v2-frontend

chore: make-justification-mandatory
  web/src/pages/Cases/CaseDetails/Voting/Classic/Reveal.tsx
  web/src/pages/Cases/CaseDetails/Voting/Classic/Vote.tsx
  web/src/pages/Cases/CaseDetails/Voting/JustificationArea.tsx
  web/src/pages/Cases/CaseDetails/Voting/OptionsContainer.tsx
  web/src/pages/Cases/CaseDetails/Voting/Shutter/Commit.tsx
  web/src/pages/Cases/CaseDetails/Voting/Shutter/Reveal.tsx
  web/src/utils/voteJustification.ts
Owners: @kleros/maintainers-court-v2-frontend

chore: address-feedback-on-jusitification-requirement-in-reveal
  web/src/pages/Cases/CaseDetails/Voting/Classic/Reveal.tsx
  web/src/pages/Cases/CaseDetails/Voting/Classic/Vote.tsx
  web/src/pages/Cases/CaseDetails/Voting/OptionsContainer.tsx
  web/src/pages/Cases/CaseDetails/Voting/Shutter/Commit.tsx
  web/src/pages/Cases/CaseDetails/Voting/Shutter/Reveal.tsx
Owners: @kleros/maintainers-court-v2-frontend

fix: redeployed the SBT tokens on Arbitrum
  contracts/README.md
  contracts/deployments/arbitrum/SBTACPExperience.json
  contracts/deployments/arbitrum/SBTACPLawyer.json
  contracts/src/token/SBT.sol
  contracts/test/foundry/SBT.t.sol
Owners: @jaybuidl

chore: extended the voting period for the Consumer Protection court
  contracts/config/courts.v2.mainnet.json
Owners: @jaybuidl

feat: partial coherence DK
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/DisputeKitAsymmetricPlurality.sol
  contracts/test/foundry/KlerosCore_Execution.t.sol
Owners: @jaybuidl

docs: change irrelevant comment
  contracts/src/arbitration/dispute-kits/DisputeKitAsymmetricPlurality.sol
Owners: @jaybuidl

fix: minor fixes in partial dk
  contracts/src/arbitration/dispute-kits/DisputeKitAsymmetricPlurality.sol
Owners: @jaybuidl

chore: move partial DK to test
  contracts/src/test/DisputeKitAsymmetricPlurality.sol
Owners: @jaybuidl

chore: add pre-commit hook to check types for kleros-app directory
  .husky/pre-commit
Owners: @kleros/maintainers-court-v2-frontend

chore: add linting to pre-commit hook for kleros-app directory
  .husky/pre-commit
Owners: @kleros/maintainers-court-v2-frontend

chore: separate kleros-app type checking config
  kleros-app/package.json
  kleros-app/tsconfig.check.json
Owners: @kleros/maintainers-court-v2-frontend

chore: remove lint per workspace from pre-commit hook
  .husky/pre-commit
Owners: @kleros/maintainers-court-v2-frontend

chore: update lint-staged configuration to include ESLint for JS/TS files
  .lintstagedrc.json
Owners: @kleros/maintainers-court-v2-frontend

chore: add .lintstagedrc.json to kleros-app workspace for linting
  kleros-app/.lintstagedrc.json
Owners: @kleros/maintainers-court-v2-frontend

chore: add missing comment
  kleros-app/tsconfig.check.json
Owners: @kleros/maintainers-court-v2-frontend

chore: migrate legacy @kleros/kleros-v2-eslint-config to the new ESLINT flat config format
  eslint-config/.eslintrc.js
  eslint-config/flat.mjs
  eslint-config/package.json
  yarn.lock
Owners: @kleros/maintainers-court-v2-frontend, @kleros/devs

chore: add fallback ESLint configuration to root
  eslint.config.mjs
Owners: @kleros/maintainers-court-v2-frontend

chore: add picomatch 4.0.4 resolution to prevent vulnerable version usage
  package.json
  yarn.lock
Owners: @kleros/maintainers-court-v2-frontend, @kleros/devs

chore: update default ESLint config for TypeScript + drop duplicate missing-import rule
  eslint-config/.eslintrc.js
  eslint-config/package.json
  yarn.lock
Owners: @kleros/maintainers-court-v2-frontend, @kleros/devs

.github/CODEOWNERS:

# Default
*                          @kleros/maintainers-court-v2-frontend
contracts                  @jaybuidl

# Owned by everyone
yarn.lock                  @kleros/devs
.gitignore                 @kleros/devs
