Repository kleros/kleros-v2, pull requests merged in 2023-10, with the labels that each got.

#1269 Subgraph fix
  subgraph/package.json
  subgraph/src/entities/Round.ts
  subgraph/subgraph.yaml
Labels: Package: Subgraph

#1273 fix(web): submit evidence on case 0
  web/src/pages/Cases/CaseDetails/Evidence/index.tsx
Labels: Type: Bug :bug:, Package: Web

#1291 fix(web): crashing appeal tab
  web/src/hooks/useClassicAppealContext.tsx
Labels: Type: Bug :bug:, Package: Web

#1297 feat(web): share juror score on x
  web/src/pages/Dashboard/JurorInfo/Header.tsx
  web/src/pages/Dashboard/JurorInfo/index.tsx
Labels: Type: Feature🗿, Package: Web

#1304 feat(web): create mini guides structure, create level miniguides, sty…
  web/src/assets/pngs/dashboard/aristoteles.png
  web/src/assets/pngs/dashboard/diogenes.png
  web/src/assets/pngs/dashboard/plato.png
  web/src/assets/pngs/dashboard/pythagoras.png
  web/src/assets/pngs/dashboard/socrates.png
  web/src/components/Popup/MiniGuides/Level.tsx
  web/src/components/Popup/MiniGuides/Template.tsx
  web/src/pages/Dashboard/JurorInfo/Coherency.tsx
  web/src/pages/Dashboard/JurorInfo/index.tsx
  web/src/pages/Home/TopJurors/TopJurorsHeader.tsx
Labels: Type: Feature🗿, Package: Web, Type: UX
