Repository kleros/kleros-v2, pull requests merged in 2023-01, with the labels that each got.

#481 feat: added court name in the PolicyUpdate event, redeployed
  .yarn/releases/yarn-3.1.1.cjs
  .yarn/releases/yarn-3.3.1.cjs
  .yarnrc.yml
  contracts/README.md
  contracts/deployments/arbitrumGoerli/DisputeKitClassic.json
  contracts/deployments/arbitrumGoerli/DisputeResolver.json
  contracts/deployments/arbitrumGoerli/KlerosCore.json
  contracts/deployments/arbitrumGoerli/PolicyRegistry.json
  contracts/deployments/arbitrumGoerli/RandomizerRNG.json
  contracts/hardhat.config.ts
  contracts/package.json
  contracts/scripts/generateDeploymentsMarkdown.sh
  contracts/scripts/populatePolicyRegistry.ts
  contracts/src/arbitration/PolicyRegistry.sol
  package.json
  subgraph/package.json
  subgraph/schema.graphql
  subgraph/scripts/update.sh
  subgraph/src/PolicyRegistry.ts
  subgraph/subgraph.yaml
  web/package.json
  web/src/components/WrongChainBoundary.tsx
  web/src/consts/supportedChains.ts
  yarn.lock
Labels: Type: Enhancement :sparkles:, Type: Maintenance :construction:, Compatibility: ABI change 🗯, Package: Contracts

#490 Refactor(subgraph): remove code duplication when loading entities
  subgraph/src/DisputeKitClassic.ts
  subgraph/src/KlerosCore.ts
  subgraph/src/entities/ClassicDispute.ts
  subgraph/src/entities/ClassicRound.ts
  subgraph/src/entities/Court.ts
  subgraph/src/entities/Dispute.ts
  subgraph/src/entities/DisputeKit.ts
  subgraph/src/entities/JurorTokensPerCourt.ts
  subgraph/src/entities/Round.ts
  subgraph/src/utils.ts
Labels: Type: Maintenance :construction:, Package: Subgraph

#496 Fix(subgraph): Remove low level store use and prepare for the event order
  subgraph/src/DisputeKitClassic.ts
  subgraph/src/KlerosCore.ts
  subgraph/src/entities/ClassicDispute.ts
  subgraph/src/entities/ClassicRound.ts
  subgraph/src/entities/Court.ts
  subgraph/src/entities/Dispute.ts
  subgraph/src/entities/DisputeKit.ts
  subgraph/src/entities/JurorTokensPerCourt.ts
  subgraph/src/entities/Round.ts
  subgraph/src/utils.ts
Labels: Type: Enhancement :sparkles:, Package: Subgraph

#535 Ad-hoc scripts support for the court on Gnosis chain
  contracts/README.md
  contracts/config/courts.v1.gnosischain.json
  contracts/config/courts.v1.mainnet.json
  contracts/config/policies.v1.gnosischain.json
  contracts/config/policies.v1.mainnet.json
  contracts/deploy/00-home-chain-arbitration.ts
  contracts/hardhat.config.ts
  contracts/scripts/getCourtsV1.ts
  contracts/scripts/getPoliciesV1.ts
  contracts/scripts/populateCourts.ts
  contracts/scripts/populatePolicyRegistry.ts
Labels: Type: Enhancement :sparkles:, Package: Contracts

#511 fix(IMetaevidence): remove evidence
  contracts/src/arbitration/dispute-kits/DisputeKitClassic.sol
  contracts/src/arbitration/dispute-kits/DisputeKitSybilResistant.sol
  contracts/src/evidence/EvidenceModule.sol
  contracts/src/evidence/IEvidence.sol
  contracts/src/evidence/IMetaEvidence.sol
  contracts/src/evidence/ModeratedEvidenceModule.sol
Labels: Type: Bug :bug:, Compatibility: ABI change 🗯, Package: Contracts

#539 Feat(web): use netlify function to upload to IPFS
  .gitignore
  web/netlify/functions/uploadToIPFS.ts
  web/package.json
  web/src/pages/Cases/CaseDetails/Evidence/SubmitEvidenceModal.tsx
  web/src/utils/uploadFormDataToIPFS.ts
  web/src/utils/wrapWithToast.ts
  yarn.lock
Labels: Type: Enhancement :sparkles:, Package: Web

#550 fix: issue #537 Policies: use better markdown formatting
  contracts/config/policies.v1.gnosischain.json
  contracts/config/policies.v1.mainnet.json
  web/src/pages/Courts/CourtDetails/Description.tsx
Labels: Type: Enhancement :sparkles:, Package: Web

#540 Fix(subgraph): Correctly derive votes field
  subgraph/schema.graphql
  subgraph/src/entities/ClassicRound.ts
Labels: Type: Bug :bug:, Package: Subgraph
