Repository kleros/kleros-v2, pull requests merged in 2023-04, with the labels that each got.

#672 Dev tooling to run entire stack locally
  .husky/pre-commit
  README.md
  contracts/deploy/00-home-chain-arbitrable.ts
  contracts/foundry.toml
  contracts/package.json
  contracts/scripts/docPreprocess.sh
  contracts/scripts/generateDeploymentArtifact.sh
  contracts/scripts/generateDeploymentsMarkdown.sh
  docs/local-stack-2.png
  package.json
  scripts/check-prerequisites.sh
  scripts/tmux-local-stack.sh
  services/graph-node/.gitignore
  services/graph-node/README.md
  services/graph-node/bin/create
  services/graph-node/bin/debug
  services/graph-node/bin/deploy
  services/graph-node/bin/reassign
  services/graph-node/bin/remove
  services/graph-node/docker-compose.yml
  subgraph/package.json
  subgraph/scripts/update.sh
  web/README.md
  web/package.json
  web/scripts/sentry-release.sh
  web/src/app.tsx
  yarn.lock
Labels: Type: Enhancement :sparkles:, Type: Toolchain ⚒️

#673 fix(web): links to socials
  web/src/consts/community-elements.tsx
Labels: Type: Enhancement :sparkles:, Package: Web

#729 Configure Renovate
  renovate.json
Labels: dependencies

#585 Feat(subgraph): Add fields to ease dashboard tracking.
  .husky/pre-commit
  .nvmrc
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-stage.cjs
  .yarnrc.yml
  README.md
  bot-pinner/package.json
  contracts/.env.example
  contracts/.npmrc
  contracts/.yarnrc.yml
  contracts/README.md
  contracts/deploy/00-home-chain-arbitrable.ts
  contracts/deploy/00-home-chain-arbitration.ts
  contracts/deployments/arbitrumGoerli/ArbitrableExampleEthFee.json
  contracts/deployments/arbitrumGoerli/DisputeKitClassic.json
  contracts/deployments/arbitrumGoerli/DisputeResolver.json
  contracts/deployments/arbitrumGoerli/KlerosCore.json
  contracts/deployments/arbitrumGoerli/RandomizerRNG.json
  contracts/foundry.toml
  contracts/hardhat.config.ts
  contracts/package.json
  contracts/scripts/docPreprocess.sh
  contracts/scripts/generateDeploymentArtifact.sh
  contracts/scripts/generateDeploymentsMarkdown.sh
  contracts/scripts/simulations/README.md
  contracts/scripts/simulations/tasks.ts
  contracts/scripts/simulations/utils.ts
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/gateway/ForeignGateway.sol
  contracts/src/gateway/ForeignGatewayOnGnosis.sol
  contracts/src/gateway/HomeGateway.sol
  contracts/test/chai-setup.ts
  contracts/test/evidence/index.ts
  contracts/test/integration/index.ts
  docs/local-stack-2.png
  package.json
  scripts/check-prerequisites.sh
  scripts/tmux-local-stack.sh
  services/graph-node/.gitignore
  services/graph-node/README.md
  services/graph-node/bin/create
  services/graph-node/bin/debug
  services/graph-node/bin/deploy
  services/graph-node/bin/reassign
  services/graph-node/bin/remove
  services/graph-node/docker-compose.yml
  subgraph/package.json
  subgraph/schema.graphql
  subgraph/scripts/update.sh
  subgraph/src/KlerosCore.ts
  subgraph/src/entities/JurorTokensPerCourt.ts
  subgraph/src/entities/Penalty.ts
  subgraph/src/entities/User.ts
  subgraph/subgraph.yaml
  web/README.md
  web/package.json
  web/scripts/sentry-release.sh
  web/src/app.tsx
  yarn.lock
Labels: Type: Feature🗿, Compatibility: ABI change 🗯, Package: Subgraph Fast Bridge, Package: Contracts Fast Bridge

#762 Natspec reformat and custom tags
  .vscode/contract-decorators.code-snippets
  contracts/src/arbitration/CentralizedArbitrator.sol
  contracts/src/arbitration/IArbitrable.sol
  contracts/src/arbitration/IArbitrator.sol
  contracts/src/arbitration/IDisputeKit.sol
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/KlerosGovernor.sol
  contracts/src/arbitration/PolicyRegistry.sol
  contracts/src/arbitration/arbitrables/ArbitrableExample.sol
  contracts/src/arbitration/arbitrables/ArbitrableExampleEthFee.sol
  contracts/src/arbitration/arbitrables/DisputeResolver.sol
  contracts/src/arbitration/dispute-kits/BaseDisputeKit.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassic.sol
  contracts/src/arbitration/dispute-kits/DisputeKitSybilResistant.sol
  contracts/src/evidence/EvidenceModule.sol
  contracts/src/evidence/IEvidence.sol
  contracts/src/evidence/IMetaEvidence.sol
  contracts/src/evidence/ModeratedEvidenceModule.sol
  contracts/src/gateway/ForeignGateway.sol
  contracts/src/gateway/ForeignGatewayOnGnosis.sol
  contracts/src/gateway/HomeGateway.sol
  contracts/src/gateway/interfaces/IForeignGateway.sol
  contracts/src/gateway/interfaces/IHomeGateway.sol
  contracts/src/gateway/mock/VeaMock.sol
  contracts/src/gateway/single-message/ForeignGatewayOnEthereum.sol
  contracts/src/gateway/single-message/HomeGatewayToEthereum.sol
  contracts/src/gateway/single-message/interfaces/IForeignGatewaySingleMessage.sol
  contracts/src/kleros-v1/interfaces/IArbitrableV1.sol
  contracts/src/kleros-v1/interfaces/IArbitratorV1.sol
  contracts/src/kleros-v1/interfaces/ITokenController.sol
  contracts/src/kleros-v1/kleros-liquid-xdai/WrappedPinakion.sol
  contracts/src/kleros-v1/kleros-liquid-xdai/xKlerosLiquidV2.sol
  contracts/src/kleros-v1/kleros-liquid/KlerosLiquidToV2Governor.sol
  contracts/src/libraries/CappedMath.sol
  contracts/src/libraries/SortitionSumTreeFactory.sol
  contracts/src/libraries/SortitionSumTreeFactoryV2.sol
  contracts/src/rng/BlockhashRNG.sol
  contracts/src/rng/IncrementalNG.sol
  contracts/src/rng/RNG.sol
  contracts/src/rng/RandomizerRNG.sol
Labels: Type: Documentation :books:, Package: Contracts
