Repository kleros/kleros-v2, pull requests merged in 2023-06, with the labels that each got.

#882 chore: subgraph deployment automation
  .github/workflows/deploy-subgraph.yml
  subgraph/README.md
  subgraph/package.json
Labels: Type: Enhancement :sparkles:, Package: Subgraph

#971 Feat(web): update uploadToIPFS netlify function
  .github/workflows/contracts-testing.yml
  package.json
  web/netlify.toml
  web/netlify/functions/uploadToIPFS.ts
  web/package.json
  yarn.lock
Labels: Type: Feature🗿, Package: Web, Package: Backend Storage

#987 feat: added walletconnect styling for themes
  docs/kleros-logo-white.png
  web/src/context/Web3Provider.tsx
Labels: Type: Enhancement :sparkles:, Package: Web

#991 feat(web): voting history if juror voted
  web/src/pages/Cases/CaseDetails/Voting/index.tsx
Labels: Type: Enhancement :sparkles:, Package: Web

#993 Fix(subgraph): ensure user creation on evidence submission
  subgraph/src/DisputeKitClassic.ts
  subgraph/src/KlerosCore.ts
Labels: Type: Bug :bug:, Package: Web

#994 Feat(web): Get cross chain dispute template
  web/package.json
  web/src/components/DisputeCard/index.tsx
  web/src/consts/chains.ts
  web/src/context/Web3Provider.tsx
  web/src/hooks/queries/useDisputeTemplate.ts
  web/src/hooks/queries/useEvidences.ts
  web/src/hooks/useIsCrossChainDispute.ts
  web/src/pages/Cases/CaseDetails/Overview.tsx
  web/wagmi.config.ts
  yarn.lock
Labels: Type: Enhancement :sparkles:, Package: Web

#996 fix: code duplication smell
  web/src/pages/Courts/CourtDetails/Stats.tsx
  web/src/pages/Home/CourtOverview/Stats.tsx
Labels: Type: Enhancement :sparkles:, Package: Web

#988 Feat(web): accept files in evidences
  docs/kleros-logo-white.png
  subgraph/src/DisputeKitClassic.ts
  subgraph/src/KlerosCore.ts
  web/netlify/functions/uploadToIPFS.ts
  web/package.json
  web/src/components/DisputeCard/index.tsx
  web/src/consts/chains.ts
  web/src/consts/index.ts
  web/src/context/Web3Provider.tsx
  web/src/hooks/queries/useDisputeTemplate.ts
  web/src/hooks/queries/useEvidenceGroup.ts
  web/src/hooks/queries/useEvidences.ts
  web/src/hooks/useCoinPrice.tsx
  web/src/hooks/useIsCrossChainDispute.ts
  web/src/pages/Cases/CaseDetails/Evidence/SubmitEvidenceModal.tsx
  web/src/pages/Cases/CaseDetails/Evidence/index.tsx
  web/src/pages/Cases/CaseDetails/Overview.tsx
  web/src/pages/Cases/CaseDetails/Voting/index.tsx
  web/src/pages/Courts/CourtDetails/StakePanel/JurorStakeDisplay.tsx
  web/src/pages/Courts/CourtDetails/Stats.tsx
  web/src/pages/Home/CourtOverview/Stats.tsx
  web/src/utils/uploadFormDataToIPFS.ts
  web/wagmi.config.ts
  yarn.lock
Labels: Type: Enhancement :sparkles:, Package: Web
