Repository kleros/kleros-v2, pull requests merged in 2023-08, with the labels that each got.

#299 feat: auto connect to Estuary / Kleros peers
  bot-pinner/README.md
  bot-pinner/docker-compose.yml
  bot-pinner/src/add_hashes.py
  bot-pinner/src/peers.txt
  bot-pinner/src/tooling.py
  bot-pinner/watchlist/DisputeKitClassic.json
Labels: Type: Feature🗿, Package: Bots, Package: Backend Storage

#1037 feat(subgraph): add fee token to subgraph
  subgraph/schema.graphql
  subgraph/src/KlerosCore.ts
  subgraph/src/entities/FeeToken.ts
  subgraph/src/entities/Round.ts
  subgraph/src/entities/TokenAndEthShift.ts
  subgraph/subgraph.yaml
Labels: Package: Subgraph

#1064 feat: general popup style
  bot-pinner/README.md
  web/.parcelrc
  web/src/assets/svgs/icons/appeal.png
  web/src/assets/svgs/icons/appeal.svg
  web/src/assets/svgs/icons/balance.svg
  web/src/assets/svgs/icons/info-circle.svg
  web/src/assets/svgs/icons/kleros.svg
  web/src/assets/svgs/icons/voted.svg
  web/src/components/DisputeCard/index.tsx
  web/src/components/Popup/Description/Appeal.tsx
  web/src/components/Popup/Description/StakeWithdraw.tsx
  web/src/components/Popup/Description/VoteWithCommit.tsx
  web/src/components/Popup/Description/VoteWithoutCommit.tsx
  web/src/components/Popup/ExtraInfo/StakeWithdrawExtraInfo.tsx
  web/src/components/Popup/ExtraInfo/VoteWithCommitExtraInfo.tsx
  web/src/components/Popup/index.tsx
  web/src/pages/Cases/CaseDetails/Appeal/Classic/Fund.tsx
  web/src/pages/Cases/CaseDetails/Appeal/Classic/index.tsx
  web/src/pages/Cases/CaseDetails/Appeal/index.tsx
  web/src/pages/Cases/CaseDetails/Voting/Classic.tsx
  web/src/pages/Cases/CaseDetails/Voting/index.tsx
  web/src/pages/Courts/CourtDetails/StakePanel/InputDisplay.tsx
  web/src/pages/Courts/CourtDetails/StakePanel/StakeWithdrawButton.tsx
  web/src/pages/Courts/CourtDetails/StakePanel/index.tsx
  web/src/pages/Courts/CourtDetails/index.tsx
  web/src/pages/Dashboard/Courts/CourtCard.tsx
Labels: Type: Enhancement :sparkles:, Package: Web

#1096 Parse Markdown in the voting component
  web/src/pages/Cases/CaseDetails/Voting/Classic.tsx
Labels: Type: Bug :bug:, Package: Web

#1057 Feat(web, subgraph): Performance improvements, code refactor, subgraph add FeeToken
  bot-pinner/README.md
  contracts/scripts/simulations/tasks.ts
  subgraph/schema.graphql
  subgraph/src/DisputeKitClassic.ts
  subgraph/src/KlerosCore.ts
  subgraph/src/entities/ClassicRound.ts
  subgraph/src/entities/FeeToken.ts
  subgraph/src/entities/Round.ts
  subgraph/src/entities/TokenAndEthShift.ts
  subgraph/subgraph.yaml
  web/.parcelrc
  web/package.json
  web/src/assets/svgs/icons/appeal.png
  web/src/assets/svgs/icons/appeal.svg
  web/src/assets/svgs/icons/balance.svg
  web/src/assets/svgs/icons/info-circle.svg
  web/src/assets/svgs/icons/kleros.svg
  web/src/assets/svgs/icons/voted.svg
  web/src/components/DisputeCard/index.tsx
  web/src/components/GradientTokenIcons.tsx
  web/src/components/Popup/Description/Appeal.tsx
  web/src/components/Popup/Description/StakeWithdraw.tsx
  web/src/components/Popup/Description/VoteWithCommit.tsx
  web/src/components/Popup/Description/VoteWithoutCommit.tsx
  web/src/components/Popup/ExtraInfo/StakeWithdrawExtraInfo.tsx
  web/src/components/Popup/ExtraInfo/VoteWithCommitExtraInfo.tsx
  web/src/components/Popup/index.tsx
  web/src/components/Verdict/DisputeTimeline.tsx
  web/src/components/Verdict/FinalDecision.tsx
  web/src/components/Verdict/index.tsx
  web/src/context/Web3Provider.tsx
  web/src/graphql/gql.ts
  web/src/graphql/graphql.ts
  web/src/hooks/queries/useDisputeDetailsQuery.ts
  web/src/hooks/queries/useDisputeTemplate.ts
  web/src/hooks/queries/useJurorBalance.ts
  web/src/hooks/queries/usePNKAllowance.ts
  web/src/hooks/queries/usePNKBalance.ts
  web/src/hooks/queries/useVotingHistory.ts
  web/src/hooks/useCountdown.ts
  web/src/pages/Cases/CaseDetails/Appeal/Classic/Fund.tsx
  web/src/pages/Cases/CaseDetails/Appeal/Classic/index.tsx
  web/src/pages/Cases/CaseDetails/Appeal/index.tsx
  web/src/pages/Cases/CaseDetails/Overview.tsx
  web/src/pages/Cases/CaseDetails/Timeline.tsx
  web/src/pages/Cases/CaseDetails/Voting/Classic.tsx
  web/src/pages/Cases/CaseDetails/Voting/VotingHistory.tsx
  web/src/pages/Cases/CaseDetails/Voting/index.tsx
  web/src/pages/Courts/CourtDetails/StakePanel/InputDisplay.tsx
  web/src/pages/Courts/CourtDetails/StakePanel/JurorStakeDisplay.tsx
  web/src/pages/Courts/CourtDetails/StakePanel/StakeWithdrawButton.tsx
  web/src/pages/Courts/CourtDetails/StakePanel/index.tsx
  web/src/pages/Courts/CourtDetails/index.tsx
  web/src/pages/Dashboard/Courts/CourtCard.tsx
  web/src/pages/Dashboard/JurorInfo/Coherency.tsx
  web/src/pages/Dashboard/JurorInfo/TokenRewards.tsx
Labels: Type: Enhancement :sparkles:, Package: Web

#1115 Added a data mapping field to the DisputeTemplate event
  contracts/deploy/03-vea-mock.ts
  contracts/scripts/console-init-chiado-resolver.ts
  contracts/src/arbitration/DisputeTemplateRegistry.sol
  contracts/src/arbitration/KlerosGovernor.sol
  contracts/src/arbitration/arbitrables/ArbitrableExample.sol
  contracts/src/arbitration/arbitrables/DisputeResolver.sol
  contracts/src/arbitration/evidence/ModeratedEvidenceModule.sol
  contracts/src/arbitration/interfaces/IDisputeTemplateRegistry.sol
  contracts/test/evidence/index.ts
Labels: Type: Enhancement :sparkles:, Compatibility: ABI change 🗯, Package: Contracts

#1134 Web and Subgraph migration to the new Testnet
  .github/workflows/contracts-testing.yml
  .github/workflows/dependabot-automerge.yml
  .github/workflows/dependency-review.yml
  .github/workflows/deploy-bots.yml
  .github/workflows/deploy-subgraph.yml
  .github/workflows/scorecards.yml
  .github/workflows/sentry-release.yml
  bot-pinner/package.json
  contracts/deploy/03-vea-mock.ts
  contracts/package.json
  package.json
  services/graph-node/docker-compose.yml
  subgraph/package.json
  web/package.json
  web/src/components/Popup/Description/VoteWithCommit.tsx
  web/src/components/Popup/Description/VoteWithoutCommit.tsx
  web/src/components/Popup/index.tsx
  web/src/components/Verdict/DisputeTimeline.tsx
  web/src/components/Verdict/FinalDecision.tsx
  web/src/consts/index.ts
  web/src/context/Web3Provider.tsx
  web/src/pages/Cases/CaseDetails/Appeal/Classic/Fund.tsx
  web/src/pages/Cases/CaseDetails/Voting/VotingHistory.tsx
  web/src/pages/Cases/CaseDetails/Voting/index.tsx
  web/src/pages/Courts/CourtDetails/StakePanel/StakeWithdrawButton.tsx
  web/src/pages/Courts/CourtDetails/index.tsx
  web/src/pages/Dashboard/JurorInfo/JurorRewards.tsx
  web/wagmi.config.ts
  yarn.lock
Labels: Type: Enhancement :sparkles:, Package: Web, Package: Subgraph

#1117 fix: dropdowncascader breaks frontend
  web/src/components/CasesDisplay/Search.tsx
Labels: Type: Bug :bug:, Package: Web

#1107 Feat(web): add dispute template previewer
  web/src/app.tsx
  web/src/components/ReactMarkdown.tsx
  web/src/pages/DisputeTemplateView.tsx
Labels: Type: Feature🗿, Package: Web

#1168 fix(web): round-ongoing-info
  web/src/components/Verdict/DisputeTimeline.tsx
Labels: Type: Enhancement :sparkles:, Package: Web, Type: UX

#1175 chore(web): code maintenance and conventions
  web/src/components/CasesDisplay/CasesGrid.tsx
  web/src/components/CasesDisplay/Stats.tsx
  web/src/components/DisputeCard/PeriodBanner.tsx
  web/src/components/EvidenceCard.tsx
  web/src/components/Field.tsx
  web/src/components/Popup/index.tsx
  web/src/components/StatDisplay.tsx
  web/src/layout/Header/navbar/DappList.tsx
  web/src/layout/Header/navbar/Menu/Help.tsx
  web/src/layout/Header/navbar/Product.tsx
  web/src/pages/Cases/CaseDetails/Appeal/Classic/Fund.tsx
  web/src/pages/Cases/CaseDetails/Appeal/Classic/Options/StageOne.tsx
  web/src/pages/Cases/CaseDetails/Appeal/Classic/Options/StageTwo.tsx
  web/src/pages/Cases/CaseDetails/Appeal/Classic/Options/index.tsx
  web/src/pages/Cases/CaseDetails/Appeal/Classic/StageExplainer.tsx
  web/src/pages/Cases/CaseDetails/Appeal/OptionCard.tsx
  web/src/pages/Cases/CaseDetails/Evidence/SubmitEvidenceModal.tsx
  web/src/pages/Cases/CaseDetails/Tabs.tsx
  web/src/pages/Cases/CaseDetails/Timeline.tsx
  web/src/pages/Cases/CaseDetails/Voting/VotingHistory.tsx
  web/src/pages/Cases/CaseDetails/index.tsx
  web/src/pages/Courts/CourtDetails/Description.tsx
  web/src/pages/Courts/CourtDetails/StakePanel/JurorStakeDisplay.tsx
  web/src/pages/Courts/CourtDetails/StakePanel/index.tsx
  web/src/pages/Courts/CourtDetails/index.tsx
  web/src/pages/DisputeTemplateView.tsx
Labels: Type: Maintenance :construction:, Package: Web

#1182 fix(web): round decimals in stats
  cspell.json
  web/src/pages/Courts/CourtDetails/Stats.tsx
  web/src/pages/Home/CourtOverview/Stats.tsx
  web/src/utils/index.ts
Labels: Type: Bug :bug:, Package: Web
