Repository kleros/kleros-v2, pull requests merged in 2024-10, with the labels that each got.

#1700 fix(web): execute-rewards-maintenance-button-logic
  web/src/pages/Cases/CaseDetails/MaintenanceButtons/DistributeRewards.tsx
Labels: Type: Enhancement :sparkles:, Package: Web

#1701 chore(web): update-category-icon
  web/src/assets/svgs/icons/bookmark.svg
Labels: Type: Question :grey_question:, Package: Web, Type: UX

#1671 feat(web): extra statistic on homepage
  subgraph/core/schema.graphql
  subgraph/core/src/KlerosCore.ts
  subgraph/core/src/entities/Court.ts
  subgraph/core/src/entities/JurorTokensPerCourt.ts
  subgraph/package.json
  web/src/assets/svgs/icons/long-arrow-up.svg
  web/src/components/DisputeView/DisputeCardView.tsx
  web/src/components/ExtraStatsDisplay.tsx
  web/src/consts/averageBlockTimeInSeconds.ts
  web/src/hooks/queries/useHomePageBlockQuery.ts
  web/src/hooks/queries/useHomePageExtraStats.ts
  web/src/hooks/queries/useHomePageQuery.ts
  web/src/pages/Home/CourtOverview/ExtraStats.tsx
  web/src/pages/Home/CourtOverview/Header.tsx
  web/src/pages/Home/CourtOverview/index.tsx
  web/tsconfig.json
Labels: Type: Feature🗿, Package: Web

#1707 feat: add staked pnk per court chart, slightly modify skeleton size, …
  web/src/pages/Home/CourtOverview/BarChart.tsx
  web/src/pages/Home/CourtOverview/CasesByCourtsChart.tsx
  web/src/pages/Home/CourtOverview/Chart.tsx
  web/src/pages/Home/CourtOverview/Header.tsx
  web/src/pages/Home/CourtOverview/StakedPNKByCourtsChart.tsx
Labels: Priority: Low, Type: Enhancement :sparkles:, Package: Web

#1708 Add REACT_APP_DEVTOOLS_URL to the court
  web/.env.devnet-neo.public
  web/.env.devnet.public
  web/.env.mainnet-neo.public
  web/.env.testnet.public
  web/src/consts/index.ts
Labels: Type: Enhancement :sparkles:, Package: Web

#1712 Removal of unused court DisputeTemplateView, already replaced by the Dev Tools
  web-devtools/scripts/runEnv.sh
  web/package.json
  web/scripts/runEnv.sh
  web/src/app.tsx
  web/src/components/JSONEditor.tsx
  web/src/layout/Header/navbar/Explore.tsx
  web/src/pages/DisputeTemplateView/FetchDisputeRequestInput.tsx
  web/src/pages/DisputeTemplateView/FetchFromIdInput.tsx
  web/src/pages/DisputeTemplateView/index.tsx
  yarn.lock
Labels: Type: Maintenance :construction:, Package: Web

#1711 Renamed DisputeRequest._arbitrableDisputeID into _arbitratorDisputeID
  contracts/README.md
  contracts/deployments/arbitrum/DisputeResolverNeo.json
  contracts/deployments/arbitrumSepoliaDevnet/ArbitrableExample.json
  contracts/deployments/arbitrumSepoliaDevnet/DisputeResolver.json
  contracts/deployments/arbitrumSepoliaDevnet/DisputeResolverNeo.json
  contracts/deployments/arbitrumSepoliaDevnet/DisputeResolverRuler.json
  contracts/deployments/arbitrumSepoliaDevnet/DisputeResolverUniversity.json
  contracts/deployments/arbitrumSepoliaDevnet/DisputeTemplateRegistry.json
  contracts/deployments/arbitrumSepoliaDevnet/DisputeTemplateRegistry_Implementation.json
  contracts/src/arbitration/interfaces/IArbitrableV2.sol
  contracts/test/evidence/index.ts
  subgraph/package.json
  web-devtools/src/app/(main)/dispute-template/page.tsx
  web/src/hooks/queries/useEvidenceGroup.ts
  web/src/hooks/queries/usePopulatedDisputeData.ts
Labels: Type: Bug :bug:, Package: Contracts

#1687 Atlas integration for file uploads to IPFS
  web/.env.devnet-neo.public
  web/.env.devnet-university.public
  web/.env.devnet.public
  web/.env.local.public
  web/.env.mainnet-neo.public
  web/.env.testnet.public
  web/netlify/functions/uploadToIPFS.ts
  web/netlify/middleware/authMiddleware.ts
  web/src/context/AtlasProvider.tsx
  web/src/pages/Cases/CaseDetails/Evidence/SubmitEvidenceModal.tsx
  web/src/pages/Resolver/Policy/index.tsx
  web/src/utils/atlas/index.ts
  web/src/utils/atlas/uploadToIpfs.ts
Labels: Type: Feature🗿, Package: Web, Package: Backend Storage

#1723 chore(web): abstract-sortition-module-hooks-and-hide-in-university
  web/.gitignore
  web/package.json
  web/src/components/Phase.tsx
  web/src/hooks/useSortitionModule.ts
  web/src/hooks/useSortitionModulePhase.ts
  web/src/pages/Cases/CaseDetails/MaintenanceButtons/DrawButton.tsx
  web/src/pages/Courts/StakeMaintenanceButton/ExecuteDelayedStakeButton.tsx
  web/src/pages/Courts/StakeMaintenanceButton/PassPhaseButton.tsx
  web/src/pages/Courts/TopSearch.tsx
Labels: Type: Bug :bug:, Package: Web

#1716 feat(web-devtools): custom-context-input
  web-devtools/src/app/(main)/dispute-template/CustomContextInputs.tsx
  web-devtools/src/app/(main)/dispute-template/FetchDisputeRequestInput.tsx
  web-devtools/src/app/(main)/dispute-template/page.tsx
  web-devtools/src/components/JSONEditor.tsx
  web-devtools/tsconfig.json
Labels: Type: Feature🗿, Package: Web

#1728 Patches and various version bumps
  .yarn/releases/yarn-4.0.2.cjs
  .yarn/releases/yarn-4.5.1.cjs
  .yarnrc.yml
  contracts/package.json
  kleros-sdk/package.json
  package.json
  subgraph/package.json
  web-devtools/.env.devnet-neo.public
  web-devtools/.env.devnet-university.public
  web-devtools/.env.devnet.public
  web-devtools/.gitignore
  web-devtools/package.json
  web/package.json
  yarn.lock
Labels: Type: Maintenance :construction:, dependencies, Type: Security Patch🛡️, Mend: dependency security vulnerability, Type: Security🛡️

#1727 refactor(web): optimize-session-invalidation
  web/src/context/AtlasProvider.tsx
  web/src/utils/atlas/addUser.ts
  web/src/utils/atlas/updateEmail.ts
  web/src/utils/atlas/uploadToIpfs.ts
Labels: Type: Enhancement :sparkles:, Package: Web

#1699 feat: add four new stat variables, stake simulator
  subgraph/core/schema.graphql
  subgraph/core/src/entities/JurorTokensPerCourt.ts
  subgraph/package.json
  web/src/assets/svgs/icons/arrow-right.svg
  web/src/assets/svgs/icons/chart.svg
  web/src/assets/svgs/icons/clock.svg
  web/src/assets/svgs/icons/dice.svg
  web/src/assets/svgs/icons/dollar.svg
  web/src/assets/svgs/icons/ethereum.svg
  web/src/assets/svgs/icons/law-balance-with-pnk.svg
  web/src/assets/svgs/icons/law-balance.svg
  web/src/assets/svgs/icons/min-stake.svg
  web/src/assets/svgs/icons/pnk-eth.svg
  web/src/assets/svgs/icons/pnk-usd.svg
  web/src/assets/svgs/icons/pnk.svg
  web/src/assets/svgs/icons/redistributed-pnk.svg
  web/src/assets/svgs/icons/rewards-per-pnk.svg
  web/src/assets/svgs/icons/user.svg
  web/src/assets/svgs/icons/vote-stake.svg
  web/src/assets/svgs/icons/votes-per-pnk.svg
  web/src/components/DisputePreview/DisputeContext.tsx
  web/src/components/Divider.tsx
  web/src/components/Popup/Description/SwapSuccess.tsx
  web/src/components/StatDisplay.tsx
  web/src/components/Verdict/FinalDecision.tsx
  web/src/hooks/queries/useCourtDetails.ts
  web/src/hooks/queries/useHomePageBlockQuery.ts
  web/src/hooks/queries/useJurorStakeDetailsQuery.ts
  web/src/pages/Cases/CaseDetails/Overview/index.tsx
  web/src/pages/Courts/CourtDetails/Info.tsx
  web/src/pages/Courts/CourtDetails/StakePanel/InputDisplay.tsx
  web/src/pages/Courts/CourtDetails/StakePanel/JurorStakeDisplay.tsx
  web/src/pages/Courts/CourtDetails/StakePanel/SimulatorPopup/Header.tsx
  web/src/pages/Courts/CourtDetails/StakePanel/SimulatorPopup/QuantityToSimulate.tsx
  web/src/pages/Courts/CourtDetails/StakePanel/SimulatorPopup/index.tsx
  web/src/pages/Courts/CourtDetails/StakePanel/index.tsx
  web/src/pages/Courts/CourtDetails/Stats.tsx
  web/src/pages/Courts/CourtDetails/index.tsx
  web/src/pages/Resolver/Preview/index.tsx
  web/src/utils/beautifyStatNumber.ts
  web/src/utils/calculateSubtextRender.tsx
Labels: Type: Enhancement :sparkles:, Package: Web
