Repository kleros/kleros-v2, pull requests merged in 2024-02, with the labels that each got.

#1466 feat(web): add-toast-for-graph-and-rpc-errors
  web/src/components/DisputeCard/index.tsx
  web/src/components/DisputePreview/DisputeContext.tsx
  web/src/consts/index.ts
  web/src/hooks/queries/usePopulatedDisputeData.ts
  web/src/hooks/useIsCrossChainDispute.ts
  web/src/pages/Cases/CaseDetails/Overview/index.tsx
  web/src/pages/Cases/CaseDetails/Voting/VotingHistory.tsx
  web/src/utils/debounceErrorToast.ts
  web/src/utils/graphqlQueryFnHelper.ts
Labels: Package: Web, Type: UX

#1477 feat(web): improve votinghistory styling, show cards instead of accordions
  web/src/pages/Cases/CaseDetails/Voting/PendingVotesBox.tsx
  web/src/pages/Cases/CaseDetails/Voting/VotesDetails/AccordionTitle.tsx
  web/src/pages/Cases/CaseDetails/Voting/VotesDetails/index.tsx
  web/src/pages/Cases/CaseDetails/Voting/index.tsx
Labels: Type: Feature🗿, Package: Web

#1478 feat(sdk): mimic data mapping context input as mustache syntax
  kleros-sdk/src/dataMappings/utils/replacePlaceholdersWithValues.ts
Labels: Type: Feature🗿, Package: SDK

#1503 Get PNK page - UI
  web/src/app.tsx
  web/src/assets/svgs/icons/arrow.svg
  web/src/assets/svgs/icons/clock.svg
  web/src/assets/svgs/icons/close.svg
  web/src/assets/svgs/icons/down-arrow.svg
  web/src/assets/svgs/icons/faucet.svg
  web/src/assets/svgs/icons/gas.svg
  web/src/assets/svgs/icons/spinner.svg
  web/src/assets/svgs/tokens/arbitrum.svg
  web/src/assets/svgs/tokens/dai.svg
  web/src/assets/svgs/tokens/eth.svg
  web/src/assets/svgs/tokens/gnosis.svg
  web/src/assets/svgs/tokens/optimism.svg
  web/src/assets/svgs/tokens/pnk.svg
  web/src/assets/svgs/tokens/polygon.svg
  web/src/assets/svgs/tokens/usdc.svg
  web/src/components/ClaimPnkButton.tsx
  web/src/components/ConnectWallet/index.tsx
  web/src/components/EnsureChain.tsx
  web/src/components/NumberInputField.tsx
  web/src/components/Popup/Description/SwapSuccess.tsx
  web/src/components/Popup/index.tsx
  web/src/consts/index.ts
  web/src/layout/Header/index.tsx
  web/src/layout/Header/navbar/Explore.tsx
  web/src/pages/Courts/CourtDetails/index.tsx
  web/src/pages/GetPnk/Header.tsx
  web/src/pages/GetPnk/Settings/index.tsx
  web/src/pages/GetPnk/StyledDropdown.tsx
  web/src/pages/GetPnk/Swap/Cards/FromCard.tsx
  web/src/pages/GetPnk/Swap/Cards/SwapDetails.tsx
  web/src/pages/GetPnk/Swap/Cards/ToCard.tsx
  web/src/pages/GetPnk/Swap/ChainSelect.tsx
  web/src/pages/GetPnk/Swap/NumberInput.tsx
  web/src/pages/GetPnk/Swap/TokenSelect.tsx
  web/src/pages/GetPnk/Swap/index.tsx
  web/src/pages/GetPnk/index.tsx
Labels: Type: Feature🗿, Package: Web, Type: UX

#1516 Core: support for more generic rewards calculations (future-proofing)
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassic.sol
  contracts/src/arbitration/dispute-kits/DisputeKitSybilResistant.sol
  contracts/src/arbitration/interfaces/IDisputeKit.sol
Labels: Type: Enhancement :sparkles:, Compatibility: ABI change 🗯, Package: Contracts
