Repository kleros/kleros-v2, pull requests merged in 2024-05, with the labels that each got.

#1572 fix(web): siwe-uri-check
  web/netlify/functions/authUser.ts
  web/scripts/generateBuildInfo.sh
Labels: Type: Bug :bug:, Package: Web

#1581 fix: removed unused variable
  web/netlify/functions/uploadToIPFS.ts
  web/src/utils/uploadFormDataToIPFS.ts
Labels: Type: Maintenance :construction:, Package: Web

#1593 feat(web): add-authentication-to-file-uploads
  web/netlify/functions/uploadToIPFS.ts
  web/src/pages/Cases/CaseDetails/Evidence/SubmitEvidenceModal.tsx
  web/src/pages/Resolver/index.tsx
  web/src/utils/uploadFormDataToIPFS.ts
Labels: Type: Enhancement :sparkles:, Package: Web, Type: Security🛡️, Package: Backend Storage
