Repository kleros/kleros-v2, pull requests merged in 2024-11, with the labels that each got.

#1618 fix(Governor): remove CappedMath and tx order
  contracts/src/arbitration/KlerosGovernor.sol
Labels: Type: Enhancement :sparkles:, Package: Contracts

#1620 Chore(hardhat)/hardhat ether version update
  .github/workflows/contracts-testing.yml
  contracts/deploy/00-home-chain-arbitration-neo.ts
  contracts/deploy/00-home-chain-arbitration-ruler.ts
  contracts/deploy/00-home-chain-arbitration-university.ts
  contracts/deploy/00-home-chain-arbitration.ts
  contracts/deploy/00-home-chain-pnk-faucet.ts
  contracts/deploy/01-foreign-gateway-on-ethereum.ts
  contracts/deploy/01-foreign-gateway-on-gnosis.ts
  contracts/deploy/02-home-gateway-to-ethereum.ts
  contracts/deploy/03-vea-mock.ts
  contracts/deploy/04-foreign-arbitrable.ts
  contracts/deploy/04-klerosliquid-to-v2-gnosis.ts
  contracts/deploy/05-arbitrable-dispute-template.ts
  contracts/deploy/fix1148.ts
  contracts/deploy/upgrade-kleros-core.ts
  contracts/deploy/utils/deployTokens.ts
  contracts/deploy/utils/getContractOrDeploy.ts
  contracts/deploy/utils/index.ts
  contracts/deploy/utils/klerosCoreHelper.ts
  contracts/package.json
  contracts/scripts/deploy.ts
  contracts/scripts/disputeCreatorBot.ts
  contracts/scripts/getCourtsV1.ts
  contracts/scripts/getPoliciesV1.ts
  contracts/scripts/keeperBot.ts
  contracts/scripts/populateCourts.ts
  contracts/scripts/simulations/tasks.ts
  contracts/scripts/simulations/utils.ts
  contracts/scripts/viemTest.ts
  contracts/src/arbitration/arbitrables/ArbitrableExample.sol
  contracts/test/arbitration/draw.ts
  contracts/test/arbitration/index.ts
  contracts/test/arbitration/ruler.ts
  contracts/test/arbitration/staking-neo.ts
  contracts/test/arbitration/staking.ts
  contracts/test/evidence/index.ts
  contracts/test/integration/index.ts
  contracts/test/proxy/index.ts
  contracts/test/rng/index.ts
  contracts/tsconfig.json
  kleros-sdk/package.json
  yarn.lock
Labels: Type: Maintenance :construction:, Package: Contracts

#1739 feat(web): show-coherency-percencentage-instead-of-ratio
  web/src/pages/Home/TopJurors/Header/Coherency.tsx
  web/src/pages/Home/TopJurors/JurorCard/Coherency.tsx
Labels: Type: Feature🗿, Package: Web

#1744 Fix/stake simulator
  web/.env.devnet-neo.public
  web/.env.devnet-university.public
  web/.env.devnet.public
  web/.env.mainnet-neo.public
  web/.env.testnet.public
  web/package.json
  web/src/consts/index.ts
  web/src/consts/processEnvConsts.ts
  web/src/hooks/queries/useHomePageBlockQuery.ts
  web/src/hooks/useGenesisBlock.ts
  yarn.lock
Labels: Type: Bug :bug:, Package: Web

#1746 Neo config and keeper bot
  contracts/config/courts.v2.mainnet-neo.json
  contracts/config/policies.v2.mainnet-neo.json
  contracts/deploy/00-home-chain-arbitration.ts
  contracts/scripts/keeperBot.ts
Labels: Type: Feature🗿, Package: Contracts

#1757 Chore/eslint and more version bump
  bot-pinner/package.json
  contracts/package.json
  eslint-config/package.json
  kleros-app/package.json
  kleros-sdk/package.json
  package.json
  prettier-config/package.json
  subgraph/package.json
  tsconfig/package.json
  web-devtools/eslint.config.mjs
  web-devtools/package.json
  web-devtools/src/app/(main)/dispute-template/FetchDisputeRequestInput.tsx
  web-devtools/src/app/(main)/dispute-template/FetchFromIdInput.tsx
  web-devtools/src/layout/Header/navbar/Explore.tsx
  web-devtools/src/layout/Header/navbar/index.tsx
  web-devtools/src/styles/landscapeStyle.ts
  web-devtools/tsconfig.json
  web-devtools/wagmi.config.ts
  web/package.json
  yarn.lock
Labels: Type: Maintenance :construction:, Type: Toolchain ⚒️, Type: Evaluation / Experimental 🧪

#1754 feat: UX & UI impros in various places (evidence cards, voting cards, case overview, top jurors)
  subgraph/core/schema.graphql
  subgraph/core/src/EvidenceModule.ts
  subgraph/package.json
  web/src/assets/svgs/icons/calendar.svg
  web/src/assets/svgs/icons/law-balance.svg
  web/src/components/DisputePreview/Policies.tsx
  web/src/components/DisputeView/DisputeInfo/DisputeInfoCard.tsx
  web/src/components/EvidenceCard.tsx
  web/src/components/Field.tsx
  web/src/hooks/queries/useEvidences.ts
  web/src/hooks/useScrollTop.ts
  web/src/layout/Header/navbar/DappList.tsx
  web/src/pages/Cases/AttachmentDisplay/Header.tsx
  web/src/pages/Cases/AttachmentDisplay/index.tsx
  web/src/pages/Cases/CaseDetails/Evidence/index.tsx
  web/src/pages/Cases/CaseDetails/Voting/VotesDetails/AccordionTitle.tsx
  web/src/pages/Cases/index.tsx
  web/src/pages/Home/TopJurors/JurorCard/JurorTitle.tsx
Labels: Type: Enhancement :sparkles:, Package: Web

#1759 Refactor/UI ux improvements
  web/src/components/ClaimPnkButton.tsx
  web/src/components/Popup/index.tsx
  web/src/pages/Cases/CaseDetails/Appeal/Classic/Fund.tsx
  web/src/pages/Cases/CaseDetails/Evidence/SubmitEvidenceModal.tsx
  web/src/pages/Courts/CourtDetails/StakePanel/InputDisplay.tsx
  web/src/pages/Courts/CourtDetails/StakePanel/StakeWithdrawButton.tsx
  web/src/pages/Resolver/NavigationButtons/SubmitDisputeButton.tsx
Labels: Priority: Critical :fire:, Type: Enhancement :sparkles:, Package: Web

#1760 feat: UX improvements
  web/src/components/CasesDisplay/index.tsx
  web/src/components/DisputeView/DisputeCardView.tsx
  web/src/components/DisputeView/DisputeListView.tsx
  web/src/components/Field.tsx
  web/src/components/ScrollTop.tsx
  web/src/pages/Cases/AttachmentDisplay/index.tsx
  web/src/pages/Cases/CaseDetails/index.tsx
  web/src/pages/Cases/CasesFetcher.tsx
  web/src/pages/Courts/CourtDetails/index.tsx
  web/src/pages/Dashboard/Courts/CourtCard/CourtName.tsx
  web/src/pages/Dashboard/index.tsx
  web/src/pages/GetPnk/index.tsx
  web/src/pages/Home/CourtOverview/Header.tsx
  web/src/pages/Home/index.tsx
  web/src/pages/Resolver/index.tsx
  web/src/pages/Settings/EmailConfirmation/index.tsx
Labels: Type: Enhancement :sparkles:, Package: Web, Type: UX
