Repository kleros/kleros-v2, pull requests merged in 2024-06, with the labels that each got.

#1613 Feat/evidence attachment display
  web/package.json
  web/src/assets/svgs/icons/arrow-left.svg
  web/src/assets/svgs/icons/new-tab.svg
  web/src/components/EvidenceCard.tsx
  web/src/components/FileViewer/Viewers/MarkdownViewer.tsx
  web/src/components/FileViewer/index.tsx
  web/src/components/Loader.tsx
  web/src/hooks/queries/useEvidences.ts
  web/src/layout/Header/index.tsx
  web/src/pages/Cases/AttachmentDisplay/Header.tsx
  web/src/pages/Cases/AttachmentDisplay/index.tsx
  web/src/pages/Cases/index.tsx
  web/src/styles/customScrollbar.ts
  web/src/styles/global-style.ts
  yarn.lock
Labels: Type: Feature🗿, Type: UX

#1622 refactor(web): refactor-date-and-file-viewer-styles
  web/src/components/EvidenceCard.tsx
  web/src/components/FileViewer/index.tsx
  web/src/utils/date.ts
Labels: Type: Enhancement :sparkles:, Package: Web

#1619 chore(sdk): making the curate v2 mappings work
  kleros-sdk/src/dataMappings/actions/jsonAction.ts
  kleros-sdk/src/dataMappings/executeActions.ts
  kleros-sdk/src/dataMappings/utils/createResultObject.ts
  kleros-sdk/src/dataMappings/utils/replacePlaceholdersWithValues.ts
Labels: Type: Enhancement :sparkles:, Package: SDK

#1631 fix(web): link-behaviour-in-dispute-card
  web/src/components/Field.tsx
Labels: Type: Bug :bug:, Package: Web

#1624 fix(web): prevent app crash when decimal input is <1 & fixed integer overflow
  web/src/utils/commify.ts
Labels: Type: Bug :bug:, Package: Web

#1626 fix(web): show connect button when user is not connected
  web/src/components/EnsureChain.tsx
Labels: Type: Enhancement :sparkles:, Package: Web

#1625 fix(web): prevent app crash while searching cases
  web/src/utils/uri.ts
Labels: Type: Bug :bug:, Package: Web

#1632 fix(web): prevent long text overflow
  web/src/components/DisputePreview/Alias.tsx
  web/src/components/DisputePreview/DisputeContext.tsx
  web/src/components/DisputeView/DisputeInfo/DisputeInfoCard.tsx
  web/src/components/DisputeView/DisputeInfo/DisputeInfoList.tsx
  web/src/components/Field.tsx
  web/src/pages/Cases/CaseDetails/Appeal/OptionCard.tsx
  web/src/pages/Cases/CaseDetails/Voting/VotingHistory.tsx
Labels: Type: Enhancement :sparkles:, Package: Web
