Repository kleros/kleros-v2, pull requests merged in 2024-12, with the labels that each got.

#1770 Feat/error page
  web/package.json
  web/src/app.tsx
  web/src/components/ErrorFallback.tsx
  yarn.lock
Labels: Type: Enhancement :sparkles:, Package: Web

#1780 refactor(web): charts-improvements
  web/src/pages/Home/CourtOverview/BarChart.tsx
  web/src/pages/Home/CourtOverview/Chart.tsx
  web/src/pages/Home/CourtOverview/TimeSeriesChart.tsx
Labels: Type: Enhancement :sparkles:, Package: Web, Type: UX

#1790 chore: nitpick space in v2 beta disputes
  web/src/components/DisputePreview/DisputeContext.tsx
Labels: Type: Maintenance :construction:, Package: Web

#1795 Devtools build fix
  kleros-sdk/src/dataMappings/utils/populateTemplate.ts
  web-devtools/package.json
  yarn.lock
Labels: Type: Maintenance :construction:, Type: Toolchain ⚒️

#1801 Release v2-testnet-4.0.2
  web/package.json
  web/src/assets/svgs/icons/star.svg
  web/src/components/CaseStarButton.tsx
  web/src/components/CasesDisplay/Filters.tsx
  web/src/components/CasesDisplay/Search.tsx
  web/src/components/CasesDisplay/StatsAndFilters.tsx
  web/src/components/CasesDisplay/index.tsx
  web/src/components/DisputePreview/Policies.tsx
  web/src/components/DisputeView/DisputeCardView.tsx
  web/src/components/DisputeView/DisputeListView.tsx
  web/src/components/DottedMenuButton.tsx
  web/src/components/EvidenceCard.tsx
  web/src/components/ExtraStatsDisplay.tsx
  web/src/components/FavoriteCases.tsx
  web/src/components/HowItWorks.tsx
  web/src/components/LatestCases.tsx
  web/src/components/LightButton.tsx
  web/src/favicon.ico
  web/src/hooks/useStarredCases.tsx
  web/src/layout/Footer/index.tsx
  web/src/layout/Header/Logo.tsx
  web/src/pages/Cases/CaseDetails/Appeal/OptionCard.tsx
  web/src/pages/Cases/CaseDetails/Tabs.tsx
  web/src/pages/Cases/CaseDetails/Timeline.tsx
  web/src/pages/Cases/CaseDetails/Voting/VotesDetails/index.tsx
  web/src/pages/Cases/CaseDetails/index.tsx
  web/src/pages/Cases/index.tsx
  web/src/pages/Courts/CourtDetails/StakePanel/InputDisplay.tsx
  web/src/pages/Courts/CourtDetails/StakePanel/StakeWithdrawButton.tsx
  web/src/pages/Courts/CourtDetails/StakePanel/StakeWithdrawPopup/index.tsx
  web/src/pages/Courts/CourtDetails/Stats.tsx
  web/src/pages/Courts/CourtDetails/index.tsx
  web/src/pages/Courts/index.tsx
  web/src/pages/Dashboard/Courts/Header.tsx
  web/src/pages/Dashboard/Courts/index.tsx
  web/src/pages/Dashboard/JurorInfo/Header.tsx
  web/src/pages/Dashboard/index.tsx
  web/src/pages/GetPnk/index.tsx
  web/src/pages/Home/Community/index.tsx
  web/src/pages/Home/CourtOverview/Chart.tsx
  web/src/pages/Home/CourtOverview/ExtraStats.tsx
  web/src/pages/Home/CourtOverview/Header.tsx
  web/src/pages/Home/TopJurors/index.tsx
  web/src/pages/Home/index.tsx
  web/src/styles/commonStyles.ts
  web/src/styles/themes.ts
  yarn.lock
Labels: Type: Maintenance :construction:

#1803 Release v2-testnet-4.0.3
  web-devtools/package.json
  web-devtools/src/app/(main)/(homepage)/page.tsx
  web/package.json
  web/src/assets/svgs/hero/hero-darkmode-desktop.svg
  web/src/assets/svgs/hero/hero-darkmode-mobile.svg
  web/src/components/CasesDisplay/index.tsx
  web/src/components/DisputePreview/DisputeContext.tsx
  web/src/components/DisputePreview/Policies.tsx
  web/src/components/DisputeView/DisputeCardView.tsx
  web/src/components/DisputeView/PeriodBanner.tsx
  web/src/components/EvidenceCard.tsx
  web/src/components/FavoriteCases.tsx
  web/src/components/LatestCases.tsx
  web/src/components/OverlayPortal.tsx
  web/src/components/Verdict/Answer.tsx
  web/src/components/Verdict/FinalDecision.tsx
  web/src/components/Verdict/index.tsx
  web/src/layout/Footer/index.tsx
  web/src/layout/Header/DesktopHeader.tsx
  web/src/layout/Header/index.tsx
  web/src/layout/Header/navbar/index.tsx
  web/src/pages/Cases/AttachmentDisplay/Header.tsx
  web/src/pages/Cases/CaseDetails/Appeal/OptionCard.tsx
  web/src/pages/Cases/CaseDetails/Appeal/index.tsx
  web/src/pages/Cases/CaseDetails/Evidence/index.tsx
  web/src/pages/Cases/CaseDetails/Overview/index.tsx
  web/src/pages/Cases/CaseDetails/Tabs.tsx
  web/src/pages/Cases/CaseDetails/Timeline.tsx
  web/src/pages/Cases/CaseDetails/Voting/VotesDetails/index.tsx
  web/src/pages/Cases/CaseDetails/Voting/VotingHistory.tsx
  web/src/pages/Cases/CaseDetails/Voting/index.tsx
  web/src/pages/Cases/CaseDetails/index.tsx
  web/src/pages/Cases/index.tsx
  web/src/pages/Courts/CourtDetails/Description.tsx
  web/src/pages/Courts/CourtDetails/StakePanel/Simulator/index.tsx
  web/src/pages/Courts/CourtDetails/Stats.tsx
  web/src/pages/Courts/CourtDetails/index.tsx
  web/src/pages/Courts/index.tsx
  web/src/pages/Dashboard/Courts/Header.tsx
  web/src/pages/Dashboard/Courts/index.tsx
  web/src/pages/Dashboard/JurorInfo/Header.tsx
  web/src/pages/Dashboard/index.tsx
  web/src/pages/GetPnk/index.tsx
  web/src/pages/Home/Community/index.tsx
  web/src/pages/Home/CourtOverview/ExtraStats.tsx
  web/src/pages/Home/CourtOverview/Header.tsx
  web/src/pages/Home/CourtOverview/Stats.tsx
  web/src/pages/Home/TopJurors/Header/MobileHeader.tsx
  web/src/pages/Home/TopJurors/JurorCard/MobileCard.tsx
  web/src/pages/Home/TopJurors/index.tsx
  web/src/pages/Home/index.tsx
  web/src/styles/global-style.ts
  web/tsconfig.json
  yarn.lock
Labels: Type: Maintenance :construction:
