Repository kleros/kleros-v2, pull requests merged in 2024-08, with the labels that each got.

#1666 Links to specific mini-guides
  web/src/components/Popup/MiniGuides/MainStructureTemplate.tsx
  web/src/layout/Header/DesktopHeader.tsx
Labels: Type: Feature🗿, Package: Web

#1645 feat(web): dispute-maintenance-buttons
  contracts/README.md
  contracts/deploy/00-transaction-batcher.ts
  contracts/deployments/arbitrum/TransactionBatcher.json
  contracts/deployments/arbitrumSepoliaDevnet/TransactionBatcher.json
  contracts/src/utils/TransactionBatcher.sol
  subgraph/core/schema.graphql
  subgraph/core/src/DisputeKitClassic.ts
  subgraph/core/src/KlerosCore.ts
  subgraph/core/src/entities/ClassicRound.ts
  subgraph/core/src/entities/Round.ts
  web/src/assets/svgs/icons/dotted-menu.svg
  web/src/hooks/queries/useClassicAppealQuery.ts
  web/src/hooks/queries/useDisputeDetailsQuery.ts
  web/src/hooks/queries/useDisputeMaintenanceQuery.ts
  web/src/hooks/useTransactionBatcher.tsx
  web/src/pages/Cases/CaseDetails/MaintenanceButtons/DistributeRewards.tsx
  web/src/pages/Cases/CaseDetails/MaintenanceButtons/DrawButton.tsx
  web/src/pages/Cases/CaseDetails/MaintenanceButtons/ExecuteRuling.tsx
  web/src/pages/Cases/CaseDetails/MaintenanceButtons/MenuButton.tsx
  web/src/pages/Cases/CaseDetails/MaintenanceButtons/PassPeriodButton.tsx
  web/src/pages/Cases/CaseDetails/MaintenanceButtons/WithdrawAppealFees.tsx
  web/src/pages/Cases/CaseDetails/MaintenanceButtons/index.tsx
  web/src/pages/Cases/CaseDetails/index.tsx
  web/src/utils/getLocalRounds.ts
Labels: Type: Feature🗿, Package: Web, Status: UX/Design needed 🎨

#1668 Maintenance buttons at arbitrator-level
  subgraph/package.json
  web/src/components/DottedMenuButton.tsx
  web/src/components/Phase.tsx
  web/src/layout/Header/navbar/Debug.tsx
  web/src/pages/Cases/CaseDetails/MaintenanceButtons/PassPeriodButton.tsx
  web/src/pages/Cases/CaseDetails/MaintenanceButtons/WithdrawAppealFees.tsx
  web/src/pages/Cases/CaseDetails/MaintenanceButtons/index.tsx
  web/src/pages/Courts/StakeMaintenanceButton/ExecuteDelayedStakeButton.tsx
  web/src/pages/Courts/StakeMaintenanceButton/PassPhaseButton.tsx
  web/src/pages/Courts/StakeMaintenanceButton/index.tsx
  web/src/pages/Courts/TopSearch.tsx
Labels: Type: Feature🗿, Package: Web

#1517 Ruler (aka the centralized arbitrator) - Contract only
  contracts/deploy/00-home-chain-arbitration-ruler.ts
  contracts/src/arbitration/arbitrables/DisputeResolver.sol
  contracts/src/arbitration/devtools/DisputeResolverRuler.sol
  contracts/src/arbitration/devtools/KlerosCoreRuler.sol
  contracts/test/arbitration/ruler.ts
Labels: Type: Feature🗿, Type: Epic 🐉, Package: Contracts

#1674 refactor(web): improve-draw-maintenance-button
  web/src/pages/Cases/CaseDetails/MaintenanceButtons/DrawButton.tsx
Labels: Type: Enhancement :sparkles:, Package: Web

#1676 feat(web): ruling-and-rewards-indicators
  web/src/hooks/queries/useVotingHistory.ts
  web/src/pages/Cases/CaseDetails/Voting/RulingAndRewardsIndicators.tsx
  web/src/pages/Cases/CaseDetails/Voting/VotesDetails/AccordionTitle.tsx
  web/src/pages/Cases/CaseDetails/Voting/VotesDetails/index.tsx
  web/src/pages/Cases/CaseDetails/Voting/VotingHistory.tsx
Labels: Type: Feature🗿, Package: Web
