Repository kleros/kleros-v2, pull requests merged in 2024-07, with the labels that each got.

#1506 feat(web): use code splitting
  web/src/app.tsx
  web/src/components/Loader.tsx
  web/src/layout/index.tsx
Labels: Type: Enhancement :sparkles:, Package: Web

#1636 feat: resolver miniguides
  web/package.json
  web/src/assets/svgs/mini-guides/dispute-resolver/parameters.svg
  web/src/assets/svgs/mini-guides/dispute-resolver/parties.svg
  web/src/assets/svgs/mini-guides/dispute-resolver/policy.svg
  web/src/assets/svgs/mini-guides/dispute-resolver/start-a-case.svg
  web/src/assets/svgs/mini-guides/dispute-resolver/voting-options.svg
  web/src/assets/svgs/mini-guides/dispute-resolver/well-done.svg
  web/src/components/Popup/MiniGuides/DisputeResolver/Parameters.tsx
  web/src/components/Popup/MiniGuides/DisputeResolver/Parties.tsx
  web/src/components/Popup/MiniGuides/DisputeResolver/Policy.tsx
  web/src/components/Popup/MiniGuides/DisputeResolver/StartACase.tsx
  web/src/components/Popup/MiniGuides/DisputeResolver/VotingOptions.tsx
  web/src/components/Popup/MiniGuides/DisputeResolver/WellDone.tsx
  web/src/components/Popup/MiniGuides/DisputeResolver/index.tsx
  web/src/components/Popup/MiniGuides/JurorLevels.tsx
  web/src/components/Popup/MiniGuides/MainStructureTemplate.tsx
  web/src/components/Popup/MiniGuides/Onboarding/index.tsx
  web/src/components/Popup/MiniGuides/PageContentsTemplate.tsx
  web/src/pages/Resolver/Briefing/Title.tsx
  web/src/pages/Resolver/Parameters/Category.tsx
  web/src/pages/Resolver/Parameters/Court.tsx
  web/src/pages/Resolver/Parameters/Jurors.tsx
  web/src/pages/Resolver/Policy/index.tsx
  web/src/pages/Resolver/Timeline.tsx
  web/src/pages/Resolver/index.tsx
  yarn.lock
Labels: Type: Feature🗿, Package: Web, Type: UX, Status: UX/Design needed 🎨

#1638 Fix for the Alchemy URL and SIWE verification for ERC-1271
  web/netlify/functions/authUser.ts
  web/src/consts/chains.ts
  web/src/context/Web3Provider.tsx
Labels: Type: Bug :bug:, Package: Web

#1646 Fix(web): conditionally choose gnosis or chiado
  web/src/consts/chains.ts
Labels: Type: Bug :bug:, Package: Web

#1659 Fix: signature regex for multisig accounts
  web/src/consts/processEnvConsts.ts
Labels: Type: Feature🗿, Package: Web

#1647 Refactor/dispute resolver
  web/src/context/NewDisputeContext.tsx
  web/src/pages/Resolver/NavigationButtons/NextButton.tsx
  web/src/pages/Resolver/NavigationButtons/SubmitDisputeButton.tsx
  web/src/pages/Resolver/Parameters/NotablePersons/index.tsx
  web/src/pages/Resolver/Parameters/VotingOptions/OptionsFields.tsx
  web/src/pages/Resolver/index.tsx
Labels: Type: Enhancement :sparkles:, Package: Web

#1627 fix(web): fix-dispute-template-presets-in-dev-ui
  web/src/pages/DisputeTemplateView/FetchDisputeRequestInput.tsx
  web/src/utils/getDisputeRequestParamsFromTxn.ts
Labels: Type: Bug :bug:, Package: Web

#1656 Dev tools: dispute template preview and ruler ui
  package.json
  web-devtools/.env.local.example
  web-devtools/.eslintignore
  web-devtools/codegen.ts
  web-devtools/next.config.mjs
  web-devtools/package.json
  web-devtools/scripts/runEnv.sh
  web-devtools/src/app/(main)/dispute-template/FetchDisputeRequestInput.tsx
  web-devtools/src/app/(main)/dispute-template/FetchFromIdInput.tsx
  web-devtools/src/app/(main)/dispute-template/page.tsx
  web-devtools/src/app/(main)/layout.tsx
  web-devtools/src/app/(main)/page.tsx
  web-devtools/src/assets/svgs/icons/policy.svg
  web-devtools/src/components/JSONEditor.tsx
  web-devtools/src/components/ReactMarkdown.tsx
  web-devtools/src/consts/arbitratorTypes.ts
  web-devtools/src/consts/chains.ts
  web-devtools/src/consts/index.ts
  web-devtools/src/context/GraphqlBatcher.tsx
  web-devtools/src/hooks/queries/useDisputeTemplateFromId.ts
  web-devtools/src/utils/debounceErrorToast.ts
  web-devtools/src/utils/getDisputeRequestParamsFromTxn.ts
  web-devtools/src/utils/getGraphqlUrl.ts
  web-devtools/src/utils/getIpfsUrl.ts
  web-devtools/src/utils/wagmiConfig.ts
  web-devtools/src/utils/wrapWithToast.ts
  web-devtools/tsconfig.json
  web-devtools/wagmi.config.ts
  web/src/assets/svgs/icons/code.svg
  web/src/consts/index.ts
  web/src/layout/Header/navbar/Menu/Help.tsx
  yarn.lock
Labels: Type: Feature🗿, Package: Web
