Repository kleros/kleros-v2, pull requests merged in 2025-09, with the labels that each got.

#2113 Sortition trees extracted to a library
  contracts/CHANGELOG.md
  contracts/src/arbitration/KlerosCoreBase.sol
  contracts/src/arbitration/SortitionModuleBase.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassicBase.sol
  contracts/src/arbitration/interfaces/ISortitionModule.sol
  contracts/src/arbitration/university/SortitionModuleUniversity.sol
  contracts/src/libraries/SortitionTrees.sol
  contracts/src/test/SortitionModuleMock.sol
  contracts/src/test/SortitionTreesMock.sol
  contracts/test/sortition/index.ts
Labels: Type: Enhancement :sparkles:, Compatibility: ABI change 🗯, Package: Contracts

#2100 Support for recovery hash in Shutter DK
  .github/workflows/contracts-testing.yml
  contracts/CHANGELOG.md
  contracts/foundry.toml
  contracts/hardhat.config.ts
  contracts/src/arbitration/dispute-kits/DisputeKitClassicBase.sol
  contracts/src/arbitration/dispute-kits/DisputeKitGatedShutter.sol
  contracts/src/arbitration/dispute-kits/DisputeKitShutter.sol
  contracts/test/arbitration/dispute-kit-shutter.ts
Labels: Type: Feature🗿, Compatibility: ABI change 🗯, Package: Contracts, Storage layout incompatibility ⚠️

#2125 Proxy contracts reset of the version and initializers ahead of the migration
  contracts/deploy/upgrade-all.ts
  contracts/src/arbitration/DisputeTemplateRegistry.sol
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/KlerosCoreNeo.sol
  contracts/src/arbitration/PolicyRegistry.sol
  contracts/src/arbitration/SortitionModule.sol
  contracts/src/arbitration/SortitionModuleNeo.sol
  contracts/src/arbitration/devtools/KlerosCoreRuler.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassic.sol
  contracts/src/arbitration/dispute-kits/DisputeKitGated.sol
  contracts/src/arbitration/dispute-kits/DisputeKitGatedShutter.sol
  contracts/src/arbitration/dispute-kits/DisputeKitShutter.sol
  contracts/src/arbitration/dispute-kits/DisputeKitSybilResistant.sol
  contracts/src/arbitration/evidence/EvidenceModule.sol
  contracts/src/arbitration/university/KlerosCoreUniversity.sol
  contracts/src/arbitration/university/SortitionModuleUniversity.sol
  contracts/src/gateway/ForeignGateway.sol
  contracts/src/gateway/HomeGateway.sol
  contracts/src/proxy/Initializable.sol
  contracts/src/proxy/mock/by-inheritance/UpgradedByInheritance.sol
  contracts/src/proxy/mock/by-rewrite/UpgradedByRewrite.sol
Labels: Type: Enhancement :sparkles:, Package: Contracts

#2138 University redeploy
  contracts/README.md
  contracts/deploy/00-home-chain-arbitration-university.ts
  contracts/deployments/arbitrumSepoliaDevnet.ts
  contracts/deployments/arbitrumSepoliaDevnet/DisputeKitClassicUniversity.json
  contracts/deployments/arbitrumSepoliaDevnet/DisputeKitClassicUniversity_Implementation.json
  contracts/deployments/arbitrumSepoliaDevnet/DisputeKitClassicUniversity_Proxy.json
  contracts/deployments/arbitrumSepoliaDevnet/DisputeResolverUniversity.json
  contracts/deployments/arbitrumSepoliaDevnet/DisputeTemplateRegistryUniversity.json
  contracts/deployments/arbitrumSepoliaDevnet/DisputeTemplateRegistryUniversity_Implementation.json
  contracts/deployments/arbitrumSepoliaDevnet/DisputeTemplateRegistryUniversity_Proxy.json
  contracts/deployments/arbitrumSepoliaDevnet/KlerosCoreUniversity.json
  contracts/deployments/arbitrumSepoliaDevnet/KlerosCoreUniversity_Implementation.json
  contracts/deployments/arbitrumSepoliaDevnet/KlerosCoreUniversity_Proxy.json
  contracts/deployments/arbitrumSepoliaDevnet/SortitionModuleUniversity.json
  contracts/deployments/arbitrumSepoliaDevnet/SortitionModuleUniversity_Implementation.json
  contracts/deployments/arbitrumSepoliaDevnet/SortitionModuleUniversity_Proxy.json
  contracts/deployments/contractsEthers.ts
  contracts/deployments/contractsViem.ts
  contracts/deployments/devnet.viem.ts
  contracts/scripts/utils/contracts.ts
  contracts/scripts/utils/execution.ts
  contracts/src/proxy/KlerosProxies.sol
  contracts/test/integration/getContractsEthers.test.ts
  contracts/test/integration/getContractsViem.test.ts
Labels: Package: Contracts

#2141 chore: deploy-university-subgraph
  subgraph/core-university/subgraph.template.yaml
  subgraph/core-university/subgraph.yaml
Labels: Package: Subgraph

#2117 Court features selection
  web/src/components/DisputeFeatures/Features/ClassicVote.tsx
  web/src/components/DisputeFeatures/Features/GatedErc1155.tsx
  web/src/components/DisputeFeatures/Features/GatedErc20.tsx
  web/src/components/DisputeFeatures/Features/index.tsx
  web/src/components/DisputeFeatures/GroupsUI.tsx
  web/src/consts/disputeFeature.ts
  web/src/context/NewDisputeContext.tsx
  web/src/hooks/queries/useCourtDetails.ts
  web/src/pages/Resolver/Parameters/Court.tsx
  web/src/pages/Resolver/Parameters/Court/FeatureSelection/FeatureSkeleton.tsx
  web/src/pages/Resolver/Parameters/Court/FeatureSelection/index.tsx
  web/src/pages/Resolver/Parameters/Court/index.tsx
Labels: Type: Enhancement :sparkles:, Package: Web
