Repository kleros/kleros-v2, pull requests merged in 2025-01, with the labels that each got.

#1825 feat(web): add-subgraph-status-banner
  web/package.json
  web/src/layout/Header/index.tsx
  yarn.lock
Labels: Type: Feature🗿, Package: Web

#1833 Fix/kleros app resolution
  .github/workflows/contracts-testing.yml
  .github/workflows/pr-labels.yml
  kleros-app/package.json
  package.json
  web-devtools/package.json
  web/package.json
  yarn.lock
Labels: Type: Bug :bug:, Type: Toolchain ⚒️

#1835 chore: workflow update, re-enable yarn hardened mode
  .github/workflows/contracts-testing.yml
  .github/workflows/sentry-release.yml
Labels: Type: Maintenance :construction:, Type: Toolchain ⚒️

#1831 Fix: Ensure that SDK getDispute() returns the RTA/Invalid answer
  kleros-sdk/package.json
  kleros-sdk/src/utils/getDispute.ts
  kleros-sdk/test/getDispute.test.ts
Labels: Type: Bug :bug:, Package: SDK

#1804 DisputeKit with token gating
  contracts/src/arbitration/dispute-kits/DisputeKitGated.sol
Labels: Type: Feature🗿, Package: Contracts

#1844 Missing react-use dependency in web-tools
  web-devtools/package.json
  yarn.lock
Labels: Type: Bug :bug:

#1848 Court configs: new oracle court, edited spanish non-technical court
  contracts/config/courts.v2.devnet.json
  contracts/config/courts.v2.mainnet-neo.json
  contracts/config/courts.v2.testnet.json
  contracts/config/policies.v2.devnet.json
  contracts/config/policies.v2.mainnet-neo.json
  contracts/config/policies.v2.testnet.json
  contracts/config/policies.v2/Curation-Court-Policy.json
  contracts/config/policies.v2/English-Language-Court-Policy.json
  contracts/config/policies.v2/General-Court-Policy.json
  contracts/package.json
  contracts/scripts/populateCourts.ts
  contracts/scripts/populatePolicyRegistry.ts
  contracts/scripts/setPoliciesURIs.sh
  web/src/pages/Courts/CourtDetails/Description.tsx
  web/src/styles/global-style.ts
Labels: Type: Enhancement :sparkles:, Package: Web

#1851 Fix: regex vulnerable to super-linear runtime due to excessive backtracking
  web/src/utils/commify.ts
Labels: Type: Bug :bug:, Package: Web

#1850 Refactor/graphql batching and optimisations
  web/package.json
  web/src/consts/index.ts
  web/src/context/GraphqlBatcher.tsx
  web/src/hooks/queries/useAllCasesQuery.ts
  web/src/hooks/queries/useClassicAppealQuery.ts
  web/src/hooks/queries/useCourtDetails.ts
  web/src/hooks/queries/useCourtTree.ts
  web/src/hooks/queries/useDisputeDetailsQuery.ts
  web/src/hooks/queries/useDisputeMaintenanceQuery.ts
  web/src/hooks/queries/useJurorStakeDetailsQuery.ts
  web/src/hooks/queries/useUser.ts
  web/src/hooks/queries/useVotingHistory.ts
  yarn.lock
Labels: Type: Enhancement :sparkles:, Package: Web

#1854 Fix: form label association with control
  web/src/pages/Cases/CaseDetails/Appeal/Classic/StageExplainer.tsx
Labels: Type: Enhancement :sparkles:, Package: Web

#1840 feat: jurors page
  subgraph/core/schema.graphql
  subgraph/core/src/KlerosCore.ts
  subgraph/core/src/datapoint.ts
  subgraph/core/src/entities/User.ts
  subgraph/package.json
  web/README.md
  web/src/app.tsx
  web/src/assets/svgs/icons/ranking.svg
  web/src/components/BlueIconTextButtonContainer.tsx
  web/src/components/EvidenceCard.tsx
  web/src/components/ExtraStatsDisplay.tsx
  web/src/components/HowItWorks.tsx
  web/src/components/JurorsLeaderboardButton.tsx
  web/src/components/Popup/MiniGuides/JurorLevels.tsx
  web/src/hooks/queries/useJurorsByCoherenceScore.ts
  web/src/hooks/queries/useTopUsersByCoherenceScore.ts
  web/src/hooks/queries/useTotalLeaderboardJurors.ts
  web/src/layout/Header/navbar/Explore.tsx
  web/src/layout/Header/navbar/Menu/Settings/General/WalletAndProfile.tsx
  web/src/layout/Header/navbar/Menu/Settings/General/index.tsx
  web/src/layout/Header/navbar/Menu/Settings/Notifications/index.tsx
  web/src/layout/Header/navbar/Menu/Settings/index.tsx
  web/src/pages/Cases/CaseDetails/Voting/VotesDetails/AccordionTitle.tsx
  web/src/pages/Courts/CourtDetails/TopSearch.tsx
  web/src/pages/Home/Community/index.tsx
  web/src/pages/Home/CourtOverview/Stats.tsx
  web/src/pages/Home/TopJurors/Header/DesktopHeader.tsx
  web/src/pages/Home/TopJurors/Header/MobileHeader.tsx
  web/src/pages/Home/TopJurors/JurorCard/Coherence.tsx
  web/src/pages/Home/TopJurors/JurorCard/DesktopCard.tsx
  web/src/pages/Home/TopJurors/JurorCard/JurorLevel.tsx
  web/src/pages/Home/TopJurors/JurorCard/JurorTitle.tsx
  web/src/pages/Home/TopJurors/JurorCard/MobileCard.tsx
  web/src/pages/Home/TopJurors/JurorCard/index.tsx
  web/src/pages/Home/TopJurors/index.tsx
  web/src/pages/Jurors/DisplayJurors.tsx
  web/src/pages/Jurors/Search.tsx
  web/src/pages/Jurors/Stats.tsx
  web/src/pages/Jurors/StatsAndFilters.tsx
  web/src/pages/Jurors/index.tsx
  web/src/pages/Profile/Courts/CourtCard/CourtName.tsx
  web/src/pages/Profile/Courts/CourtCard/Stake.tsx
  web/src/pages/Profile/Courts/CourtCard/index.tsx
  web/src/pages/Profile/Courts/Header.tsx
  web/src/pages/Profile/Courts/index.tsx
  web/src/pages/Profile/JurorInfo/Coherence.tsx
  web/src/pages/Profile/JurorInfo/Header.tsx
  web/src/pages/Profile/JurorInfo/JurorRewards.tsx
  web/src/pages/Profile/JurorInfo/PixelArt.tsx
  web/src/pages/Profile/JurorInfo/StakingRewards.tsx
  web/src/pages/Profile/JurorInfo/TokenRewards.tsx
  web/src/pages/Profile/JurorInfo/index.tsx
  web/src/pages/Profile/index.tsx
  web/src/utils/getCoherencePercent.tsx
  web/src/utils/userLevelCalculation.ts
Labels: Type: Feature🗿, Package: Web

#1839 Fix/use answer id in voting
  kleros-sdk/src/dataMappings/utils/disputeDetailsSchema.ts
  kleros-sdk/src/dataMappings/utils/populateTemplate.ts
  kleros-sdk/src/utils/getDispute.ts
  subgraph/core/schema.graphql
  subgraph/core/src/DisputeKitClassic.ts
  subgraph/core/src/entities/ClassicContribution.ts
  subgraph/core/src/entities/ClassicRound.ts
  subgraph/package.json
  web/src/components/Verdict/DisputeTimeline.tsx
  web/src/hooks/queries/useClassicAppealQuery.ts
  web/src/hooks/useClassicAppealContext.tsx
  web/src/pages/Cases/CaseDetails/Appeal/AppealHistory.tsx
  web/src/pages/Cases/CaseDetails/Appeal/Classic/Fund.tsx
  web/src/pages/Cases/CaseDetails/Appeal/Classic/Options/StageOne.tsx
  web/src/pages/Cases/CaseDetails/Appeal/Classic/Options/StageTwo.tsx
  web/src/pages/Cases/CaseDetails/Appeal/Classic/StageExplainer.tsx
  web/src/pages/Cases/CaseDetails/Appeal/Classic/index.tsx
  web/src/pages/Cases/CaseDetails/Voting/Classic/Commit.tsx
  web/src/pages/Cases/CaseDetails/Voting/Classic/OptionsContainer.tsx
  web/src/pages/Cases/CaseDetails/Voting/Classic/Reveal.tsx
  web/src/pages/Cases/CaseDetails/Voting/VotesDetails/AccordionTitle.tsx
  web/src/pages/Cases/CaseDetails/Voting/VotesDetails/index.tsx
  web/src/pages/Profile/JurorInfo/JurorRewards.tsx
  web/src/utils/getVoteChoice.ts
Labels: Priority: Critical :fire:, Type: Bug :bug:, Package: Web, Package: Subgraph
