Repository kleros/kleros-v2, pull requests merged in 2025-05, with the labels that each got.

#1968 Contracts: do not call getRoundInfo from a mutating function
  contracts/README.md
  contracts/deploy/upgrade-dispute-kit-v0.9.3.ts
  contracts/deploy/upgrade-kleros-core-v0.9.3.ts
  contracts/deployments/arbitrumSepoliaDevnet/DisputeKitClassic.json
  contracts/deployments/arbitrumSepoliaDevnet/DisputeKitClassic_Implementation.json
  contracts/deployments/arbitrumSepoliaDevnet/KlerosCore.json
  contracts/deployments/arbitrumSepoliaDevnet/KlerosCore_Implementation.json
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/KlerosCoreBase.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassic.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassicBase.sol
  contracts/src/arbitration/dispute-kits/DisputeKitGated.sol
  contracts/src/arbitration/dispute-kits/DisputeKitSybilResistant.sol
Labels: Type: Bug :bug:, Type: Security Patch🛡️, Package: Contracts

#1996 fix(web): remove-rfa-option-in-duplicate-flow
  web/src/pages/Resolver/Landing/index.tsx
Labels: Type: Bug :bug:, Package: Web

#2002 fix: avoid unnecessary calls draw() when no juror is available
  contracts/deploy/upgrade-all.ts
  contracts/scripts/keeperBot.ts
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/KlerosCoreBase.sol
  contracts/src/arbitration/KlerosCoreNeo.sol
Labels: Type: Bug :bug:, Compatibility: ABI change 🗯, Package: Contracts, Package: Bots

#1994 feat: shutter support in dispute commiting & appeal
  web/package.json
  web/src/hooks/queries/useDisputeDetailsQuery.ts
  web/src/pages/Cases/CaseDetails/Appeal/Shutter/Fund.tsx
  web/src/pages/Cases/CaseDetails/Appeal/Shutter/index.tsx
  web/src/pages/Cases/CaseDetails/Appeal/index.tsx
  web/src/pages/Cases/CaseDetails/Timeline.tsx
  web/src/pages/Cases/CaseDetails/Voting/Classic/Commit.tsx
  web/src/pages/Cases/CaseDetails/Voting/Classic/Reveal.tsx
  web/src/pages/Cases/CaseDetails/Voting/Classic/Vote.tsx
  web/src/pages/Cases/CaseDetails/Voting/JustificationArea.tsx
  web/src/pages/Cases/CaseDetails/Voting/OptionsContainer.tsx
  web/src/pages/Cases/CaseDetails/Voting/Shutter/Commit.tsx
  web/src/pages/Cases/CaseDetails/Voting/Shutter/Reveal.tsx
  web/src/pages/Cases/CaseDetails/Voting/Shutter/index.tsx
  web/src/pages/Cases/CaseDetails/Voting/index.tsx
  web/src/pages/Cases/CaseDetails/index.tsx
  web/src/utils/shutter.ts
  web/vite.config.js
  yarn.lock
Labels: Type: Feature🗿, Package: Web
