Repository kleros/kleros-v2, pull requests merged in 2025-08, with the labels that each got.

#2060 fix(DK): no empty addresses after draw
  contracts/src/arbitration/dispute-kits/DisputeKitClassicBase.sol
  contracts/test/foundry/KlerosCore.t.sol
Labels: Type: Bug :bug:, Package: Contracts

#2041 Contracts: use SafeSend for ETH transfers
  contracts/deploy/00-home-chain-arbitration-neo.ts
  contracts/deploy/00-home-chain-arbitration-university.ts
  contracts/deploy/00-home-chain-arbitration.ts
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/KlerosCoreBase.sol
  contracts/src/arbitration/KlerosCoreNeo.sol
  contracts/src/arbitration/KlerosGovernor.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassic.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassicBase.sol
  contracts/src/arbitration/dispute-kits/DisputeKitGated.sol
  contracts/src/arbitration/dispute-kits/DisputeKitGatedShutter.sol
  contracts/src/arbitration/dispute-kits/DisputeKitShutter.sol
  contracts/src/arbitration/dispute-kits/DisputeKitSybilResistant.sol
  contracts/src/libraries/SafeSend.sol
  contracts/test/foundry/KlerosCore.t.sol
Labels: Type: Enhancement :sparkles:, Package: Contracts

#2066 Feat: Dispute Kits helper in contracts package
  contracts/CHANGELOG.md
  contracts/deployments/disputeKitsViem.ts
  contracts/deployments/index.ts
  contracts/package.json
  contracts/scripts/getDisputeKits.ts
  package.json
  yarn.lock
Labels: Type: Feature🗿, Package: Contracts

#2082 fix: coverage script breaking after enabling viaIR
  contracts/.solcover.js
  contracts/hardhat.config.ts
  contracts/scripts/coverage.sh
Labels: Type: Maintenance :construction:, Type: Toolchain ⚒️

#2083 Contracts: interfaces pragma set to any 0.8 solc version
  contracts/src/arbitration/interfaces/IArbitrableV2.sol
  contracts/src/arbitration/interfaces/IArbitratorV2.sol
  contracts/src/arbitration/interfaces/IDisputeKit.sol
  contracts/src/arbitration/interfaces/IDisputeTemplateRegistry.sol
  contracts/src/arbitration/interfaces/IEvidence.sol
  contracts/src/arbitration/interfaces/ISortitionModule.sol
  contracts/src/gateway/interfaces/IForeignGateway.sol
  contracts/src/gateway/interfaces/IHomeGateway.sol
  contracts/src/rng/IRandomizer.sol
  contracts/src/rng/RNG.sol
Labels: Type: Enhancement :sparkles:, Package: Contracts

#2086 Refactor: tidying up the contracts folder
  contracts/src/arbitration/evidence/ModeratedEvidenceModule.sol
  contracts/src/kleros-v1/kleros-liquid-xdai/xKlerosLiquidV2.sol
  contracts/src/kleros-v1/libraries/SortitionSumTreeFactory.sol
  contracts/src/libraries/CappedMath.sol
Labels: Type: Enhancement :sparkles:, Package: Contracts

#2054 RNG Fallback
  contracts/CHANGELOG.md
  contracts/deploy/00-ethereum-pnk.ts
  contracts/deploy/00-home-chain-arbitration-neo.ts
  contracts/deploy/00-home-chain-arbitration.ts
  contracts/deploy/00-home-chain-pnk-faucet.ts
  contracts/deploy/00-home-chain-resolver.ts
  contracts/deploy/00-rng-chainlink.ts
  contracts/deploy/00-rng-randomizer.ts
  contracts/deploy/00-rng.ts
  contracts/deploy/change-arbitrable-dispute-template.ts
  contracts/deploy/change-sortition-module-rng.ts
  contracts/src/arbitration/SortitionModule.sol
  contracts/src/arbitration/SortitionModuleBase.sol
  contracts/src/arbitration/SortitionModuleNeo.sol
  contracts/src/rng/BlockhashRNG.sol
  contracts/src/rng/ChainlinkRNG.sol
  contracts/src/rng/IRNG.sol
  contracts/src/rng/IncrementalNG.sol
  contracts/src/rng/RNG.sol
  contracts/src/rng/RNGWithFallback.sol
  contracts/src/rng/RandomizerRNG.sol
  contracts/src/test/RNGMock.sol
  contracts/test/arbitration/dispute-kit-gated.ts
  contracts/test/arbitration/draw.ts
  contracts/test/arbitration/staking-neo.ts
  contracts/test/arbitration/staking.ts
  contracts/test/foundry/KlerosCore.t.sol
  contracts/test/integration/index.ts
  contracts/test/proxy/index.ts
  contracts/test/rng/index.ts
  cspell.json
Labels: Type: Feature🗿, Package: Contracts

#2052 feat(web): validation of the token address for ERC20/721/1155 types
  web/src/context/NewDisputeContext.tsx
  web/src/hooks/useTokenAddressValidation.ts
  web/src/pages/Resolver/NavigationButtons/NextButton.tsx
  web/src/pages/Resolver/Parameters/Court.tsx
  web/src/utils/extradataToTokenInfo.ts
Labels: Type: Feature🗿, Package: Web

#2099 Automatically stake PNK rewards instead of transferring them
  contracts/CHANGELOG.md
  contracts/src/arbitration/KlerosCoreBase.sol
  contracts/src/arbitration/SortitionModuleBase.sol
  contracts/src/arbitration/interfaces/ISortitionModule.sol
  contracts/src/arbitration/university/KlerosCoreUniversity.sol
  contracts/src/arbitration/university/SortitionModuleUniversity.sol
  contracts/test/foundry/KlerosCore.t.sol
Labels: Type: Feature🗿, Package: Contracts
