Repository kleros/kleros-v2, pull requests merged in 2025-02, with the labels that each got.

#1870 chore(web-devtools): initialize the SDK
  web-devtools/.gitignore
  web-devtools/src/context/Web3Provider.tsx
Labels: Type: Enhancement :sparkles:, Package: Web

#1872 feat: snapshot proxy
  contracts/README.md
  contracts/deploy/00-home-chain-arbitration-neo.ts
  contracts/deploy/00-home-chain-arbitration.ts
  contracts/deployments/arbitrum/KlerosCoreSnapshotProxy.json
  contracts/deployments/arbitrumSepolia/KlerosCoreSnapshotProxy.json
  contracts/deployments/arbitrumSepoliaDevnet/KlerosCoreSnapshotProxy.json
  contracts/src/arbitration/view/KlerosCoreSnapshotProxy.sol
  contracts/test/foundry/KlerosCore.t.sol
Labels: Type: Feature🗿, Package: Contracts

#1866 chore(web): migrate-to-reown
  kleros-app/README.md
  kleros-app/package.json
  kleros-app/src/lib/atlas/providers/AtlasProvider.tsx
  web-devtools/package.json
  web-devtools/src/components/ConnectWallet/index.tsx
  web-devtools/src/consts/chains.ts
  web-devtools/src/context/Web3Provider.tsx
  web-devtools/src/utils/getDisputeRequestParamsFromTxn.ts
  web/package.json
  web/src/components/ConnectWallet/index.tsx
  web/src/consts/chains.ts
  web/src/consts/eip712-messages.ts
  web/src/context/AtlasProvider.tsx
  web/src/context/Web3Provider.tsx
  web/src/pages/GetPnk/WalletProvider.tsx
  yarn.lock
Labels: Type: Maintenance :construction:, Package: Web
