Repository kleros/kleros-v2, pull requests merged in 2025-04, with the labels that each got.

#1862 SortitionModule upgrade to add changeGovernor()
  contracts/deploy/upgrade-sortition-module-v0.9.0.ts
  contracts/src/arbitration/SortitionModule.sol
  contracts/src/arbitration/SortitionModuleBase.sol
  contracts/src/arbitration/SortitionModuleNeo.sol
Labels: Type: Bug :bug:, Package: Contracts

#1853 Various contract scripts improvements
  contracts/config/courts.v2.devnet.json
  contracts/config/courts.v2.mainnet-neo.json
  contracts/config/policies.v2.devnet.json
  contracts/config/policies.v2.mainnet-neo.json
  contracts/hardhat.config.ts
  contracts/package.json
  contracts/scripts/changeGovernor.ts
  contracts/scripts/getDisputeTemplate.ts
  contracts/scripts/keeperBot.ts
  contracts/scripts/populateCourts.ts
  contracts/scripts/populatePolicyRegistry.ts
  contracts/scripts/utils/contracts.ts
  contracts/scripts/utils/execution.ts
  contracts/scripts/utils/tx-builder.ts
Labels: Type: Enhancement :sparkles:, Package: Contracts

#1955 feat(DK): pass commit and appeal quicker
  contracts/src/arbitration/KlerosCoreBase.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassicBase.sol
  contracts/src/arbitration/interfaces/IDisputeKit.sol
  contracts/test/foundry/KlerosCore.t.sol
Labels: Type: Feature🗿, Compatibility: ABI change 🗯, Package: Contracts
